:host > div {
    display: grid;
    > mat-checkbox {
        padding: 3px 4px;
        min-width: 0;
        span {
            &.label {
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 1em;
            }

            &.count {
                border-radius: 20px;
                padding: 0 6px;
            }
        }
    }
}

:host ::ng-deep mat-checkbox {
    .mat-checkbox-layout {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .mat-checkbox-label {
        display: flex;
        width: 100%;
        min-width: 0;
        align-items: center;
    }
    .mat-checkbox-frame {
        border-width: 1px;
    }
}
