:host > div {
    display: grid;
    > mat-checkbox {
        // TODO: could not yet reproduce the old style without spacing on the left
        padding: 3px 4px 3px 0;
        min-width: 0;
        height: 24px;

        ::ng-deep .mdc-label {
            padding-left: 0;
        }

        span {
            &.label {
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 1em;
            }

            &.count {
                border-radius: 20px;
                padding: 0 6px;
            }
        }
    }
}

:host ::ng-deep mat-checkbox {
    .mdc-form-field {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .mdc-label {
        display: flex;
        width: 100%;
        min-width: 0;
        align-items: center;
    }
}
