@use 'variables' as *;

@mixin multivalue-checkbox-theme() {
    app-multivalue-checkbox {
        mat-checkbox {
            &:not(.checked) {
                .mdc-checkbox__background {
                    border-color: $secondary !important;
                }
                span.label {
                    color: $secondary-text;
                }
                span.count {
                    color: $secondary-text;
                    background-color: $surface-dim;
                }
            }
            &.checked {
                span.count {
                    color: $on-primary;
                    background-color: $pink-default;
                }
                &.mat-accent .mdc-checkbox__background {
                    border-color: $primary-dark !important;
                    background-color: $primary-dark !important;
                }
            }
        }
    }
}

@mixin multivalue-checkbox-typography() {
    app-multivalue-checkbox {
        mat-checkbox {
            // decrease font-size + line-height of label
            .label {
                font-size: $font-size-x-small;
                line-height: $line-height-medium;
            }
            // change font-size + font-weight of filter count
            .count {
                font-size: $font-size-small;
                font-weight: $font-weight-x-bold;
            }
        }
    }
}
