@use '@angular/material' as mat;
@import '../../../../../additional-colors';
@import '../../../functions';

@mixin multivalue-checkbox-theme($theme) {
    app-multivalue-checkbox {
        mat-checkbox {
            &:not(.checked) {
                .mdc-checkbox__background {
                    border-color: mat.get-theme-color($theme, on-surface-variant) !important;
                }
                span.label {
                    color: mat.get-theme-color($theme, on-surface-variant);
                }
                span.count {
                    color: mat.get-theme-color($theme, on-surface-variant);
                    @if mat.get-theme-type($theme) == light {
                        background-color: mat.get-theme-color($theme, surface-dim);
                    } @else {
                        background-color: mat.get-theme-color($theme, neutral, 35);
                    }
                }
            }
            &.checked {
                span.count {
                    color: mat.get-theme-color($theme, neutral, 99);
                    background-color: $pink-default;
                }
                &.mat-accent .mdc-checkbox__background {
                    @if mat.get-theme-type($theme) == light {
                        border-color: mat.get-theme-color($theme, primary, 25) !important;
                        background-color: mat.get-theme-color($theme, primary, 25) !important;
                    } @else {
                        border-color: mat.get-theme-color($theme, primary) !important;
                        background-color: mat.get-theme-color($theme, primary) !important;
                    }
                }
            }
        }
    }
}

@mixin multivalue-checkbox-typography($typography) {
    app-multivalue-checkbox {
        mat-checkbox {
            .label {
                @include mat.m2-typography-level($typography, body-2);
            }
            .count {
                @include mat.m2-typography-level($typography, body-2);
                font-weight: 700;
                font-family: Montserrat-Bold, serif;
            }
        }
    }
}
