<button
  mat-icon-button
  i18n-aria-label
  aria-label="Go to previous page"
  (click)="goToPage(pageIndex - 1)"
  [disabled]="pageIndex === 0"
>
  <mat-icon>chevron_left</mat-icon>
</button>
<ng-container *ngIf="showGoToFirst">
  <a class="page-number" href="javascript:" (click)="goToPage(0)">1</a>
  <span class="mat-body-2">...</span>
</ng-container>
<a
  class="page-number"
  *ngFor="let page of beforePages"
  href="javascript:"
  (click)="goToPage(page)"
  >{{ page + 1 }}</a
>
<span class="page-number active">{{ pageIndex + 1 }}</span>
<a
  class="page-number"
  *ngFor="let page of afterPages"
  href="javascript:"
  (click)="goToPage(page)"
  >{{ page + 1 }}</a
><button
  mat-icon-button
  i18n-aria-label
  aria-label="Go to next page"
  (click)="goToPage(pageIndex + 1)"
  [disabled]="pageIndex === totalPages - 1"
>
  <mat-icon>chevron_right</mat-icon>
</button>
