@import '~@angular/material/theming';
@import '../functions';

@mixin paginator-theme($theme) {
    $primary-foreground-color: primary-foreground-color($theme);
    $custom-accent: map-get($theme, custom-accent);

    app-paginator {
        .page-number {
            &.active {
                background-color: mat-color($custom-accent, accent1);
                color: mat-color($custom-accent, accent1-contrast);
            }
            &:not(.active) {
                color: $primary-foreground-color;
            }
        }
    }
}
