@import '~@angular/material/theming';
@import '../functions';

@mixin paginator-theme($theme) {
    $primary-foreground-color: primary-foreground-color($theme);
    $primary: map-get($theme, primary);

    app-paginator {
        .page-number {
            &.active {
                background-color: mat-color($primary);
                color: mat-color($primary, default-contrast);
            }
            &:not(.active) {
                color: $primary-foreground-color;
            }
        }
    }
}

@mixin paginator-typography($typography) {
    app-paginator {
        .page-number {
            @include mat-typography-level-to-styles($typography, button);
        }
    }
}
