<a
  class="arrow"
  mat-icon-button
  color="primary"
  i18n-aria-label
  aria-label="Previous page"
  routerLink="."
  [queryParams]="{ pageIndex: pageIndex - 1 }"
  queryParamsHandling="merge"
  [disabled]="pageIndex === 0"
>
  <mat-icon>arrow_back</mat-icon>
</a>
<ng-container *ngIf="beforePages.length > 0 && beforePages[0] > 0">
  <a class="page-number" routerLink="." [queryParams]="{ pageIndex: 0 }" queryParamsHandling="merge"
    >1</a
  >
  <span *ngIf="beforePages[0] > 1" class="ellipsis">...</span>
</ng-container>
<a
  class="page-number"
  *ngFor="let page of beforePages"
  routerLink="."
  [queryParams]="{ pageIndex: page }"
  queryParamsHandling="merge"
  >{{ page + 1 }}</a
>
<span class="page-number active">{{ pageIndex + 1 }}</span>
<a
  class="page-number"
  *ngFor="let page of afterPages"
  routerLink="."
  [queryParams]="{ pageIndex: page }"
  queryParamsHandling="merge"
  >{{ page + 1 }}</a
>
<span
  *ngIf="afterPages.length > 0 && afterPages[afterPages.length - 1] < totalPages - 1"
  class="ellipsis"
  >...</span
>
<a
  class="arrow"
  mat-icon-button
  color="primary"
  i18n-aria-label
  aria-label="Next page"
  routerLink="."
  [queryParams]="{ pageIndex: pageIndex + 1 }"
  queryParamsHandling="merge"
  [disabled]="pageIndex === totalPages - 1"
>
  <mat-icon>arrow_forward</mat-icon>
</a>
