:host {
    display: flex;
    align-items: center;
}

.arrow {
    margin: 0 5px;
}

.page-number {
    padding: 11px 14px;
    margin: 0 2px;
    border-radius: 5px;
    &:not(:hover) {
        text-decoration: none;
    }
}

.ellipsis {
    margin: 0 8px;
}

a[disabled] {
    pointer-events: none;
}
