@import '../../../../colors';

.add-swimlane-container {
    --position-left: 24px;

    position: absolute;
    top: calc(-40px / 2);
    left: var(--position-left);
    width: calc(100% - 2 * var(--position-left));
    z-index: 1000;
    display: flex;
    align-items: center;

    &.position-bottom {
        top: unset;
        bottom: calc(-40px / 2);
    }

    .container-border {
        border-bottom: 2px solid $gray-medium;
        border-radius: 1px;
        width: calc(50% - var(--position-left));
    }

    .add-swimlane-btn {
        margin-left: 8px;
        margin-right: 8px;
    }
}
