<div class="add-swimlane-container">
  <div class="container-border"></div>
  <button mat-mini-fab class="add-swimlane-btn action-btn" [matMenuTriggerFor]="addComponentMenu">
    <i esIcon="add"></i>
  </button>
  <div class="container-border"></div>
  <!-- TODO: currently static options due to missing context in [matMenuTriggerFor] -->
  <mat-menu #addComponentMenu="matMenu">
    <div class="mat-menu-header-container">
      {{ 'TOPIC_PAGE.SWIMLANE.SELECT_ELEMENT.HEADING' | translate }}
    </div>
    <button mat-menu-item [matMenuTriggerFor]="containerGrid">
      <mat-icon svgIcon="one_column"></mat-icon>
      <span>
        {{ 'TOPIC_PAGE.SWIMLANE.SELECT_ELEMENT.CONTAINER_ELEMENT' | translate }}
      </span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="accordionGrid">
      <mat-icon svgIcon="storage"></mat-icon>
      <span>
        {{ 'TOPIC_PAGE.SWIMLANE.SELECT_ELEMENT.ACCORDION_ELEMENT' | translate }}
      </span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="anchorGrid">
      <mat-icon svgIcon="anchor"></mat-icon>
      <span>
        {{ 'TOPIC_PAGE.SWIMLANE.SELECT_ELEMENT.ANCHOR_MENU' | translate }}
      </span>
    </button>
  </mat-menu>

  <!-- menu for both types "container" and "accordion" with the same content defined in #gridConfiguration -->
  <mat-menu #containerGrid="matMenu">
    <ng-container
      *ngTemplateOutlet="gridConfiguration; context: { type: 'container' }"
    ></ng-container>
  </mat-menu>

  <mat-menu #accordionGrid="matMenu">
    <ng-container
      *ngTemplateOutlet="gridConfiguration; context: { type: 'accordion' }"
    ></ng-container>
  </mat-menu>

  <mat-menu #anchorGrid="matMenu">
    <ng-container *ngTemplateOutlet="gridConfiguration; context: { type: 'anchor' }"></ng-container>
  </mat-menu>

  <ng-template #gridConfiguration let-type="type">
    <div class="mat-menu-header-container">
      {{ 'TOPIC_PAGE.SWIMLANE.SELECT_LAYOUT.HEADING' | translate }}
    </div>
    <button
      mat-menu-item
      *ngFor="let option of swimlaneGridOptions"
      (click)="configureSwimlaneAndGrid(type, option.value)"
    >
      <i
        class="material-icons-outlined"
        *ngIf="!!option.icon; else checkSvgIcon"
        [esIcon]="option.icon"
      ></i>
      <ng-template #checkSvgIcon>
        <mat-icon *ngIf="!!option.svgIcon" [svgIcon]="option.svgIcon"></mat-icon>
      </ng-template>
      {{ 'TOPIC_PAGE.SWIMLANE.SELECT_LAYOUT.' + option.viewValue | translate }}
    </button>
  </ng-template>
</div>
