<div class="add-swimlane-container" [class.position-bottom]="position === 'bottom'">
  <div class="container-border"></div>
  <button mat-mini-fab class="add-swimlane-btn action-btn" [matMenuTriggerFor]="addComponentMenu">
    <i esIcon="add"></i>
  </button>
  <div class="container-border"></div>
  <mat-menu #addComponentMenu="matMenu">
    <div class="mat-menu-header-container">Inhaltselement hinzufügen</div>
    <button
      mat-menu-item
      *ngFor="let option of swimlaneTypeOptions"
      [disabled]="requestInProgress"
      (click)="addSwimlane(option.value)"
    >
      <i class="material-icons-outlined" *ngIf="!!option.icon" [esIcon]="option.icon"></i>
      <span>{{ option.viewValue }}</span>
    </button>
  </mat-menu>
</div>
