@import '~@angular/material/theming';
@import '../functions';

@mixin result-card-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary-foreground-color: primary-foreground-color($theme);

    app-result-card {
        > mat-card {
            > a.details-link {
                color: $primary-foreground-color;
            }
            > .top-infos {
                > div {
                    background-color: mat-color($background, card);
                }
            }
            > mat-card-content {
                mat-icon {
                    color: mat-color($foreground, icon);
                }
            }
            > a.source {
                color: mat-color($foreground, secondary-text);
            }
        }
    }
}
