:host {
    position: relative;
    display: flex;
    &[data-style='compact'] {
        align-items: start;
    }
}

$card-border-radius: 15px;

mat-card {
    display: flex;
    flex-grow: 1;
    border-radius: $card-border-radius;
    overflow: hidden;
    word-break: break-word;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) !important;
    transition: box-shadow 0.3s, transform 0.3s;
    &:hover {
        transform: translate(0, -4px);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25) !important;
    }
    &.app-result-card-selected::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        border-radius: $card-border-radius;
        border-width: 3px;
        border-style: solid;
    }
    > * {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        min-width: 0;
    }
}
