:host {
    display: flex;
}

mat-card {
    display: flex;
    flex-grow: 1;
    border-radius: 8px;
    overflow: hidden;

    > * {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}
