@use '@angular/material' as mat;
@import '../../../functions';

@mixin paginator-theme($theme) {
    app-paginator {
        .ellipsis,
        .page-number,
        .arrow:not(.mat-mdc-button-disabled) {
            @if mat.get-theme-type($theme) == light {
                color: mat.get-theme-color($theme, primary, 25);
            } @else {
                color: mat.get-theme-color($theme, primary);
            }
        }
        .page-number.active {
            @if mat.get-theme-type($theme) == light {
                background-color: rgba(mat.get-theme-color($theme, secondary, 70), 0.5);
            } @else {
                background-color: mat.get-theme-color($theme, neutral, 30);
            }
        }
    }
}

@mixin paginator-typography($typography) {
    app-paginator {
        .page-number,
        .ellipsis {
            @include mat.m2-typography-level($typography, button);
        }
    }
}
