:host {
    display: flex;
    align-items: center;
    max-width: 100%;
    > * {
        min-width: 0;
    }
}

.arrow {
    margin: 0 5px;
}

.page-number {
    margin: 0 2px;
    width: 36px;
    line-height: 43px;
    text-align: center;
    border-radius: 5px;
    &:not(:hover) {
        text-decoration: none;
    }
}

.ellipsis {
    margin: 0 8px;
}

a[disabled] {
    pointer-events: none;
}
