<!--
  Modifications:
    - Remove `role="banner"` from `header` element
    - Rename `header` element to `nav`
    - Replace static URLs with {{ wordpressUrl }}
    - Replace link to suche.wirlernenonline.de with `<a routerLink="/" role="menuitem">Suche</a>`
    - Add `[class.hide-on-mobile]="!mobileMenuOpen"` to `#main-menu`
    - Add `(click)="mobileMenuOpen = !mobileMenuOpen"` to `button.menu-icon`
    - Add `(click)="newsSubMenuOpen = !newsSubMenuOpen"` to "News" `a`
    - Add to "News" sub menu `li`:
      ```
        (mouseenter)="onMouseEnterNews()"
        (mouseleave)="onMouseLeaveNews()"
      ```
    - Add `(click)="onNewsLinkClicked($event)` to "News" sub menu `a`
    - Add `[style.display]="(newsSubMenuOpen | async) ? 'flex' : 'none'"` to "News" sub menu `ul`\
    - Replace `href="#main-content"` on `a.skip-link` with:
      ```
        href
        onclick="return false;"
        (click)="skipTo('MAIN_CONTENT')"
      ```
    - Replace logo src with `./assets/images/wlo-logo.svg`
-->

<nav id="site-header" class="site-header">
  <a
    class="skip-link"
    href
    onclick="return false;"
    (click)="skipTo('MAIN_CONTENT')"
    aria-label="skip-link"
    >Zum Inhalt springen</a
  >
  <div
    class="title-bar"
    data-responsive-toggle="main-menu"
    data-hide-for="large"
    style="display: none"
  >
    <button
      class="menu-icon"
      type="button"
      data-toggle=""
      aria-label="Hauptmenü"
      (click)="mobileMenuOpen = !mobileMenuOpen"
    ></button>
    <a class="mobile-logo-container" href="{{ wordpressUrl }}" aria-label="Link zur Startseite">
      <img class="logo" src="./assets/images/wlo-logo.svg" alt="Logo WLO" />
    </a>
  </div>
  <div
    class="top-bar"
    id="main-menu"
    data-animate="fade-in fade-out"
    [class.hide-on-mobile]="!mobileMenuOpen"
  >
    <div class="top-bar-left position-relative">
      <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
          <div class="auto cell show-for-large">
            <a href="{{ wordpressUrl }}">
              <img class="logo" src="./assets/images/wlo-logo.svg" alt="Logo WLO" />
            </a>
          </div>
          <div class="large-shrink small-12 cell">
            <ul
              class="vertical large-horizontal menu top-menu dropdown"
              data-responsive-menu="drilldown large-dropdown"
              role="menubar"
              data-dropdown-menu="t07ua1-dropdown-menu"
              data-mutate="xyfd5v-responsive-menu"
            >
              <li
                id="menu-item-11613"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11613 menu-item-suche"
                role="none"
              >
                <a routerLink="/" role="menuitem">Suche</a>
              </li>
              <li
                id="menu-item-9932"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9932 menu-item-fachportale"
                role="none"
              >
                <a href="{{ wordpressUrl }}/fachportale/" role="menuitem">Fachportale</a>
              </li>
              <li
                id="menu-item-37338"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37338 menu-item-wirlernenonline"
                role="none"
              >
                <a href="{{ wordpressUrl }}/wirlernenonline/" role="menuitem">Über WLO</a>
              </li>
              <li
                id="menu-item-37339"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-37339 menu-item-news is-dropdown-submenu-parent opens-right"
                role="none"
                aria-haspopup="true"
                aria-label="News"
                (mouseenter)="onMouseEnterNews()"
                (mouseleave)="onMouseLeaveNews()"
              >
                <a
                  href="{{ wordpressUrl }}/news/"
                  role="menuitem"
                  (click)="onNewsLinkClicked($event)"
                  >News</a
                >
                <ul
                  class="vertical menu submenu is-dropdown-submenu first-sub"
                  data-submenu=""
                  role="menubar"
                  [style.display]="(newsSubMenuOpen | async) ? 'flex' : 'none'"
                >
                  <li
                    id="menu-item-37341"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37341 menu-item-neuigkeiten is-submenu-item is-dropdown-submenu-item"
                    role="none"
                  >
                    <a href="{{ wordpressUrl }}/neuigkeiten/" role="menuitem">Blog</a>
                  </li>
                  <li
                    id="menu-item-37337"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37337 menu-item-presse-2 is-submenu-item is-dropdown-submenu-item"
                    role="none"
                  >
                    <a href="{{ wordpressUrl }}/presse-2/" role="menuitem">Presse</a>
                  </li>
                  <li
                    id="menu-item-37342"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37342 menu-item-newsletter is-submenu-item is-dropdown-submenu-item"
                    role="none"
                  >
                    <a href="{{ wordpressUrl }}/newsletter/" role="menuitem">Newsletter</a>
                  </li>
                </ul>
              </li>
              <li
                id="menu-item-37340"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37340 menu-item-oerverstehen"
                role="none"
              >
                <a href="{{ wordpressUrl }}/oerverstehen/" role="menuitem">OER</a>
              </li>
            </ul>
          </div>
          <div class="cell small-12 large-auto">
            <ul class="menu top-call-to-action-menu align-right">
              <li
                id="menu-item-2523"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2523 menu-item-mitmachen"
              >
                <a href="{{ wordpressUrl }}/mitmachen/">Mitmachen</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
