<header id="site-header" class="site-header" role="banner">
  <div
    class="title-bar"
    data-responsive-toggle="main-menu"
    data-hide-for="large"
    style="display: none;"
  >
    <button class="menu-icon" type="button" (click)="mobileOpen = !mobileOpen"></button>
    <a class="mobile-logo-container" href="https://wirlernenonline.de">
      <div class="logo" alt="Logo"></div>
    </a>
  </div>
  <div
    class="top-bar"
    id="main-menu"
    data-animate="fade-in fade-out"
    [style.display]="mobileOpen ? 'flex' : 'none'"
  >
    <div class="top-bar-left position-relative">
      <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
          <div class="auto cell show-for-large">
            <a href="https://wirlernenonline.de">
              <div class="logo" alt="Logo"></div>
            </a>
          </div>
          <div class="large-shrink small-12 cell">
            <ul
              class="vertical large-horizontal menu top-menu dropdown"
              data-responsive-menu="drilldown large-dropdown"
              role="menubar"
              data-dropdown-menu="w99lo7-dropdown-menu"
              data-mutate="nt2xlt-responsive-menu"
            >
              <li
                id="menu-item-57"
                class="menu-item current-menu-item menu-item-type-post_type menu-item-object-page menu-item-57 menu-item-suche"
                role="none"
              >
                <a href="#" role="menuitem">Suche</a>
              </li>
              <li
                id="menu-item-4273"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4273 menu-item-lernstoff"
                role="none"
              >
                <a href="https://wirlernenonline.de/lernstoff/" role="menuitem">Lernstoff</a>
              </li>
              <li
                id="menu-item-3030"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3030 menu-item-tipps is-dropdown-submenu-parent opens-right"
                role="none"
                aria-haspopup="true"
                aria-label="Tipps"
              >
                <a
                  href="javascript:"
                  (click)="tipps.style.display = tipps.style.display == 'flex' ? 'none' : 'flex'"
                  role="menuitem"
                  >Tipps</a
                >
                <ul
                  class="vertical menu submenu is-dropdown-submenu first-sub"
                  data-submenu=""
                  role="menubar"
                  #tipps
                >
                  <li
                    id="menu-item-3031"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3031 menu-item-lehrende is-submenu-item is-dropdown-submenu-item"
                    role="none"
                  >
                    <a href="https://wirlernenonline.de/lehrende/" role="menuitem"
                      >Für Lehrer*innen</a
                    >
                  </li>
                  <li
                    id="menu-item-4248"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4248 menu-item-lernende is-submenu-item is-dropdown-submenu-item"
                    role="none"
                  >
                    <a href="https://wirlernenonline.de/lernende/" role="menuitem"
                      >Für Schüler*innen</a
                    >
                  </li>
                  <li
                    id="menu-item-4250"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4250 menu-item-eltern is-submenu-item is-dropdown-submenu-item"
                    role="none"
                  >
                    <a href="https://wirlernenonline.de/eltern/" role="menuitem">Für Eltern</a>
                  </li>
                  <li
                    id="menu-item-3032"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3032 menu-item-schulen is-submenu-item is-dropdown-submenu-item"
                    role="none"
                  >
                    <a href="https://wirlernenonline.de/schulen/" role="menuitem">Für Schulen</a>
                  </li>
                </ul>
              </li>
              <li
                id="menu-item-2831"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2831 menu-item-neuigkeiten"
                role="none"
              >
                <a href="https://wirlernenonline.de/neuigkeiten/" role="menuitem">Blog</a>
              </li>
              <li
                id="menu-item-17"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17 menu-item-ueber-uns"
                role="none"
              >
                <a href="https://wirlernenonline.de/ueber-uns/" role="menuitem">Über uns</a>
              </li>
            </ul>
          </div>
          <div class="cell small-12 large-auto">
            <ul class="menu top-call-to-action-menu align-right">
              <li
                id="menu-item-2523"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2523 menu-item-mitmachen"
              >
                <a href="https://wirlernenonline.de/mitmachen/">Mitmachen</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
