<form (ngSubmit)="onSubmit()">
  <div
    #searchFieldWrapper
    class="search-field-wrapper"
    [class.multi-line]="searchFieldWrapper.offsetHeight > 53"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <mat-form-field class="search-field" floatLabel="always">
      <mat-label i18n></mat-label>
      <mat-chip-list #chipList>
        <ng-container *ngFor="let category of categories">
          <mat-chip
            *ngFor="let filter of filters[category]"
            class="chip-group-{{ category }}"
            [removable]="true"
            (removed)="removeFilter(category, filter)"
            cdkMonitorElementFocus
          >
            <ng-container
              *ngTemplateOutlet="i18nFacet; context: { $implicit: filter }"
            ></ng-container>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </ng-container>
        <div class="search-field-input-wrapper">
          <img class="search-icon" src="./assets/icons/icon_search.svg" alt="" />
          <input
            #searchInput
            matInput
            type="text"
            [formControl]="searchField"
            [matChipInputFor]="chipList"
            i18n-placeholder
            placeholder="Find suitable content, tools, and sources for teaching..."
            (focus)="showOverlay = true"
            autocomplete="off"
            (keydown.enter)="onSubmit()"
          />
          <button
            *ngIf="searchField.value"
            mat-button
            mat-icon-button
            i18n-aria-label
            aria-label="Clear"
            i18n-matTooltip
            matTooltip="Clear"
            (click)="clear()"
            type="button"
          >
            <mat-icon>close</mat-icon>
          </button>
          <button mat-flat-button color="primary" class="submit-button" type="submit" i18n>
            Search
          </button>
        </div>
      </mat-chip-list>
    </mat-form-field>
  </div>
</form>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showOverlay && hasSuggestions"
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayWidth]="trigger.elementRef.nativeElement.getBoundingClientRect().width"
  (overlayOutsideClick)="onOutsideClick($event)"
>
  <div class="suggestion-card mat-elevation-z2" *ngIf="suggestions">
    <ng-container *ngFor="let category of categories">
      <div class="suggestion-group" *ngIf="suggestions[category]?.length > 0">
        <div class="label-container">
          <label class="category-label" [ngSwitch]="category">
            <!-- <ng-container *ngSwitchCase="'oer'" i18n>Free content</ng-container> -->
            <!-- <span *ngIf="category === 'oer'" class="what-is-oer-link" i18n>What's that?</span> -->
            <ng-container *ngSwitchCase="Facet.Type" i18n>Type</ng-container>
            <ng-container *ngSwitchCase="Facet.EducationalContext" i18n
              >Educational context</ng-container
            >
            <ng-container *ngSwitchCase="Facet.Discipline" i18n>Discipline</ng-container>
            <ng-container *ngSwitchCase="Facet.Keyword" i18n>Keyword</ng-container>
            <ng-container *ngSwitchCase="Facet.IntendedEndUserRole" i18n
              >Intended End User Role</ng-container
            >
            <ng-container *ngSwitchCase="Facet.LearningResourceType" i18n
              >Learning Resource Type</ng-container
            >
            <ng-container *ngSwitchCase="Facet.Source" i18n>Source</ng-container>
          </label>
        </div>
        <mat-chip-list>
          <mat-chip
            *ngFor="let suggestion of suggestions[category]"
            class="chip-group-{{ category }}"
            (click)="addFilter(category, suggestion)"
            [selectable]="false"
          >
            <ng-container
              *ngTemplateOutlet="i18nFacet; context: { $implicit: suggestion }"
            ></ng-container>
          </mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #i18nFacet let-facet>
  <ng-container [ngSwitch]="facet">
    <ng-container i18n *ngSwitchCase="Type.Content">Content</ng-container>
    <ng-container i18n *ngSwitchCase="Type.Tool">Tool</ng-container>
    <ng-container i18n *ngSwitchCase="Type.Portal">Source</ng-container>
    <ng-container i18n *ngSwitchCase="Type.LessonPlanning">Lesson Planning</ng-container>
    <ng-container i18n *ngSwitchCase="Type.Method">Method</ng-container>
    <ng-container *ngSwitchDefault>
      {{ facet }}
    </ng-container>
  </ng-container>
</ng-template>
