:host {
    display: flex;
}
form {
    display: flex;
    width: 100%;
    .search-field-input-wrapper {
        flex-grow: 1;
        display: flex;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 0.5em;
        > input {
            width: 0;
            padding: 0.5em;
            background: none;
            border: none;
            flex-grow: 1;
            &:focus {
                outline: none;
            }
        }
        > button {
            width: 2.5em;
            height: 2.5em;
            mat-icon {
                margin: auto;
                display: block;
                font-size: 150%;
                height: 1.125em;
                line-height: 1.125;
            }
        }
    }
    > button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
