@import '~@angular/material/theming';

@mixin search-field-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $custom: map-get($theme, custom-accent);

    form {
        .search-field-input-wrapper {
            background-color: mat-color($background, dialog);
            border-color: mat-color($foreground, divider);
            input {
                color: mat-color($foreground, text);
            }
            mat-icon {
                color: mat-color($foreground, icon);
            }
        }
        .submit-button {
            background-color: mat-color($custom, accent1);
            color: mat-color($primary);
        }
    }
}

@mixin search-field-typography($typography) {
    app-search-field {
        input {
            @include mat-typography-level-to-styles($typography, input);
        }
    }
}
