<app-subjects-portal-section
  *ngIf="results?.method.length > 0"
  type="METHOD"
  [hits]="results.method"
  [filters]="filters"
></app-subjects-portal-section>
<app-subjects-portal-section
  *ngIf="results?.content.length > 0"
  type="MATERIAL"
  [hits]="results.content"
  [filters]="filters"
></app-subjects-portal-section>
<app-subjects-portal-section
  *ngIf="results?.lessonPlanning.length > 0"
  type="LESSONPLANNING"
  [hits]="results.lessonPlanning"
  [filters]="filters"
></app-subjects-portal-section>
<app-subjects-portal-section
  *ngIf="results?.tool.length > 0"
  type="TOOL"
  [hits]="results.tool"
  [filters]="filters"
></app-subjects-portal-section>
<app-subjects-portal-section
  *ngIf="results?.portal.length > 0"
  type="SOURCE"
  [hits]="results.portal"
  [filters]="filters"
></app-subjects-portal-section>
