<app-subjects-portal-section
  *ngFor="let category of results?.groups | keyvalue: unordered"
  [type]="category.key"
  [hits]="category.value"
  [filters]="filters"
></app-subjects-portal-section>

<div *ngIf="(results?.groups | keyvalue)?.length === 0" class="no-results">
  <p i18n>We couldn't find any results with content-type information for the current search.</p>
  <div>
    <a
      i18n
      mat-flat-button
      color="primary"
      routerLink="{{ routerPath }}/search"
      queryParamsHandling="merge"
    >
      All search results
    </a>
  </div>
</div>

<div class="show-more-button-container">
  <button
    mat-button
    color="primary"
    class="show-more-button"
    *ngIf="results?.hasMore"
    (click)="showMoreGroups()"
    [disabled]="loadingMoreGroups"
  >
    <span class="show-more-button-content">
      <ng-container i18n>show more</ng-container>
      <i esIcon="keyboard_arrow_down" *ngIf="!loadingMoreGroups"></i>
      <mat-progress-spinner
        *ngIf="loadingMoreGroups"
        mode="indeterminate"
        diameter="18"
      ></mat-progress-spinner>
    </span>
  </button>
</div>
