:host {
    display: block;
}

app-subjects-portal-section:first-of-type {
    margin-top: 16px;
}

app-subjects-portal-section {
    margin-bottom: 3em;
}

.no-results {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    a {
        margin-top: 10px;
    }
}

.show-more-button-container {
    display: flex;
    justify-content: center;
}

.show-more-button {
    margin-bottom: 3em;
}

.show-more-button-content {
    display: flex;
    align-items: center;
    mat-progress-spinner {
        margin-left: 10px;
    }
}
