:host {
    display: block;
}

app-subjects-portal-section:first-of-type {
    margin-top: 16px;
}

app-subjects-portal-section {
    margin-bottom: 3em;
}

.no-results {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    a {
        margin-top: 10px;
    }
}

.show-more-button-container {
    display: flex;
    justify-content: center;
}

.show-more-button {
    margin-bottom: 3em;
}

.show-more-button-content {
    display: flex;
    align-items: center;
    mat-progress-spinner,
    .mat-icon,
    .mat-mdc-icon {
        margin-left: 8px;
    }
}
