@use '@angular/material' as mat;
@import '../../../functions';

@mixin subjects-portal-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $primary-foreground-color: primary-foreground-color($theme);
    $custom-accent: map-get($theme, custom-accent);

    // app-subjects-portal {
    //     > .mat-expansion-panel {
    //         background-color: mix(mat.get-color-from-palette($background, card), mat.get-color-from-palette($primary), 90%);
    //         &,
    //         & .mat-expansion-panel-header-title,
    //         & .mat-expansion-panel-header-description,
    //         & .mat-expansion-indicator::after {
    //             color: $primary-foreground-color;
    //         }
    //         > .mat-expansion-panel-header .mat-expansion-panel-header-title > .icon {
    //             background-color: mat.get-color-from-palette($custom-accent, accent2);
    //         }
    //     }
    // }
}
