.results {
    .result {
        width: 100%;
        margin-bottom: 1.5em;
        display: flex;

        > div {
            flex-grow: 1;
            .title {
                font-size: 150%;
                padding-bottom: 0.3em;
                line-height: 1.1;
            }
            .description {
                font-size: 90%;
                padding-bottom: 0.3em;
            }
            .keyword {
                padding-bottom: 0.3em;
                span {
                    a {
                        color: gray;
                    }
                    &:not(:last-child)::after {
                        content: '･';
                    }
                }
            }
            .source {
                font-size: 90%;
                color: green;
            }
            a:not(:hover) {
                text-decoration: none;
            }
        }
        > img {
            width: 100px;
            height: 100px;
            margin-left: 20px;
            object-fit: contain;
            object-position: top;
        }
    }
}
