.summary {
    color: gray;
    margin-bottom: 1em;
}
.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    .result {
        > a.details-link {
            color: unset;
        }
        a:not(:hover) {
            text-decoration: none;
        }
        display: flex;
        flex-direction: column;
        img {
            height: 200px;
            object-fit: cover;
        }
        mat-card-content {
            flex-grow: 1;
            .keyword {
                padding-bottom: 0.3em;
                span {
                    a {
                        color: gray;
                    }
                    &:not(:last-child)::after {
                        content: '･';
                    }
                }
            }
        }
        .source {
            font-size: 0.9em;
            color: green;
        }
        a.content-link {
            align-self: flex-end;
            &::before {
                content: '→ ';
            }
        }
    }
}
