@use 'variables' as *;

@mixin badges-theme() {
    app-badges {
        .app-badges-badge {
            background: $surface;

            > .icon {
                color: $secondary-text;
                font-size: $font-size-x-large;
            }
            > .editorial-icon {
                color: $success;
            }
        }
    }
}
