<div class="app-badges-container app-badges-container-{{ orientation }}">
  <div
    *ngIf="hit | inCollectionWithType: 'EDITORIAL'"
    class="app-badges-badge mat-elevation-z1"
    i18n-matTooltip
    [matTooltipPosition]="orientation === 'vertical' ? 'left' : 'above'"
    matTooltip="Recommended by editorial team"
  >
    <!-- TODO: Is it possible to register custom SVG icons in the ngx-edu-sharing-ui? -->
    <mat-icon svgIcon="editorial" class="icon editorial-icon"></mat-icon>
  </div>
  <div
    *ngIf="hit | isOer"
    class="app-badges-badge mat-elevation-z1"
    i18n-matTooltip
    [matTooltipPosition]="orientation === 'vertical' ? 'left' : 'above'"
    matTooltip="Open Educational Resources"
  >
    <!-- TODO: Is it possible to register custom SVG icons in the ngx-edu-sharing-ui? -->
    <mat-icon svgIcon="oer" class="icon"></mat-icon>
  </div>
</div>
