<div class="app-badges-container app-badges-container-{{ orientation }}">
  <div
    *ngIf="hit | inCollectionWithType: 'EDITORIAL'"
    class="app-badges-badge mat-elevation-z1"
    i18n-matTooltip
    [matTooltipPosition]="orientation === 'vertical' ? 'left' : 'above'"
    matTooltip="Recommended by editorial team"
  >
    <i esIcon="svg-editorial" class="icon editorial-icon"></i>
  </div>
  <div
    *ngIf="hit | isOer"
    class="app-badges-badge mat-elevation-z1"
    i18n-matTooltip
    [matTooltipPosition]="orientation === 'vertical' ? 'left' : 'above'"
    matTooltip="Open Educational Resources"
  >
    <i esIcon="svg-oer" class="icon"></i>
  </div>
</div>
