$previewPanelOverlayThreshold: 1400px;
$previewPanelSpanScreenThreshold: 800px;

::ng-deep .app-preview-panel-dialog-container {
    width: 100vw;
    @media screen and (max-width: 549.98px) {
        height: 100vh;
    }
    @media screen and (min-width: 550px) {
        max-width: 80vw;
        max-height: 80vh;
    }
}

::ng-deep .app-preview-panel-dialog-container .mat-dialog-container,
.app-preview-panel-sidebar {
    border-radius: 20px;
}

::ng-deep .app-preview-panel-dialog-container .mat-dialog-container {
    height: unset;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.app-preview-panel-sidebar {
    max-height: calc(100vh - 40px);
    display: flex;
    width: 500px;
    top: 20px;
    position: sticky;
    margin-right: 20px;
    margin-bottom: 20px;
    @media screen and (max-width: $previewPanelSpanScreenThreshold) {
        position: relative;
        top: unset;
        height: 100%;
        overscroll-behavior: contain;
        overflow-y: auto;
    }
}

app-details {
    border-radius: inherit;
}
