@use '@angular/material' as mat;

@mixin search-field-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $custom: map-get($theme, custom-accent);

    app-search-field {
        form {
            .search-field-wrapper {
                background-color: mat.m2-get-color-from-palette($background, dialog);
                .search-field-input-wrapper {
                    background-color: mat.m2-get-color-from-palette($primary, 50);
                    input {
                        color: mat.m2-get-color-from-palette($primary, text) !important;
                    }
                }
                mat-icon {
                    color: mat.m2-get-color-from-palette($foreground, icon);
                }
            }
        }
    }
}

@mixin search-field-typography($typography) {
    app-search-field {
        .submit-button,
        // adjusting the selector is currently necessary to overwrite the default font-size:
        // https://stackoverflow.com/a/43273285/3623608
        .mat-mdc-form-field, .mat-mdc-form-field.mat-mdc-form-field {
            font-size: mat.m2-font-size($typography, body-1);
        }
    }
}
