:host {
    display: flex;
    position: relative;
}

form {
    display: flex;
    width: 100%;
    .search-field-wrapper {
        padding: 5px 7px;
        display: flex;
        flex-grow: 1;
        border-radius: 27px;
        align-items: center;
        min-height: 40px;
        &.multi-line {
            border-radius: 20px;
        }
        .search-field-input-wrapper {
            display: flex;
            flex-grow: 1;
            border-radius: 22px;
            align-items: center;
            height: 43px;
            min-width: 0;
            .search-icon {
                margin-top: -1px;
                margin-right: 6px;
                margin-left: 16px;
                width: 22px;
                height: 22px;
            }
            input {
                margin: 4px;
                height: 43px;
                min-width: 0;
                flex-shrink: 1;
                // Placeholder
                text-overflow: ellipsis;
            }
            .submit-button {
                margin: 6px;
                padding-left: 16px;
                padding-right: 16px;
                height: 32px;
                border-radius: 16px;
                display: flex;
                align-items: center;
                flex-shrink: 0;
            }
        }
    }
}

:host mat-form-field.search-field ::ng-deep {
    .mat-mdc-text-field-wrapper {
        padding: 0;
        background: none;
    }
    .mat-mdc-form-field-underline {
        display: none;
    }
    .mat-mdc-form-field-infix {
        padding: 0;
        border: none;
        min-height: unset;
    }
    .mdc-line-ripple,
    .mat-mdc-form-field-focus-overlay {
        display: none;
    }
    .mdc-evolution-chip-set .mdc-evolution-chip-set__chips {
        margin: 0;
        align-items: center;
    }
}

// second selector without :host, as it is added at the bottom of the body
// used a custom class instead
:host mat-chip-grid ::ng-deep,
:host mat-chip-listbox ::ng-deep,
.suggestion-mat-chip-listbox ::ng-deep {
    .mdc-evolution-chip-set__chips .mat-mdc-standard-chip {
        min-height: 30px;
    }
    .mdc-evolution-chip-set__chips .category-chip:last-of-type {
        margin-right: 8px;
    }
    .mdc-evolution-chip__action {
        // do not signal that the button is clickable
        cursor: default;
        &::before {
            border: none;
        }
    }
    // suggestion chips and remove chip buttons should be marked as being clickable
    .suggestion-chip .mdc-evolution-chip__action,
    .mat-mdc-chip-remove {
        cursor: pointer;
    }
}

.search-field {
    width: 100%;
}

.suggestion-card {
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    .suggestion-group {
        &:not(:last-of-type) {
            padding-bottom: 20px;
        }
        .label-container {
            display: flex;
        }
        .category-label {
            padding-bottom: 6px;
            display: block;
            text-transform: uppercase;
        }
        .suggestion-chip {
            cursor: pointer;
        }
    }
}
