@use 'variables' as *;

@mixin search-field-theme() {
    app-search-field {
        form .search-field-wrapper {
            background-color: $surface;

            .search-field-input-wrapper {
                background-color: lighten($secondary, 50%);
                input {
                    color: $primary-dark;

                    &::placeholder {
                        color: $secondary;
                    }
                }
                .search-icon {
                    color: $primary;
                }
            }
        }
    }
}

@mixin search-field-typography() {
    // this has to be placed outside, as is it opened within a cdk-overlay
    .suggestion-group {
        // slightly decrease font-size + increase font-weight of category-label
        .category-label {
            font-size: $font-size-x-small;
            font-weight: $font-weight-bold;
        }
        // adjust font-size + font-weight of chips
        .suggestion-mat-chip-listbox .mdc-evolution-chip__text-label {
            font-size: $font-size-small;
            font-weight: $font-weight-x-bold;
        }
    }
    app-search-field {
        // increase the font-size of the search field
        // adjusting the selector is currently necessary to overwrite the default font-size:
        // https://stackoverflow.com/a/43273285
        .mat-mdc-form-field,
        .mat-mdc-form-field.mat-mdc-form-field {
            font-size: 107.5%;
        }
        // slightly increase the font-size of the submit-button
        .submit-button {
            font-size: 95%;
        }
        // adjust font-size + font-weight of chips
        .category-chip .mdc-evolution-chip__text-label {
            font-size: $font-size-small;
            font-weight: $font-weight-x-bold;
        }
    }
}
