<form (ngSubmit)="onSubmit()">
  <div
    #searchFieldWrapper
    class="search-field-wrapper"
    [class.multi-line]="searchFieldWrapper.offsetHeight > 53"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <mat-form-field class="search-field" floatLabel="always">
      <mat-label></mat-label>
      <mat-chip-list #chipList>
        <ng-container *ngFor="let category of categories">
          <mat-chip
            *ngFor="let filter of filters[category]"
            class="chip-group-{{ category }}"
            [removable]="true"
            (removed)="removeFilter(category, filter)"
            cdkMonitorElementFocus
          >
            {{ filter | displayName: category }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </ng-container>
        <div class="search-field-input-wrapper">
          <img class="search-icon" src="./assets/wlo-search/icons/icon_search.svg" alt="" />
          <input
            #searchInput
            matInput
            type="text"
            [formControl]="searchField"
            [matChipInputFor]="chipList"
            [placeholder]="'WLO_SEARCH.SEARCH_FIELD.PLACEHOLDER' | translate"
            (focus)="showOverlay = true"
            autocomplete="off"
            (keydown.enter)="onSubmit()"
          />
          <button
            *ngIf="searchField.value"
            mat-button
            mat-icon-button
            [attr.aria-label]="'WLO_SEARCH.SEARCH_FIELD.CLEAR' | translate"
            [matTooltip]="'WLO_SEARCH.SEARCH_FIELD.CLEAR' | translate"
            (click)="clear()"
            type="button"
          >
            <mat-icon>close</mat-icon>
          </button>
          <button mat-flat-button color="primary" class="submit-button" type="submit">
            {{ 'WLO_SEARCH.SEARCH_FIELD.SEARCH' | translate }}
          </button>
        </div>
      </mat-chip-list>
    </mat-form-field>
  </div>
</form>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showOverlay && hasSuggestions"
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayWidth]="trigger.elementRef.nativeElement.getBoundingClientRect().width"
  (overlayOutsideClick)="onOutsideClick($event)"
>
  <div class="suggestion-card mat-elevation-z2" *ngIf="suggestions">
    <ng-container *ngFor="let category of categories">
      <div class="suggestion-group" *ngIf="suggestions[category]?.length > 0">
        <div class="label-container">
          <label class="category-label">
            {{ 'WLO_SEARCH.SEARCH_FIELD.CATEGORY_LABEL.' + category | translate }}
          </label>
        </div>
        <mat-chip-list>
          <mat-chip
            *ngFor="let suggestion of suggestions[category]"
            class="chip-group-{{ category }}"
            (click)="addFilter(category, suggestion)"
            [selectable]="false"
          >
            {{ suggestion | displayName: category }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>
  </div>
</ng-template>
