<app-subjects-portal-section
  *ngIf="results?.method.length > 0"
  type="method"
  [hits]="results.method"
  [filters]="filters"
></app-subjects-portal-section>
<app-subjects-portal-section
  *ngIf="results?.content.length > 0"
  type="content"
  [hits]="results.content"
  [filters]="filters"
></app-subjects-portal-section>
<app-subjects-portal-section
  *ngIf="results?.lessonPlanning.length > 0"
  type="lessonPlanning"
  [hits]="results.lessonPlanning"
  [filters]="filters"
></app-subjects-portal-section>
<app-subjects-portal-section
  *ngIf="results?.tool.length > 0"
  type="tool"
  [hits]="results.tool"
  [filters]="filters"
></app-subjects-portal-section>
<app-subjects-portal-section
  *ngIf="results?.portal.length > 0"
  type="portal"
  [hits]="results.portal"
  [filters]="filters"
></app-subjects-portal-section>
