@import '~@angular/material/theming';
@import '../functions';

@mixin subjects-portal-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $primary-foreground-color: primary-foreground-color($theme);
    $custom-accent: map-get($theme, custom-accent);

    app-subjects-portal {
        > .mat-card {
            background-color: mix(mat-color($background, card), mat-color($primary), 90%);
            color: $primary-foreground-color;
            > .header > .icon {
                background-color: mat-color($custom-accent, accent2);
            }
        }
    }
}
