:host {
    display: block;
}
mat-card {
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        > .title {
            flex-grow: 1;
            margin: 0 0.7em;
        }
        > .icon {
            height: 20px;
            width: 15px;
            mask: url(../../assets/images/editorial.svg) no-repeat left;
        }
        > button {
            font-weight: bold;
        }
    }

    app-subjects-portal-section:not(:last-of-type) {
        margin-bottom: 3em;
    }
}
