<mat-card>
  <app-subjects-portal-section
    *ngIf="results.material.total.value > 0"
    i18n-title
    title="Materials"
    [hits]="results.material.hits"
  ></app-subjects-portal-section>
  <app-subjects-portal-section
    *ngIf="results.lessonPlanning.total.value > 0"
    i18n-title
    title="Lesson Planning"
    [hits]="results.lessonPlanning.hits"
  ></app-subjects-portal-section>
  <app-subjects-portal-section
    *ngIf="results.tool.total.value > 0"
    i18n-title
    title="Tools"
    [hits]="results.tool.hits"
  ></app-subjects-portal-section>
  <app-subjects-portal-section
    *ngIf="results.source.total.value > 0"
    i18n-title
    title="Sources"
    [hits]="results.source.hits"
  ></app-subjects-portal-section>
</mat-card>
