:host {
    display: block;
}
mat-card {
    border-radius: 10px;
    padding: 20px 30px;
    .header {
        display: flex;
        align-items: center;
        > .title {
            flex-grow: 1;
            margin: 0 0.7em;
        }
        > .icon {
            height: 20px;
            width: 15px;
            mask: url(../../assets/images/editorial.svg) no-repeat left;
        }
        > app-collapse-button {
            :host ::ng-deep & button {
                font-weight: bold;
            }
        }
    }
    app-subjects-portal-section:first-of-type {
        margin-top: 16px;
    }
    app-subjects-portal-section {
        margin-bottom: 3em;
        &:last-of-type {
            margin-bottom: 5px;
        }
    }
}
