:host {
    display: block;
}

.results {
    display: flex;
    overflow-x: auto;
    align-items: stretch;
    > app-result-card-small {
        flex-shrink: 0;
        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }
}
