:host {
    display: block;
}

.header {
    display: flex;
    align-items: flex-start;
    .title {
        flex-grow: 1;
    }
}

.results {
    display: flex;
    overflow-x: auto;
    align-items: stretch;
    padding-bottom: 5px;
    > app-result-card {
        min-width: 300px;
        width: 300px;
        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }
}
