<div [style.grid-template-columns]="'repeat(' + columns + ', auto)'">
  <mat-checkbox
    *ngFor="let bucket of buckets"
    (change)="toggleValue(bucket.key, $event)"
    [checked]="values.indexOf(bucket.key) != -1"
    [class.checked]="values.indexOf(bucket.key) != -1"
  >
    <span class="label" [ngSwitch]="bucket.key">
      <ng-container *ngSwitchCase="Type.Content" i18n>Content</ng-container>
      <ng-container *ngSwitchCase="Type.LessonPlanning" i18n>Lesson Planning</ng-container>
      <ng-container *ngSwitchCase="Type.Tool" i18n>Tool</ng-container>
      <ng-container *ngSwitchCase="Type.Portal" i18n>Portal</ng-container>
      <ng-container *ngSwitchCase="Type.Method" i18n>Method</ng-container>
      <ng-container *ngSwitchDefault>{{ bucket.key }}</ng-container>
    </span>
    <span class="count" *ngIf="showCount">{{ bucket.doc_count }}</span>
  </mat-checkbox>
</div>
