:host > div {
    display: flex;
    > mat-checkbox {
        width: 100%;
        padding: 3px 4px;
        span {
            &.label {
                font-weight: bold;
                flex-grow: 1;
            }

            &.count {
                border-radius: 20px;
                padding: 0 6px;
                font-weight: bold;
            }
        }
    }
}

:host ::ng-deep mat-checkbox {
    .mat-checkbox-layout,
    .mat-checkbox-label {
        display: flex;
        width: 100%;
    }
    .mat-checkbox-frame {
        border-width: 1px;
    }
}
