<div class="content">
  <img
    *ngIf="headerStyle === 'compact'"
    class="logo"
    src="./assets/wlo-search/images/wlo-logo-acronym-negative.svg"
    alt="WLO"
  />
  <app-search-field></app-search-field>
  <div class="filter-row">
    <button
      *ngIf="showFiltersButton"
      mat-flat-button
      class="filter-button"
      (click)="toggleFilterBar()"
      [matBadge]="filterCount"
      [matBadgeHidden]="filterCount === 0"
    >
      <span class="button-wrapper">
        <span>{{ 'WLO_SEARCH.HEADERBAR.FILTERS' | translate }}</span>
        <mat-icon>tune</mat-icon>
      </span>
    </button>
    <app-oer-slider></app-oer-slider>
  </div>
  <span class="experiments" *ngIf="showExperiments"
    >{{ 'WLO_SEARCH.HEADERBAR.EXPERIMENTAL_FEATURES_PREFIX_TEXT' | translate }}
    <a routerLink="{{ routerPath }}/experiments">{{
      'WLO_SEARCH.HEADERBAR.EXPERIMENTAL_FEATURES_LINK_TEXT' | translate
    }}</a
    >!</span
  >
</div>
