<div class="content">
  <img
    *ngIf="headerStyle === 'compact'"
    class="logo"
    src="./assets/wlo-search/images/wlo-logo-acronym-negative.svg"
    alt="WLO"
  />
  <app-search-field></app-search-field>
  <div class="filter-row">
    <button
      *ngIf="showFiltersButton"
      mat-flat-button
      class="filter-button"
      (click)="toggleFilterBar()"
      [matBadge]="filterCount"
      [matBadgeHidden]="filterCount === 0"
    >
      <span class="button-wrapper">
        <span i18n>Filters</span>
        <mat-icon>tune</mat-icon>
      </span>
    </button>
    <app-oer-slider></app-oer-slider>
  </div>
  <span class="experiments" *ngIf="showExperiments">
    <ng-container i18n>Try our </ng-container>
    <a routerLink="{{ routerPath }}/experiments" i18n>experimental features</a>!
  </span>
</div>
