@use 'variables' as *;

@mixin headerbar-theme() {
    app-headerbar {
        // Note: this should not change, even when being in dark mode
        border-color: $primary-dark;
        // Compact mode for the headerbar
        &[data-style='compact'] {
            // Note: this should not change, even when being in dark mode
            background-color: $primary;
        }
        .filter-button {
            color: $primary;
            background-color: $on-primary;
            &:hover,
            &:active,
            &:focus {
                background-color: $on-primary;
            }
            .mat-badge-content {
                color: $on-primary;
                background-color: $pink-default;
            }
        }
    }
}

@mixin headerbar-typography() {
    app-headerbar {
        // increase font-size and font-weight of filter button
        .filter-button {
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
        }
    }
}
