@mixin gap {
    margin-right: 20px;
    margin-bottom: 20px;
}

:host {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    &[data-style='standard'] {
        background-image: url('../../../../assets/wlo-search/images/header-bg.svg');
        min-height: 325px;
        border-top-width: 45px;
        border-top-style: solid;
    }
}

.content {
    margin: 20px;
    width: 100%;
    max-width: 1060px;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 2px;
    margin-bottom: 16px;
    height: 35px;
    align-self: flex-start;
}

.filter-row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 450px) {
        justify-content: space-between;
    }
}

.filter-button {
    margin-right: 30px;
    padding: 0 18px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            margin-right: 0.8em;
            @media screen and (max-width: 450px) {
                display: none;
            }
        }
    }
    // slightly adjust padding of badge container
    --mat-badge-container-padding: 3px 8px;
}

.experiments {
    position: absolute;
    top: 2px;
    right: 8px;
    a {
        text-decoration: none;
        font-weight: bold;
    }
}
