@use '@angular/material' as mat;
@import '../../functions';
@import '../../../../additional-colors';

@mixin headerbar-theme($theme) {
    app-headerbar {
        // Note: this should not change, even when being in dark mode
        border-color: mat.get-theme-color($theme, primary, 25);
        // Compact mode for the headerbar
        &[data-style='compact'] {
            // Note: this should not change, even when being in dark mode
            background-color: mat.get-theme-color($theme, primary, 40);
        }
        .filter-button {
            color: mat.get-theme-color($theme, primary);
            background-color: mat.get-theme-color($theme, on-primary);
            &:hover,
            &:active,
            &:focus {
                @if mat.get-theme-type($theme) == light {
                    background-color: mat.get-theme-color($theme, secondary, 95);
                } @else {
                    background-color: mat.get-theme-color($theme, primary, 10);
                }
            }
            .mat-badge-content {
                color: mat.get-theme-color($theme, primary, 100);
                background-color: $pink-default;
            }
        }
        .experiments {
            &,
            > a {
                // Note: this should not change, even when being in dark mode
                color: mat.get-theme-color($theme, primary, 95);
            }
        }
    }
}

@mixin headerbar-typography($typography) {
    app-headerbar {
        // increase font-size of filter button
        .filter-button {
            font-size: var(--sys-body-large-size);
        }
    }
}
