<button
  *ngIf="mode !== 'page'"
  class="app-preview-panel-close-button"
  mat-icon-button
  (click)="closeButtonClicked.emit()"
  i18n-aria-label
  aria-label="Hide preview panel"
>
  <mat-icon>close</mat-icon>
</button>
<div class="app-preview-panel-content-wrapper" [attr.data-mode]="mode">
  <img class="app-preview-panel-image" [appPreviewImage]="hit.preview" [loadHighResImage]="true" />

  <div class="app-preview-panel-info-bar">
    <span
      class="app-preview-panel-info-bar-item"
      *ngIf="hit | nodeProperty: 'learningResourceType' as lrts; else widgetType"
    >
      <mat-icon>photo_library</mat-icon>
      <span>
        <ng-container *ngFor="let lrt of lrts; let last = last">
          {{ lrt.displayName }}<ng-container *ngIf="!last">,</ng-container>
        </ng-container>
      </span>
    </span>
    <ng-template #widgetType>
      <span
        class="app-preview-panel-info-bar-item"
        *ngIf="hit | nodeProperty: 'widget' as widgets; else externalType"
      >
        <mat-icon>photo_library</mat-icon>
        <span>
          <ng-container *ngFor="let widget of widgets; let last = last">
            {{ widget.displayName }}<ng-container *ngIf="!last">,</ng-container>
          </ng-container>
        </span>
      </span>
    </ng-template>
    <ng-template #externalType>
      <span
        class="app-preview-panel-info-bar-item"
        *ngIf="hit | nodeProperty: 'isExternal'; else mimeType"
      >
        <mat-icon>photo_library</mat-icon>
        <span i18n>Website</span>
      </span>
    </ng-template>
    <ng-template #mimeType>
      <span
        class="app-preview-panel-info-bar-item"
        *ngIf="hit | nodeProperty: 'mimeType' as mimeType"
      >
        <mat-icon>photo_library</mat-icon>
        <span>
          {{ mimeType }}
        </span>
      </span>
    </ng-template>
    <span
      class="app-preview-panel-info-bar-item"
      *ngIf="hit | nodeProperty: 'duration' as duration"
    >
      <mat-icon>alarm</mat-icon>
      <span>{{ duration | duration }}</span>
    </span>
    <span
      class="app-preview-panel-info-bar-item"
      *ngIf="hit | nodeProperty: 'language' as languages"
    >
      <mat-icon>question_answer</mat-icon>
      <span>
        <ng-container *ngFor="let language of languages; let last = last">
          {{ language | language }}<ng-container *ngIf="!last">,</ng-container>
        </ng-container>
      </span>
    </span>
  </div>
  <div class="app-preview-panel-body">
    <app-badges class="badges" [hit]="hit" orientation="horizontal"></app-badges>
    <div class="app-preview-panel-source-container">
      <a
        *ngIf="hit | nodeProperty: 'sourceUrl'"
        class="app-preview-panel-source"
        [href]="hit | nodeProperty: 'sourceUrl'"
        target="_blank"
        >{{ (hit | nodeProperty: 'source')?.displayName }}</a
      >
    </div>
    <h2 class="app-preview-panel-title">{{ hit | nodeProperty: 'title' }}</h2>
    <p
      class="app-preview-panel-description"
      *ngIf="hit | nodeProperty: 'description' as description"
    >
      <ng-container *ngIf="!descriptionExpanded">
        {{ description | trim | truncate: 250 }}
      </ng-container>
      <ng-container *ngIf="descriptionExpanded">
        {{ description | trim }}
      </ng-container>
      <button
        class="app-preview-panel-expand-description-button"
        *ngIf="description.trim().length > 250"
        (click)="descriptionExpanded = !descriptionExpanded"
      >
        <ng-container *ngIf="!descriptionExpanded">
          <span i18n>more</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </ng-container>
        <ng-container *ngIf="descriptionExpanded">
          <span i18n>less</span>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </ng-container>
      </button>
    </p>
    <div class="app-preview-panel-buttons">
      <a
        mat-flat-button
        color="primary"
        class="app-preview-panel-button"
        [href]="hit | nodeProperty: 'url'"
        target="_blank"
      >
        <span class="app-preview-panel-button-wrapper">
          <span i18n>Go to original page</span>
          <mat-icon>arrow_forward</mat-icon>
        </span>
      </a>
      <!-- <a
        mat-flat-button
        color="primary"
        class="app-preview-panel-button"
        routerLink="{{ routerPath }}/details/{{ hit.id }}"
        i18n
        >Details page</a
      > -->
      <button
        *ngIf="showEmbedButton$ | async"
        mat-flat-button
        color="primary"
        class="app-preview-panel-button"
        (click)="embed()"
      >
        <ng-container i18n>Embed element</ng-container>
      </button>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'discipline' as disciplines"
    >
      <mat-icon i18n-matTooltip matTooltip="Discipline">book_icon</mat-icon>
      <span class="cdk-visually-hidden" i18n>Discipline</span>
      <div>
        <span *ngFor="let discipline of disciplines | slice: 0:5">
          {{ discipline.displayName }}
        </span>
      </div>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'educationalContext' as educationalContexts"
    >
      <mat-icon i18n-matTooltip matTooltip="Educational context">school</mat-icon>
      <span class="cdk-visually-hidden" i18n>Educational context</span>
      <div>
        <span *ngFor="let context of educationalContexts">
          {{ context.displayName }}
        </span>
      </div>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'license' as license"
    >
      <mat-icon i18n-matTooltip matTooltip="License">lock</mat-icon>
      <span class="cdk-visually-hidden" i18n>License</span>
      <div>
        <span>
          {{ license.displayName }}
        </span>
      </div>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'conditionsOfAccess' as conditionsOfAccess"
      [ngSwitch]="conditionsOfAccess.id"
    >
      <mat-icon
        *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/no_login'"
        svgIcon="login_green"
      ></mat-icon>
      <mat-icon
        *ngSwitchCase="
          'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/login_for_additional_features'
        "
        svgIcon="login_orange"
      ></mat-icon>
      <mat-icon
        *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/login'"
        svgIcon="login_red"
      ></mat-icon>
      <mat-icon *ngSwitchDefault svgIcon="login_green" class="filter-grayscale"></mat-icon>
      <span>{{ conditionsOfAccess.displayName | capitalizeFirstLetter }}</span>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'price' as price"
      [ngSwitch]="price.id"
    >
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/no'">
        <mat-icon svgIcon="price_green"></mat-icon>
        <span i18n>Free of charge</span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/yes'">
        <mat-icon svgIcon="price_red"></mat-icon>
        <span i18n>Paid content</span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/yes_for_additional'">
        <mat-icon svgIcon="price_orange"></mat-icon>
        <span>{{ price.displayName }}</span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-icon svgIcon="price_green" class="filter-grayscale"></mat-icon>
        <span><ng-container i18n>Price</ng-container>: {{ price.displayName }}</span>
      </ng-container>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'containsAdvertisement' as containsAdvertisement"
      [ngSwitch]="containsAdvertisement.id"
    >
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/containsAdvertisement/no'">
        <mat-icon svgIcon="advertisement_green"></mat-icon>
        <span i18n>No advertisement</span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/containsAdvertisement/yes'">
        <mat-icon svgIcon="advertisement_red"></mat-icon>
        <span i18n>Contains advertisement</span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-icon svgIcon="advertisement_green" class="filter-grayscale"></mat-icon>
        <span>
          <ng-container i18n>Contains advertisement</ng-container>:
          {{ containsAdvertisement.displayName }}
        </span>
      </ng-container>
    </div>
    <div class="app-preview-panel-metadata" *ngIf="hit | nodeProperty: 'author'">
      <span><ng-container i18n>Author</ng-container>: {{ hit | nodeProperty: 'author' }}</span>
    </div>
  </div>
  <div class="app-preview-related-items" *ngIf="hit.usedInCollections.length > 0">
    <h3 class="app-preview-related-items-heading" i18n>Related Topics</h3>
    <div class="app-preview-related-items-carousel-container">
      <button class="app-slick-button app-preview-slick-prev" i18n-aria-label aria-label="previous">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <ngx-slick-carousel
        #slickModal="slick-carousel"
        class="app-preview-related-items-carousel"
        [config]="slickConfig"
      >
        <ng-container *ngFor="let collection of hit.usedInCollections">
          <app-collection-card
            *ngIf="collection | collectionProperty: 'url'"
            ngxSlickItem
            class="app-preview-related-items-card"
            [collection]="collection"
          ></app-collection-card>
        </ng-container>
      </ngx-slick-carousel>
      <button class="app-slick-button app-preview-slick-next" i18n-aria-label aria-label="next">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
