.app-preview-panel-content-wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    word-break: break-word;
    overflow: auto;

    > * {
        flex-shrink: 0;
    }
}

.app-preview-panel-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.app-preview-panel-image {
    width: 100%;
    max-height: 375px;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.app-preview-panel-info-bar {
    padding: 5px 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.app-preview-panel-info-bar-item {
    display: inline-flex;
    align-items: center;
    min-height: 32px;

    &:not(:last-child) {
        margin-right: 25px;
    }

    > .mat-icon,
    > .mat-mdc-icon {
        margin-right: 8px;
        min-width: 28px;
    }
}

.app-preview-panel-body {
    padding: 28px 44px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:not(:last-child) {
        margin-bottom: -30px;
        padding-bottom: 58px;
    }

    .badges {
        margin-top: -10px;
        position: absolute;
        right: 50px;
    }

    .mat-mdc-progress-spinner {
        align-self: center;
    }

    &:last-child {
        padding-bottom: 26px;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
    }

    .report-problem-link {
        margin-top: 10px;
        margin-left: auto;

        .app-preview-panel-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
        }
    }
}

.app-preview-panel-source-container {
    margin-bottom: 5px;
    min-height: 15px;
}

.app-preview-panel-source {
    &:not(:hover) {
        text-decoration: none;
    }
}

.app-preview-panel-description {
    overflow-wrap: break-word;
}

.app-preview-panel-expand-description-button {
    margin-left: 15px;
    padding: 0 6px;
    display: inline-flex;
    align-items: center;
    border: unset;
    background: unset;
    cursor: pointer;

    &:hover > span {
        text-decoration: underline;
    }
}

.app-preview-panel-buttons {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 15px;

    .app-preview-panel-button {
        height: 30px;
        line-height: 30px;
        border-radius: 15px;

        .mat-icon,
        .mat-mdc-icon {
            margin-left: 10px;
            margin-right: -10px;
        }
    }
}

.app-preview-panel-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-details-report-problem-state {
    margin: 10px 0;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-width: 2px;
    border-style: solid;
    text-align: center;

    .mat-mdc-progress-spinner,
    .mat-icon,
    .mat-mdc-icon {
        width: 32px;
        height: 32px;
    }

    .app-details-contact-support-btn {
        margin-top: 10px;
    }
}

.app-preview-panel-metadata {
    display: flex;
    align-items: center;
    min-height: 20px;

    &.app-preview-panel-metadata-icon {
        min-height: 30px;
    }

    &:not(.app-preview-panel-metadata-icon) {
        padding-left: 40px;
    }

    &:not(:last-child) {
        padding-bottom: 10px;
    }

    > .mat-icon,
    > .mat-mdc-icon {
        margin-right: 8px;
        min-width: 28px;
        height: 22px;
    }

    span {
        display: inline-flex;
        // white-space: nowrap; // causes overflow of long words like URLs

        &:not(:last-child)::after {
            margin-right: 0.4em;
            content: ',';
        }
    }
}

.app-preview-related-items {
    padding: 20px 40px;
    border-radius: inherit;

    .app-preview-related-items-heading {
        margin-top: 2px;
        margin-bottom: 9px;
    }

    .app-preview-related-items-carousel-container {
        position: relative;

        .app-slick-button {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 36px;
            width: 36px;
            border-radius: 18px;
            z-index: 1;
            cursor: pointer;
            border: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.3s;

            &.app-preview-slick-prev {
                left: -30px;
            }

            &.app-preview-slick-next {
                right: -30px;
            }

            &.slick-disabled,
            &.slick-hidden {
                opacity: 0;
            }
        }
    }
    .app-preview-related-items-carousel {
        .app-preview-related-items-card {
            margin: 10px 15px 15px;
        }
    }
}
