@use '@angular/material' as mat;
@import '../../../functions';
@import '../../../../../additional-colors';

@mixin details-theme($theme) {
    app-details {
        .app-preview-panel-close-button {
            background-color: mat.get-theme-color($theme, surface-container-high);
        }
        .app-preview-panel-info-bar,
        .app-preview-related-items {
            background-color: mat.get-theme-color($theme, surface-variant);
        }
        .app-preview-panel-body {
            background-color: mat.get-theme-color($theme, surface-container-high);
        }
        // source link above large title
        .app-preview-panel-source {
            @if mat.get-theme-type($theme) == light {
                color: mat.get-theme-color($theme, neutral, 35);
            } @else {
                color: mat.get-theme-color($theme, neutral, 99);
            }
        }
        // more button
        .app-preview-panel-expand-description-button {
            color: mat.get-theme-color($theme, primary);
        }
        .report-problem-link {
            color: mat.get-theme-color($theme, primary);
        }
        // success + error states
        .app-details-report-problem-state-success {
            color: $green-dark;
            border-color: $green-dark;
            background-color: $green-light;
        }
        .app-details-report-problem-state-error {
            color: mat.get-theme-color($theme, error);
            border-color: mat.get-theme-color($theme, error);
            background-color: mat.get-theme-color($theme, error-container);
        }
        // slick buttons for related topic pages
        .app-preview-slick-next,
        .app-preview-slick-prev {
            color: mat.get-theme-color($theme, primary);
            background-color: mat.get-theme-color($theme, surface);
        }
        // outline buttons (primary + warn)
        .mdc-button--outlined.btn-outline-primary:not(:disabled) {
            color: mat.get-theme-color($theme, primary);
            border: 1.5px solid mat.get-theme-color($theme, primary);

            .mat-icon,
            .mat-mdc-icon {
                margin-left: 6px !important;
                margin-right: -3px !important;
                font-size: 20px;
                width: 20px;
                height: 20px;
            }

            &:hover {
                color: mat.get-theme-color($theme, on-primary);
                background: mat.get-theme-color($theme, primary);
            }
        }
        .mdc-button--outlined.btn-outline-warn:not(:disabled) {
            color: mat.get-theme-color($theme, error);
            border: 1.5px solid mat.get-theme-color($theme, error);

            .mat-icon,
            .mat-mdc-icon {
                margin-left: 6px !important;
                margin-right: -3px !important;
                font-size: 20px;
                width: 20px;
                height: 20px;
            }

            &:hover {
                color: mat.get-theme-color($theme, on-error);
                background: mat.get-theme-color($theme, error);
            }
        }
        .icon-green {
            color: $icon-green;
        }

        .icon-orange {
            color: $icon-orange;
        }

        .icon-red {
            color: $icon-red;
        }

        .icon-gray {
            color: $icon-gray;
        }
    }
}

@mixin details-typography($typography) {
    app-details {
        .app-preview-panel-title {
            // slightly increase the font-size of the title
            font-size: 1.75rem;
        }
    }
}
