<button
  *ngIf="mode !== 'page'"
  class="app-preview-panel-close-button"
  mat-icon-button
  (click)="closeButtonClicked.emit()"
  i18n-aria-label
  aria-label="Hide preview panel"
>
  <mat-icon>close</mat-icon>
</button>
<div class="app-preview-panel-content-wrapper">
  <app-preview-image
    class="app-preview-panel-image"
    [previewImage]="hit.preview"
    [playAnimation]="true"
  ></app-preview-image>

  <!-- TODO: Add i18n to tooltips -->
  <!-- information bar under preview image -->
  <div class="app-preview-panel-info-bar">
    <!-- content type -->
    <span
      class="app-preview-panel-info-bar-item"
      *ngIf="hit | nodeProperty: 'oehLrtAggregated' as lrts; else externalType"
    >
      <mat-icon matTooltip="Inhaltetyp">perm_media</mat-icon>
      <span>
        <ng-container *ngFor="let lrt of lrts; let last = last">
          {{ lrt.displayName }}<ng-container *ngIf="!last">,</ng-container>
        </ng-container>
      </span>
    </span>
    <ng-template #externalType>
      <span
        class="app-preview-panel-info-bar-item"
        *ngIf="hit | nodeProperty: 'isExternal'; else mimeType"
      >
        <mat-icon matTooltip="Inhaltetyp">photo_library</mat-icon>
        <span i18n>Website</span>
      </span>
    </ng-template>
    <ng-template #mimeType>
      <span
        class="app-preview-panel-info-bar-item"
        *ngIf="hit | nodeProperty: 'mimeType' as mimeType"
      >
        <mat-icon matTooltip="Inhaltetyp">photo_library</mat-icon>
        <span>
          {{ mimeType }}
        </span>
      </span>
    </ng-template>

    <!-- duration -->
    <span
      class="app-preview-panel-info-bar-item"
      *ngIf="hit | nodeProperty: 'duration' as duration"
    >
      <mat-icon matTooltip="Dauer">alarm</mat-icon>
      <span>{{ duration | duration }}</span>
    </span>

    <!-- language -->
    <span
      class="app-preview-panel-info-bar-item"
      *ngIf="
        (hit | nodeProperty: 'language').length > 0 && hit | nodeProperty: 'language' as languages
      "
    >
      <mat-icon matTooltip="Sprache(n)">question_answer</mat-icon>
      <span>
        <ng-container *ngFor="let language of languages; let last = last">
          <ng-container
            *ngIf="(language.displayName || language.id) !== ''; else noLanguageDefined"
          >
            {{ language.displayName || language.id }}<ng-container *ngIf="!last">,</ng-container>
          </ng-container>
          <ng-template #noLanguageDefined> - </ng-template>
        </ng-container>
      </span>
    </span>
  </div>
  <div class="app-preview-panel-body">
    <app-badges class="badges" [hit]="hit" orientation="horizontal"></app-badges>
    <div class="app-preview-panel-source-container">
      <a
        *ngIf="hit | nodeProperty: 'sourceUrl$' | async as sourceUrl; else sourceWithoutUrl"
        class="app-preview-panel-source"
        [href]="sourceUrl"
        target="_blank"
        >{{ hit | nodeProperty: 'source' }}</a
      >
      <ng-template #sourceWithoutUrl>
        <span class="app-preview-panel-source">{{ hit | nodeProperty: 'source' }}</span>
      </ng-template>
    </div>
    <h2 class="app-preview-panel-title">{{ hit | nodeProperty: 'title' }}</h2>
    <p
      class="app-preview-panel-description"
      *ngIf="hit | nodeProperty: 'description' as description"
    >
      <ng-container *ngIf="!descriptionExpanded">
        {{ description | trim | truncate: 250 }}
      </ng-container>
      <ng-container *ngIf="descriptionExpanded">
        {{ description | trim }}
      </ng-container>
      <button
        class="app-preview-panel-expand-description-button"
        *ngIf="description.trim().length > 250"
        (click)="descriptionExpanded = !descriptionExpanded"
      >
        <ng-container *ngIf="!descriptionExpanded">
          <span i18n>more</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </ng-container>
        <ng-container *ngIf="descriptionExpanded">
          <span i18n>less</span>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </ng-container>
      </button>
    </p>
    <div class="app-preview-panel-buttons">
      <a
        mat-stroked-button
        class="app-preview-panel-button btn-outline-primary"
        [href]="hit | nodeProperty: 'url'"
        target="_blank"
        [appReportClick]="hit"
      >
        <span class="app-preview-panel-button-wrapper">
          <span i18n>Go to original page</span>
          <mat-icon>open_in_new</mat-icon>
        </span>
      </a>
      <a
        *ngIf="(hit | nodeProperty: 'url') !== (hit | nodeProperty: 'detailsUrl')"
        mat-flat-button
        color="primary"
        class="app-preview-panel-button"
        [href]="hit | nodeProperty: 'detailsUrl'"
        target="_blank"
      >
        <span class="app-preview-panel-button-wrapper">
          <span i18n>All details</span>
        </span>
      </a>
      <!-- <a
        mat-flat-button
        color="primary"
        class="app-preview-panel-button"
        routerLink="{{ routerPath }}/details/{{ hit.id }}"
        i18n
        >Details page</a
      > -->
      <button
        *ngIf="showEmbedButton$ | async"
        mat-flat-button
        color="primary"
        class="app-preview-panel-button"
        (click)="embed()"
      >
        <ng-container i18n>Embed element</ng-container>
      </button>
    </div>
    <!-- metadata listing -->
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'discipline' as disciplines"
    >
      <mat-icon i18n-matTooltip matTooltip="Discipline" class="icon-gray">book_icon</mat-icon>
      <span class="cdk-visually-hidden" i18n>Discipline</span>
      <div>
        <span *ngFor="let discipline of disciplines">
          {{ discipline.displayName }}
        </span>
      </div>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'educationalContext' as educationalContexts"
    >
      <mat-icon i18n-matTooltip matTooltip="Educational level" class="icon-gray">school</mat-icon>
      <span class="cdk-visually-hidden" i18n>Educational level</span>
      <div>
        <span *ngFor="let context of educationalContexts">
          {{ context.displayName }}
        </span>
      </div>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'author'"
    >
      <mat-icon i18n-matTooltip matTooltip="Author" svgIcon="author" class="icon-gray"></mat-icon>
      <span>
        <ng-container i18n>Author</ng-container>:
        {{ hit | nodeProperty: 'author' }}
      </span>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'license' as license"
    >
      <mat-icon i18n-matTooltip matTooltip="License" class="icon-gray">lock</mat-icon>
      <span class="cdk-visually-hidden" i18n>License</span>
      <div>
        <span>
          {{ license.displayName }}
        </span>
      </div>
    </div>
    <!-- TODO: Add i18n to tooltips -->
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'conditionsOfAccess' as conditionsOfAccess"
      [ngSwitch]="conditionsOfAccess.id"
    >
      <mat-icon
        *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/no_login'"
        svgIcon="login"
        class="icon-green"
        matTooltip="Zugangsvoraussetzungen"
      ></mat-icon>
      <mat-icon
        *ngSwitchCase="
          'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/login_for_additional_features'
        "
        svgIcon="login"
        class="icon-orange"
        matTooltip="Zugangsvoraussetzungen"
      ></mat-icon>
      <mat-icon
        *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/login'"
        svgIcon="login"
        class="icon-red"
        matTooltip="Zugangsvoraussetzungen"
      ></mat-icon>
      <mat-icon
        *ngSwitchDefault
        svgIcon="login"
        class="icon-gray"
        matTooltip="Zugangsvoraussetzungen"
      ></mat-icon>
      <span>{{ conditionsOfAccess.displayName | capitalizeFirstLetter }}</span>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'price' as price"
      [ngSwitch]="price.id"
    >
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/no'">
        <mat-icon svgIcon="price" class="icon-green" matTooltip="Kosten"></mat-icon>
        <span i18n>Free of charge</span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/yes'">
        <mat-icon svgIcon="price" class="icon-red" matTooltip="Kosten"></mat-icon>
        <span i18n>Paid content</span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/yes_for_additional'">
        <mat-icon svgIcon="price" class="icon-orange" matTooltip="Kosten"></mat-icon>
        <span>{{ price.displayName }}</span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-icon svgIcon="price" class="icon-gray" matTooltip="Kosten"></mat-icon>
        <span><ng-container i18n>Price</ng-container>: {{ price.displayName }}</span>
      </ng-container>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty: 'containsAdvertisement' as containsAdvertisement"
      [ngSwitch]="containsAdvertisement.id"
    >
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/containsAdvertisement/no'">
        <mat-icon
          svgIcon="advertisement"
          class="icon-green"
          matTooltip="Werbung enthalten?"
        ></mat-icon>
        <span i18n>No advertisement</span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/containsAdvertisement/yes'">
        <mat-icon
          svgIcon="advertisement"
          class="icon-red"
          matTooltip="Werbung enthalten?"
        ></mat-icon>
        <span i18n>Contains advertisement</span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-icon
          svgIcon="advertisement"
          class="icon-gray"
          matTooltip="Werbung enthalten?"
        ></mat-icon>
        <span>
          <ng-container i18n>Contains advertisement</ng-container>:
          {{ containsAdvertisement.displayName }}
        </span>
      </ng-container>
    </div>
    <!-- TODO: Add i18n to textes -->
    <div
      *ngIf="reportProblemResult$ | async as result"
      class="app-details-report-problem-state app-details-report-problem-state-{{ result.state }}"
    >
      <mat-progress-spinner
        *ngIf="!['success', 'error'].includes(result.state)"
        [color]="result.state === 'error' ? 'warn' : 'primary'"
        [mode]="result.state === 'loading' ? 'indeterminate' : 'determinate'"
        value="100"
        diameter="30"
      ></mat-progress-spinner>
      <mat-icon *ngIf="result.state === 'success'">sentiment_satisfied_alt</mat-icon>
      <mat-icon *ngIf="result.state === 'error'">sentiment_very_dissatisfied</mat-icon>
      <span *ngIf="result.state === 'success'">
        Deine Meldung ist erfolgreich bei uns eingegangen. Vielen Dank für deine Hilfe!
      </span>
      <span *ngIf="result.state === 'error'">
        Entschuldige, wir konnten deine Meldung leider nicht abschicken.
        <br />
        <button
          mat-stroked-button
          class="btn-outline-warn app-details-contact-support-btn"
          (click)="contactSupport()"
        >
          Support kontaktieren
        </button>
      </span>
    </div>
    <a href="javascript:void(0)" (click)="reportProblem()" class="report-problem-link">
      <span class="app-preview-panel-button-wrapper">
        <span i18n>Report problem</span>
        <mat-icon>announcement</mat-icon>
      </span>
    </a>
  </div>
  <div class="app-preview-related-items" *ngIf="usedInCollections$ | async as usedInCollections">
    <h3 class="app-preview-related-items-heading" i18n>Related Subject Pages</h3>
    <div class="app-preview-related-items-carousel-container">
      <button class="app-slick-button app-preview-slick-prev" i18n-aria-label aria-label="previous">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <ngx-slick-carousel
        #slickModal="slick-carousel"
        class="app-preview-related-items-carousel"
        [config]="slickConfig"
      >
        <ng-container *ngFor="let collection of usedInCollections">
          <app-collection-card
            ngxSlickItem
            class="app-preview-related-items-card"
            [collection]="collection"
          ></app-collection-card>
        </ng-container>
      </ngx-slick-carousel>
      <button class="app-slick-button app-preview-slick-next" i18n-aria-label aria-label="next">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
