<button
  *ngIf="mode !== 'page'"
  class="app-preview-panel-close-button"
  mat-icon-button
  (click)="closeButtonClicked.emit()"
  aria-label="Vorschauansicht schließen"
>
  <i esIcon="close" [aria]="true"></i>
</button>
<div class="app-preview-panel-content-wrapper">
  <app-preview-image
    class="app-preview-panel-image"
    [previewImage]="hit.preview"
    [playAnimation]="true"
  ></app-preview-image>

  <!-- information bar under preview image -->
  <div class="app-preview-panel-info-bar">
    <!-- content type -->
    <span
      class="app-preview-panel-info-bar-item"
      *ngIf="hit | nodeProperty : 'oehLrtAggregated' as lrts; else externalType"
    >
      <i esIcon="perm_media" matTooltip="Materialart"></i>
      <span>
        <ng-container *ngFor="let lrt of lrts; let last = last">
          {{ lrt.displayName }}<ng-container *ngIf="!last">,</ng-container>
        </ng-container>
      </span>
    </span>
    <ng-template #externalType>
      <span
        class="app-preview-panel-info-bar-item"
        *ngIf="hit | nodeProperty : 'isExternal'; else mimeType"
      >
        <i esIcon="photo_library" matTooltip="Materialart"></i>
        <span> Webseite </span>
      </span>
    </ng-template>
    <ng-template #mimeType>
      <span
        class="app-preview-panel-info-bar-item"
        *ngIf="hit | nodeProperty : 'mimeType' as mimeType"
      >
        <i esIcon="photo_library" matTooltip="Materialart"></i>
        <span>
          {{ mimeType }}
        </span>
      </span>
    </ng-template>

    <!-- duration -->
    <span
      class="app-preview-panel-info-bar-item"
      *ngIf="hit | nodeProperty : 'duration' as duration"
    >
      <i esIcon="alarm" matTooltip="Dauer"></i>
      <span>{{ duration | duration }}</span>
    </span>

    <!-- language -->
    <ng-container *ngIf="hit | nodeProperty : 'language' as languages">
      <!-- make sure that at least the first language is defined properly -->
      <span
        class="app-preview-panel-info-bar-item"
        *ngIf="
          languages.length > 0 &&
          !emptyLanguageValues.includes(languages[0].displayName || languages[0].id)
        "
      >
        <i esIcon="question_answer" matTooltip="Sprache(n)"></i>
        <span>
          <ng-container *ngFor="let language of languages; let last = last">
            <ng-container
              *ngIf="
                !emptyLanguageValues.includes(language.displayName || language.id);
                else noLanguageDefined
              "
            >
              {{ language.displayName || language.id }}<ng-container *ngIf="!last">,</ng-container>
            </ng-container>
            <ng-template #noLanguageDefined> - </ng-template>
          </ng-container>
        </span>
      </span>
    </ng-container>
  </div>
  <div class="app-preview-panel-body">
    <app-badges class="badges" [hit]="hit" orientation="horizontal"></app-badges>
    <div class="app-preview-panel-source-container">
      <a
        *ngIf="hit | nodeProperty : 'sourceUrl$' | async as sourceUrl; else sourceWithoutUrl"
        class="app-preview-panel-source"
        [href]="sourceUrl"
        target="_blank"
      >
        {{ hit | nodeProperty : 'source' }}
      </a>
      <ng-template #sourceWithoutUrl>
        <span class="app-preview-panel-source">{{ hit | nodeProperty : 'source' }}</span>
      </ng-template>
    </div>
    <h2 class="app-preview-panel-title mat-heading-2 font-bold">
      {{ hit | nodeProperty : 'title' }}
    </h2>
    <p
      class="app-preview-panel-description"
      *ngIf="hit | nodeProperty : 'description' as description"
    >
      <ng-container *ngIf="!descriptionExpanded">
        {{ description | trim | truncate : 250 }}
      </ng-container>
      <ng-container *ngIf="descriptionExpanded">
        {{ description | trim }}
      </ng-container>
      <button
        class="app-preview-panel-expand-description-button"
        *ngIf="description.trim().length > 250"
        (click)="descriptionExpanded = !descriptionExpanded"
      >
        <ng-container *ngIf="!descriptionExpanded">
          <span> mehr anzeigen </span>
          <i esIcon="keyboard_arrow_down"></i>
        </ng-container>
        <ng-container *ngIf="descriptionExpanded">
          <span> weniger anzeigen </span>
          <i esIcon="keyboard_arrow_up"></i>
        </ng-container>
      </button>
    </p>
    <div class="app-preview-panel-buttons">
      <a
        mat-stroked-button
        class="app-preview-panel-button btn-outline-primary"
        [href]="hit | nodeProperty : 'url'"
        target="_blank"
      >
        <span class="app-preview-panel-button-wrapper">
          Zur Originalseite
          <i esIcon="open_in_new"></i>
        </span>
      </a>
      <a
        *ngIf="(hit | nodeProperty : 'url') !== (hit | nodeProperty : 'detailsUrl')"
        mat-flat-button
        color="primary"
        class="app-preview-panel-button"
        [href]="hit | nodeProperty : 'detailsUrl'"
        target="_blank"
      >
        <span class="app-preview-panel-button-wrapper"> Alle Details </span>
      </a>
      <button
        *ngIf="showEmbedButton$ | async"
        mat-flat-button
        color="primary"
        class="app-preview-panel-button"
        (click)="embed()"
      >
        Element einbetten
      </button>
    </div>
    <!-- metadata listing -->
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngVar="hit | nodeProperty : 'discipline' as disciplines"
    >
      <i esIcon="school" matTooltip="Fachgebiet" class="icon-gray"></i>
      <span class="cdk-visually-hidden"> Fachgebiet </span>
      <div *ngIf="disciplines; else emptyState">
        <span *ngFor="let discipline of disciplines">
          {{ discipline.displayName }}
        </span>
      </div>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngVar="hit | nodeProperty : 'educationalContext' as educationalContexts"
    >
      <i esIcon="group" matTooltip="Bildungsstufe" class="icon-gray"></i>
      <span class="cdk-visually-hidden"> Bildungsstufe </span>
      <div *ngIf="educationalContexts; else emptyState">
        <span *ngFor="let context of educationalContexts">
          {{ context.displayName }}
        </span>
      </div>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngVar="hit | nodeProperty : 'author' as author"
    >
      <i esIcon="svg-author" class="icon-gray" matTooltip="Autor"></i>
      <span class="cdk-visually-hidden"> Autor </span>
      <span *ngIf="author; else emptyState">
        {{ author }}
      </span>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty : 'license' as license"
    >
      <i esIcon="lock" matTooltip="Lizenz" class="icon-gray"></i>
      <span class="cdk-visually-hidden"> Lizenz </span>
      <div>
        <span>
          {{ license.displayName }}
        </span>
      </div>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty : 'conditionsOfAccess' as conditionsOfAccess"
      [ngSwitch]="conditionsOfAccess.id"
    >
      <i
        *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/no_login'"
        esIcon="svg-login"
        class="icon-green"
        matTooltip="Zugangsvoraussetzungen"
      ></i>
      <i
        *ngSwitchCase="
          'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/login_for_additional_features'
        "
        esIcon="svg-login"
        class="icon-orange"
        matTooltip="Zugangsvoraussetzungen"
      ></i>
      <i
        *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/conditionsOfAccess/login'"
        esIcon="svg-login"
        class="icon-red"
        matTooltip="Zugangsvoraussetzungen"
      ></i>
      <i
        *ngSwitchDefault
        esIcon="svg-login"
        class="icon-gray"
        matTooltip="Zugangsvoraussetzungen"
      ></i>
      <span>{{ conditionsOfAccess.displayName | capitalizeFirstLetter }}</span>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty : 'price' as price"
      [ngSwitch]="price.id"
    >
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/no'">
        <i esIcon="svg-price" class="icon-green" matTooltip="Kosten"></i>
        <span> Kostenlos verfügbar </span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/yes'">
        <i esIcon="svg-price" class="icon-red" matTooltip="Kosten"></i>
        <span> Kostenpflichtig </span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/price/yes_for_additional'">
        <i esIcon="svg-price" class="icon-orange" matTooltip="Kosten"></i>
        <span>{{ price.displayName }}</span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <i esIcon="svg-price" class="icon-gray" matTooltip="Kosten"></i>
        <span>Kosten: {{ price.displayName }}</span>
      </ng-container>
    </div>
    <div
      class="app-preview-panel-metadata app-preview-panel-metadata-icon"
      *ngIf="hit | nodeProperty : 'containsAdvertisement' as containsAdvertisement"
      [ngSwitch]="containsAdvertisement.id"
    >
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/containsAdvertisement/no'">
        <i esIcon="svg-advertisement" class="icon-green" matTooltip="Werbung enthalten?"></i>
        <span> keine Werbung </span>
      </ng-container>
      <ng-container *ngSwitchCase="'http://w3id.org/openeduhub/vocabs/containsAdvertisement/yes'">
        <i esIcon="svg-advertisement" class="icon-red" matTooltip="Werbung enthalten?"></i>
        <span> Enthält Werbung </span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <i esIcon="svg-advertisement" class="icon-gray" matTooltip="Werbung enthalten?"></i>
        <span>
          Enthält Werbung:
          {{ containsAdvertisement.displayName }}
        </span>
      </ng-container>
    </div>
    <ng-template #emptyState>
      <span>-</span>
    </ng-template>
    <div
      *ngIf="reportProblemResult$ | async as result"
      class="app-details-report-problem-state app-details-report-problem-state-{{ result.state }}"
    >
      <mat-progress-spinner
        *ngIf="!['success', 'error'].includes(result.state)"
        [color]="result.state === 'error' ? 'warn' : 'primary'"
        [mode]="result.state === 'loading' ? 'indeterminate' : 'determinate'"
        value="100"
        diameter="30"
      ></mat-progress-spinner>
      <i esIcon="sentiment_satisfied_alt" *ngIf="result.state === 'success'"></i>
      <i esIcon="sentiment_very_dissatisfied" *ngIf="result.state === 'error'"></i>
      <span *ngIf="result.state === 'success'">
        Deine Meldung ist erfolgreich bei uns eingegangen. Vielen Dank für deine Hilfe!
      </span>
      <span *ngIf="result.state === 'error'">
        Entschuldige, wir konnten deine Meldung leider nicht abschicken.
        <br />
        <button
          mat-stroked-button
          class="btn-outline-warn app-details-contact-support-btn"
          (click)="contactSupport()"
        >
          Support kontaktieren
        </button>
      </span>
    </div>
    <a
      href="javascript:void(0)"
      (click)="reportProblem()"
      class="app-preview-panel-button-wrapper report-problem-link"
    >
      <span> Problem melden </span>
      <i esIcon="announcement"></i>
    </a>
  </div>
  <div class="app-preview-related-items" *ngIf="usedInCollections$ | async as usedInCollections">
    <h3 class="app-preview-related-items-heading mat-heading-3">Verwandte Themenseiten</h3>
    <div class="app-preview-related-items-carousel-container">
      <button class="app-slick-button app-preview-slick-prev" aria-label="Zurück">
        <i esIcon="arrow_back"></i>
      </button>
      <ngx-slick-carousel
        #slickModal="slick-carousel"
        class="app-preview-related-items-carousel"
        [config]="slickConfig"
      >
        <ng-container *ngFor="let collection of usedInCollections">
          <app-collection-card
            ngxSlickItem
            class="app-preview-related-items-card"
            [collection]="collection"
          ></app-collection-card>
        </ng-container>
      </ngx-slick-carousel>
      <button class="app-slick-button app-preview-slick-next" aria-label="Weiter">
        <i esIcon="arrow_forward"></i>
      </button>
    </div>
  </div>
</div>
