@use '~@angular/material' as mat;
@import '../../../functions';

@mixin details-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $is-dark-theme: map-get($theme, is-dark);
    $custom-accent: map-get($theme, custom-accent);
    $primary-foreground-color: primary-foreground-color($theme);

    $body-background-dark: lighten(mat.get-color-from-palette($background, background), 10%);
    $body-background-light: darken(mat.get-color-from-palette($background, background), 5%);
    $body-background: if($is-dark-theme, $body-background-dark, $body-background-light);

    app-details {
        .app-preview-panel-close-button {
            background-color: mat.get-color-from-palette($background, background, 0.75);
        }
        .app-preview-panel-info-bar {
            background-color: mat.get-color-from-palette($primary, 50);
        }
        .app-preview-panel-body {
            background-color: $body-background;
        }
        .app-preview-panel-source {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }
        .app-preview-panel-report-problem-button {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }
        .app-details-report-problem-state-success {
            border-color: mat.get-color-from-palette($primary);
            background-color: mat.get-color-from-palette($primary, 50);
        }
        .app-details-report-problem-state-error {
            border-color: mat.get-color-from-palette($warn);
            background-color: mat.get-color-from-palette($warn, 50);
        }
        .app-preview-related-items {
            background-color: mat.get-color-from-palette($primary, 50);
        }
        .app-preview-slick-next,
        .app-preview-slick-prev {
            background-color: $body-background;
            color: $primary-foreground-color;
        }
    }
}

@mixin details-typography($typography) {
    app-details {
        font-size: mat.font-size($typography, subheading-1);
        line-height: mat.line-height($typography, subheading-1);
        .app-preview-panel-title {
            @include mat.typography-level($typography, 'display-1');
        }
        .app-preview-panel-expand-description-button {
            font-weight: mat.font-weight($typography, button);
        }
        .app-preview-panel-info-bar-item,
        .app-preview-panel-metadata {
            line-height: mat.line-height($typography, body-1);
        }
        .app-preview-related-items-heading {
            @include mat.typography-level($typography, 'title');
        }
    }
}
