:host {
    display: flex;
    flex-direction: column;
}

.results {
    display: grid;
    justify-content: space-evenly;
    &[data-search-results-style='standard'] {
        margin-top: 20px;
        gap: 30px;
    }
    &[data-search-results-style='compact'] {
        gap: 30px 14px;
    }
    &[data-result-card-style='standard'] {
        grid-template-columns: repeat(auto-fill, 280px);
    }
    &[data-result-card-style='compact'] {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

app-paginator {
    margin: 50px 0;
    align-self: center;
}
