<ng-container *ngIf="widgetType === 'wlo-ai-text-widget'">
  <wlo-ai-text-widget
    *ngIf="filterBarReady"
    [class]="widgetClasses ? widgetClasses : ''"
    [contextNodeId]="topicCollectionID"
    [defaultNodeId]="defaultAiTextWidgetNodeId"
    [editMode]="editMode"
    [gridIndex]="gridIndex"
    [nodeId]="widgetNodeId"
    [pageVariantNode]="pageVariantNode"
    [parentWidgetConfigNodeId]="parentWidgetConfigNodeId"
    [selectDimensions]="selectDimensions"
    [selectedDimensionValues]="selectedDimensionValues"
    [swimlaneIndex]="swimlaneIndex"
  ></wlo-ai-text-widget>
</ng-container>
<ng-container *ngIf="widgetType === 'wlo-collection-chips'">
  <wlo-collection-chips
    *ngIf="topicCollectionID"
    [class]="widgetClasses ? widgetClasses : ''"
    [customUrl]="retrieveCustomUrl"
    [collection]="topicCollectionID"
    [defaultNodeId]="defaultCollectionChipsNodeId"
  ></wlo-collection-chips>
</ng-container>
<ng-container *ngIf="widgetType === 'wlo-user-configurable'">
  <wlo-user-configurable
    [class]="widgetClasses ? widgetClasses : ''"
    [contextNodeId]="topicCollectionID"
    [defaultNodeId]="defaultUserConfigurableNodeId"
    [gridIndex]="gridIndex"
    [nodeId]="widgetNodeId"
    [pageVariantNode]="pageVariantNode"
    [parentWidgetConfigNodeId]="parentWidgetConfigNodeId"
    [searchText]="topic"
    [swimlaneIndex]="swimlaneIndex"
  >
  </wlo-user-configurable>
</ng-container>
<ng-container *ngIf="widgetType === 'wlo-card'">
  <mat-card appearance="outlined" class="example-card" [class]="widgetClasses ? widgetClasses : ''">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
        Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
        originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-container *ngIf="widgetType === 'wlo-image'">
  <img
    src="https://placehold.co/800x600"
    alt="Examplary WLO-Image"
    [class]="widgetClasses ? widgetClasses : ''"
  />
</ng-container>
<div
  class="text-widget"
  [class]="widgetClasses ? widgetClasses : ''"
  *ngIf="widgetType === 'wlo-text'"
>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum.
</div>
