<h1 mat-dialog-title><span i18n>Configure</span> {{ data.title }}</h1>

<div mat-dialog-content [formGroup]="form" class="content">
  <mat-form-field appearance="outline">
    <mat-label i18n>Position</mat-label>
    <input matInput type="number" formControlName="position" min="1" [max]="data.count" />
  </mat-form-field>

  <hr />
  <br />

  <div class="tile-dimension">
    <h5>Tile dimension</h5>

    <ng-container *ngFor="let dim of tileDimensions; let i = index">
      <button
        mat-button
        [class.mat-flat-button]="
          form.get('rows').value === dim.numberOfRows && form.get('cols').value === dim.numberOfCols
        "
        [class.mat-stroked-button]="
          form.get('rows').value !== dim.numberOfRows || form.get('cols').value !== dim.numberOfCols
        "
        color="primary"
        [style.height]="dim.numberOfRows * 35 + 'px'"
        [style.width]="dim.numberOfCols * 35 + 'px'"
        (click)="patchDimensions(dim.numberOfRows, dim.numberOfCols)"
      >
        {{ dim.numberOfRows }}x{{ dim.numberOfCols }}
      </button>
      <div *ngIf="dim.numberOfCols === 3" class="line-break"></div>
    </ng-container>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="form" i18n>Apply</button>
</div>
