@use '@angular/material' as mat;
@import '../../../functions';

@mixin search-filterbar-theme($theme) {
    app-search-filterbar {
        > mat-card {
            > .header,
            .close-button {
                @if mat.get-theme-type($theme) == light {
                    color: mat.get-theme-color($theme, primary, 25);
                } @else {
                    color: mat.get-theme-color($theme, primary);
                }
                .reset-button {
                    color: mat.get-theme-color($theme, primary);
                }
            }
            > .header {
                @if mat.get-theme-type($theme) == light {
                    background-color: rgba(mat.get-theme-color($theme, secondary, 60), 0.3);
                } @else {
                    background-color: mat.get-theme-color($theme, surface-container);
                }
                border-color: mat.get-theme-color($theme, outline-variant);
            }
            > .body {
                > .mat-accordion .mat-expansion-panel .mat-expansion-panel-header {
                    @if mat.get-theme-type($theme) == light {
                        background-color: mat.get-theme-color($theme, surface);
                    } @else {
                        background-color: mat.get-theme-color($theme, surface-container);
                    }
                    .mat-expansion-panel-header-title {
                        @if mat.get-theme-type($theme) == light {
                            color: mat.get-theme-color($theme, primary, 25);
                        } @else {
                            color: mat.get-theme-color($theme, primary);
                        }
                    }
                    svg path {
                        @if mat.get-theme-type($theme) == light {
                            fill: mat.get-theme-color($theme, primary, 25);
                        } @else {
                            fill: mat.get-theme-color($theme, primary);
                        }
                    }
                }
                > .mat-accordion .mat-expansion-panel .mat-expansion-panel-body {
                    @if mat.get-theme-type($theme) == light {
                        background-color: mat.get-theme-color($theme, surface);
                    } @else {
                        background-color: mat.get-theme-color($theme, surface-container);
                    }
                }
            }
        }
    }
}

@mixin search-filterbar-typography($typography) {
    app-search-filterbar {
        // change font of panel title
        mat-panel-title {
            font-family: var(--sys-display-small-font);
        }
        // adjust font-family + font-size + font-weight of reset button
        .reset-button {
            font-family: var(--sys-body-large-font) !important;
            font-size: var(--sys-body-large-size);
            font-weight: var(--sys-body-large-weight);
        }
    }
}
