<mat-card appearance="raised" *ngIf="facetFilters" [formGroup]="facetFilters">
  <div class="header">
    <i esIcon="tune"></i>
    <h2 class="mat-heading-3 font-bold" i18n>Filters</h2>
    <a
      class="reset-button"
      mat-button
      routerLink="{{ routerPath }}/search"
      [queryParams]="{ filters: null }"
      queryParamsHandling="merge"
    >
      <i esIcon="undo"></i> <ng-container i18n>Reset</ng-container>
    </a>
    <button
      class="close-button"
      mat-icon-button
      (click)="closeFilterBar()"
      i18n-aria-label
      aria-label="Hide filters"
    >
      <i esIcon="close"></i>
    </button>
  </div>
  <div class="body">
    <div *ngIf="!hasFacets" class="no-filters-notice">
      <p i18n>
        Currently, there are no applicable filters. Try another search string for more results.
      </p>
    </div>
    <mat-accordion [multi]="true" displayMode="flat">
      <mat-expansion-panel
        *ngFor="let key of mainFilters"
        [hidden]="!facets[key]?.values.length"
        [(expanded)]="expandedFilters[key]"
      >
        <mat-expansion-panel-header [ngSwitch]="key">
          <mat-panel-title *ngSwitchCase="'oehLrtAggregated'">
            <i class="icon" esIcon="perm_media"></i>
            <span i18n>Content type</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'discipline'">
            <i class="icon" esIcon="book_icon"></i>
            <span i18n>Discipline</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'educationalContext'">
            <i class="icon" esIcon="school"></i>
            <span i18n>Educational Level</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'intendedEndUserRole'">
            <i class="icon" esIcon="group"></i>
            <span i18n>Intended End User Role</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'source'">
            <i class="icon" esIcon="cloud"></i>
            <span i18n>Supplier</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'keyword'">
            <i class="icon" esIcon="list"></i>
            <span i18n>Keywords</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchDefault>
            <span>{{ key }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-multivalue-checkbox
          [formControlName]="key"
          [buckets]="facets[key]?.values"
        ></app-multivalue-checkbox>
        <button
          mat-button
          color="primary"
          class="show-more-button"
          *ngIf="facets[key].hasMore"
          (click)="loadMoreFacetBuckets(key)"
        >
          <ng-container i18n>show more</ng-container>
          <i esIcon="keyboard_arrow_down"></i>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>
