<mat-card *ngIf="facetFilters" [formGroup]="facetFilters">
  <div class="header">
    <mat-icon>tune</mat-icon>
    <h2 i18n>Filters</h2>
    <a
      class="reset-button"
      mat-button
      routerLink="{{ routerPath }}/search"
      [queryParams]="{ filters: null }"
      queryParamsHandling="merge"
    >
      <mat-icon>undo</mat-icon> <ng-container i18n>Reset</ng-container>
    </a>
    <button mat-icon-button (click)="closeFilterBar()" i18n-aria-label aria-label="Hide filters">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="body">
    <div *ngIf="!hasFacets" class="no-filters-notice">
      <p i18n>
        Currently, there are no applicable filters. Try another search string for more results.
      </p>
    </div>
    <div class="type" *ngIf="orderedTypeBuckets?.length > 0">
      <mat-label><mat-icon>apps</mat-icon> <ng-container i18n>Category</ng-container></mat-label>
      <app-multivalue-checkbox
        formControlName="type"
        [showCount]="false"
        [columns]="2"
        [buckets]="orderedTypeBuckets"
      ></app-multivalue-checkbox>
    </div>
    <mat-accordion [multi]="true" displayMode="flat">
      <mat-expansion-panel
        *ngFor="let key of mainFilters"
        [hidden]="!facets[key]?.values.length"
        [(expanded)]="expandedFilters[key]"
      >
        <mat-expansion-panel-header [ngSwitch]="key">
          <mat-panel-title *ngSwitchCase="'discipline'">
            <mat-icon class="icon">book_icon</mat-icon>
            <span i18n>Discipline</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'educationalContext'">
            <mat-icon class="icon">school</mat-icon>
            <span i18n>Educational Context</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'learningResourceType'">
            <mat-icon class="icon">photo_library</mat-icon>
            <span i18n>Learning Resource Type</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'intendedEndUserRole'">
            <mat-icon class="icon">group</mat-icon>
            <span i18n>Intended End User Role</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'source'">
            <mat-icon class="icon">cloud</mat-icon>
            <span i18n>Supplier</span>
          </mat-panel-title>
          <mat-panel-title *ngSwitchCase="'keyword'">
            <mat-icon class="icon">list</mat-icon>
            <span i18n>Keywords</span>
          </mat-panel-title>
          <mat-panel-title>
            <span *ngSwitchDefault>{{ key }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-multivalue-checkbox
          [formControlName]="key"
          [buckets]="facets[key]?.values"
        ></app-multivalue-checkbox>
        <button
          mat-button
          color="primary"
          class="show-more-button"
          *ngIf="facets[key].hasMore"
          (click)="loadMoreFacetBuckets(key)"
        >
          <ng-container i18n>show more</ng-container><mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>
