@use 'sass:color';
@use 'variables' as *;

@mixin search-filterbar-theme() {
    app-search-filterbar {
        > mat-card {
            > .header,
            .close-button {
                color: $primary-dark;
                .reset-button {
                    color: $primary;
                }
            }
            > .header {
                background-color: color.adjust($secondary, $lightness: 45%);
                border-color: $outline;
            }
            > .body {
                > .mat-accordion .mat-expansion-panel .mat-expansion-panel-header {
                    background-color: $surface;
                    .mat-expansion-panel-header-title {
                        color: $primary-dark;
                    }
                    svg path {
                        fill: $primary-dark;
                    }
                }
                > .mat-accordion .mat-expansion-panel .mat-expansion-panel-body {
                    background-color: $surface;
                }
            }
        }
    }
}

@mixin search-filterbar-typography() {
    app-search-filterbar {
        // change font-size + font-weight of panel title
        mat-panel-title {
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
        }
        // adjust font-size + font-weight of reset button
        .reset-button {
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
        }
    }
}
