@use '@angular/material' as mat;
@import '../../../functions';

@mixin search-filterbar-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $customAccent: map-get($theme, custom-accent);
    $primary-foreground-color: primary-foreground-color($theme);

    app-search-filterbar {
        > mat-card {
            > .header {
                color: mat.get-color-from-palette($primary);
                background-color: mat.get-color-from-palette($primary, 50);
                border-color: mat.get-color-from-palette($foreground, divider);
            }
            > .body {
                > .type {
                    background-color: mat.get-color-from-palette($background, app-bar);
                    border-color: mat.get-color-from-palette($foreground, divider);
                    > mat-label {
                        color: $primary-foreground-color;
                    }
                }
                > .mat-accordion .mat-expansion-panel .mat-expansion-panel-header {
                    .mat-expansion-panel-header-title,
                    .mat-expansion-indicator::after {
                        color: $primary-foreground-color;
                    }
                }
            }
        }
    }
}

@mixin search-filterbar-typography($typography) {
    app-search-filterbar {
        .type > mat-label {
            @include mat.typography-level($typography, body-1);
        }
    }
}
