@use '@angular/material' as mat;
@import '../../../../additional-colors';
@import '../../functions';

@mixin footerbar-theme($theme) {
    // custom theme created for extracted styles, thus, the same order and selectors are used
    // single selectors might be combined (e.g., a{}) or combined (e.g., &:hover)
    // ::after selectors might require !important
    app-footerbar {
        @media all {
            a {
                color: mat.get-theme-color($theme, primary);
                background-color: transparent;

                // TODO: Add, if necessary
                //&:hover, &:focus {
                //    color: #003570;
                //}
            }

            // TODO: Change, if necessary
            ::-moz-placeholder {
                color: #313131;
            }
            :-ms-input-placeholder {
                color: #313131;
            }
            ::-ms-input-placeholder {
                color: #313131;
            }
            ::placeholder {
                color: #313131;
            }

            // TODO: Change, if necessary
            @media print {
                * {
                    background: transparent !important;
                    color: black !important;
                    print-color-adjust: economy;
                    box-shadow: none !important;
                    text-shadow: none !important;
                }
            }

            *:focus {
                outline: 1px dotted mat.get-theme-color($theme, primary);
            }

            .site-footer {
                @if mat.get-theme-type($theme) == light {
                    color: mat.get-theme-color($theme, primary, 100);
                    background-color: mat.get-theme-color($theme, primary, 25);
                } @else {
                    color: mat.get-theme-color($theme, on-background);
                    background: mat.get-theme-color($theme, surface-container-lowest);
                }
            }

            .site-footer .footer-wrapper .footer-main .footer-menu a,
            .site-footer .footer-wrapper .footer-right .footer-license a {
                @if mat.get-theme-type($theme) == light {
                    color: mat.get-theme-color($theme, primary, 100);
                } @else {
                    color: mat.get-theme-color($theme, primary);
                }

                &:hover {
                    color: $neon-default;
                }
            }

            .site-footer .footer-wrapper .footer-right .footer-bmbf {
                @if mat.get-theme-type($theme) == light {
                    background: mat.get-theme-color($theme, surface-container-lowest);
                } @else {
                    background: mat.get-theme-color($theme, inverse-surface);
                }
            }

            .site-footer .footer-wrapper .footer-btn {
                color: mat.get-theme-color($theme, primary, 40);
                background: $neon-default;

                &:hover {
                    background: $neon-medium;
                }
            }
        }
    }
}
