$app-search-field-border-radius: 8px;

:host {
    display: flex;
    position: relative;
}

form {
    display: flex;
    width: 100%;
    .search-field-input-wrapper {
        flex-grow: 1;
        display: flex;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-top-left-radius: $app-search-field-border-radius;
        border-bottom-left-radius: $app-search-field-border-radius;
        padding: 3px 7px;
        min-height: 40px;
        input {
            padding: 0.5em;
        }
    }
    > button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: $app-search-field-border-radius;
        border-bottom-right-radius: $app-search-field-border-radius;
    }
}

:host mat-form-field.search-field ::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-infix {
        padding: 0;
        border: none;
    }
}

.search-field {
    width: 100%;
}

.suggestion-card {
    // box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-radius: $app-search-field-border-radius;
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px;
    padding: 10px;
    .suggestion-group {
        &:not(:last-of-type) {
            padding-bottom: 20px;
        }
        .label-container {
            display: flex;
        }
        .what-is-oer-link {
            padding-left: 10px;
            font-size: 90%;
            text-decoration: underline;
            cursor: pointer;
        }
        .category-label {
            display: block;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 90%;
            color: #666;
            padding-bottom: 6px;
        }
    }
}
.chip-group-oer .mat-chip {
    background-color: rgb(214, 166, 214);
}
.chip-group-type .mat-chip {
    background-color: rgb(166, 192, 214);
}
.chip-group-discipline .mat-chip {
    background-color: rgb(166, 214, 174);
}
.chip-group-educationalContext .mat-chip {
    background-color: rgb(214, 166, 166);
}
.chip-group-intendedEndUserRole .mat-chip {
    background-color: rgb(211, 214, 166);
}
.chip-group-learningResourceType .mat-chip {
    background-color: rgb(214, 193, 166);
}
.chip-group-source .mat-chip {
    background-color: rgb(208, 166, 214);
}
