@use '~@angular/material' as mat;
@import '../../../functions';

@mixin collection-card-theme($theme) {
    $primary: map-get($theme, primary);

    app-collection-card {
        .app-collection-card-container {
            background-color: mat.get-color-from-palette($primary, 400);
            color: mat.get-contrast-color-from-palette($primary, 400);
            .editorial-icon {
                background-color: mat.get-contrast-color-from-palette($primary, 400);
            }
            // Background image, not compatible with background colors.
            //
            // &.app-collection-card-container-background-light {
            //     color: mat.get-color-from-palette($app-light-theme-foreground, text);
            // }
            // &.app-collection-card-container-background-dark {
            //     color: mat.get-color-from-palette($app-dark-theme-foreground, text);
            // }
        }
    }
}

@mixin collection-card-typography($typography) {
    app-collection-card {
        .app-collection-card-title {
            @include mat.typography-level($typography, subheading-1);
        }
        .app-collection-card-metadata-item {
            @include mat.typography-level($typography, caption);
        }
    }
}
