<div
  class="app-collection-card-container app-collection-card-container-background-{{
    backgroundType
  }}"
  matRipple
  [matRippleTrigger]="link"
  [style.background-color]="backgroundColor"
>
  <!-- Background image, not compatible with background colors. -->
  <!-- <div
    class="app-collection-card-background-image"
    style.background-image="url(data:{{ collection.thumbnail.mimetype }};base64,{{
      collection.thumbnail.image
    }})"
  ></div> -->

  <div class="app-collection-card-icon-container">
    <i esIcon="svg-editorial" class="editorial-icon"></i>
  </div>

  <h4 class="app-collection-card-title mat-heading-4">
    <a
      #link
      [href]="
        retrieveCustomUrl && retrieveCustomUrl(collection)
          ? retrieveCustomUrl(collection)
          : (collection | collectionProperty: 'url')
      "
    >
      {{ collection | collectionProperty: 'title' }}
    </a>
  </h4>

  <div class="app-collection-card-metadata-row">
    <span class="app-collection-card-metadata-item">
      <i esIcon="photo_library"></i>
      <span class="cdk-visually-hidden">
        <ng-container i18n>Number of elements</ng-container>:
      </span>
      {{ collection | collectionProperty: 'childReferencesCount' }}
    </span>
  </div>
</div>
