@use 'variables' as *;

@mixin collection-card-theme() {
    app-collection-card {
        .app-collection-card-container {
            color: $on-primary;
            background: $primary;
            transition: box-shadow 0.3s, transform 0.3s;
            &:hover {
                transform: translate(0, -4px);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

@mixin collection-card-typography() {
    app-collection-card {
        // decrease font-size of icon
        .app-collection-card-icon-container > .editorial-icon {
            font-size: $font-size-small;
        }
        // bold font-weight for title
        h4.app-collection-card-title {
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
        }
        // decrease font-size for metadata
        .app-collection-card-metadata-item {
            font-size: $font-size-small;
            .mat-icon {
                font-size: 80%;
            }
        }
    }
}
