@import '../variables';

.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

    app-login {
        align-self: flex-end;
    }
    .search{
        display: flex;
        width: 100%;
        align-items: center;
        >app-search-field{
            margin-left: 20px;
            flex-grow: 1;
            height: 50px;
        }
        padding-bottom: 20px;
    }
    .alpha {
        background-color: $primary;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        padding: 15px 20px;
        margin: 5px auto 30px auto;
    }
}
.content {
    padding-top: $menuHeight + 10px;
}
