@import '~@angular/material/theming';
@import './functions';

@mixin app-theme($theme) {
    $background: map-get($theme, background);
    $primary-foreground-color: primary-foreground-color($theme);

    app-root {
        > .loading-spinner {
            background-color: mat-color($background, dialog, 0.5);
            .mat-spinner circle {
                stroke: $primary-foreground-color;
            }
        }
    }
}
