@import '../variables';

.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    app-login {
        position: absolute;
        right: 0;
        top: -50px;
        align-self: flex-end;
        padding: 10px 20px 10px 80px;
    }
    .content {
        padding: 20px 40px;
    }
    .search {
        padding:20px 10%;
        display: flex;
        align-items: center;
        background-image: url('../assets/images/search-bg.png');
        background-size: cover;
        background-position: 50%;
        >app-search-field{
            margin-left: 20px;
            flex-grow: 1;
            height: 50px;
        }
    }
    .alpha {
        background-color: $primary;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        padding: 15px 20px;
        margin: 5px auto 30px auto;
        display: none;
    }
}
