:host {
    --topic-color: #182e5c;
    --border-radius: 24px;
    --maximal-width: 1200px;
    --action-button-border-radius: 18px;
    --action-button-spacing: 9px;
    display: flex;
    flex-direction: column;
    max-width: var(--maximal-width);
    margin: auto;
}

.template-header {
    background-color: var(--topic-color);

    .template-header-wrapper {
        display: flex;
        justify-content: flex-start;
        position: relative;
        box-sizing: border-box;
        max-width: var(--maximal-width);
        margin: 0 auto;
        padding: 24px 36px 0;
        transition: 0.3s;

        .template-header-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #fff;
            border-radius: var(--border-radius) var(--border-radius) 0 0;

            .template-header-content {
                display: flex;
                flex-direction: column;
                margin: 32px 0;
                padding: 0 64px;

                h1 {
                    font-family: 'Montserrat-Medium', 'Helvetica Neue', Helvetica, Roboto, Arial,
                        sans-serif;
                    font-size: 40px;
                    font-weight: normal;
                    line-height: 1.3;
                    color: #313131;
                    margin-bottom: 0.5em;
                }
            }

            .edit-button,
            .add-button {
                position: absolute;
                top: var(--action-button-spacing);
                padding: 0;
                min-width: 42px;
                height: 36px;

                .mat-icon {
                    margin: 0 auto;
                    font-size: 24px;
                    height: 24px;
                    width: 24px;
                }

                &.cdk-focused {
                    display: none;
                }
            }

            .edit-button {
                left: var(--action-button-spacing);
                border-top-left-radius: var(--action-button-border-radius);
            }

            .add-button {
                right: var(--action-button-spacing);
                border-top-right-radius: var(--action-button-border-radius);
            }
        }
    }
}

@media only screen and (min-width: 901px) {
    .template-header {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);

        .template-header-container {
            width: 72%;
        }
    }
}

.portal-plus-filterbar-wrapper {
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
    z-index: 10;
    background: #f4f4f4;
    border-radius: var(--border-radius);

    .portal-wrapper {
        display: flex;
        justify-content: center;
        max-width: initial;
        margin: 0 auto;
        transition: 0.3s;

        .portal-wrapper-left {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            width: 100%;
            max-width: var(--maximal-width);
            border-radius: var(--border-radius);

            .wlo-column {
                position: relative;
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);

                &:last-child {
                    border-bottom-left-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                }

                /* Simple hack for overflowing containers as it was done in Wordpress */
                padding-bottom: 30px;
                &:not(:first-child) {
                    margin-top: -25px;
                }

                .wlo-edit-buttons,
                .wlo-move-buttons {
                    position: absolute;
                    top: 5px;
                    z-index: 10;

                    button {
                        min-width: inherit;
                        line-height: 10px;
                        padding: 5px 5px 2px 5px;
                        border: 1px solid #e0e0e0;
                        background: #f4f4f4;
                        cursor: pointer;

                        &:first-child {
                            border-radius: 8px 0 0 8px;
                        }

                        &:last-child {
                            border-radius: 0 8px 8px 0;
                        }

                        &.wlo-single-button {
                            border-radius: 8px;
                        }
                        /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
                        &.mat-button-disabled {
                            background: #d6d6d6;
                        }

                        &:disabled,
                        &[disabled] {
                            cursor: not-allowed;
                        }

                        mat-icon {
                            font-size: 20px;
                        }
                    }
                }

                .wlo-edit-buttons {
                    right: 8px;
                }

                .wlo-move-buttons {
                    left: 8px;
                }

                /* type: collapse */
                .wlo-accordion {
                    display: block;
                    width: 100%;

                    .wlo-accordion-item {
                        display: block;

                        .wlo-accordion-item-header {
                            display: flex;
                            align-content: center;
                            justify-content: space-between;
                            position: relative;

                            h2 {
                                margin: 0 7.5% 0 7.5%;
                                width: 85%;
                                text-align: center;
                            }

                            .wlo-accordion-item-description {
                                position: absolute;
                                right: 25px;

                                mat-icon {
                                    font-size: 30px;
                                }
                            }
                        }

                        .wlo-accordion-item-header,
                        .wlo-accordion-item-body {
                            padding: 12px 24px;
                        }

                        .wlo-accordion-item-header:hover {
                            cursor: pointer;
                        }

                        .wlo-accordion-item:first-child,
                        .wlo-accordion-item-header {
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }

                        .wlo-accordion-item:last-child,
                        .wlo-accordion-item-body,
                        .wlo-accordion-item[aria-expanded='false'] .wlo-accordion-item-header {
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }

                        .wlo-description {
                            text-align: center;
                        }
                    }
                }

                /* type: jumbotron */
                .wlo-jumbotron {
                    padding: 15px 25px;
                    height: 100%;
                    box-sizing: border-box;
                    overflow-y: scroll;
                }

                .wlo-jumbotron,
                .wlo-container {
                    h2,
                    .wlo-description {
                        text-align: center;
                    }
                }

                /* type: text */
                .wlo-text {
                    padding: 10px;
                }

                /* type: spacer */
                .wlo-spacer {
                    margin: 1.5em auto;
                    width: 100%;
                    border: none;
                    border-top: 3px solid #e0e0e0;
                }

                /* overwrites for edit mode */
                &.column-edit-mode {
                    h2 {
                        margin: 0 7.5% 0 7.5%;
                    }

                    .wlo-accordion-item-description {
                        right: 95px !important;
                    }
                }
            }

            .fachportal-new-content-inner {
                h2 {
                    font-size: 20px;
                }
            }

            .mat-grid-tile {
                .drop-list,
                .component-wrapper {
                    width: 100%;
                    height: 100%;
                }
            }

            /* this is required to avoid the duplication effect on dragging */
            .cdk-drag-placeholder {
                display: none;
            }
        }
    }

    /* grabbing into the node-entry to avoid unappealingly thin cards */
    ::ng-deep .grid-card {
        min-width: 220px;
    }
}

:host mat-grid-list ::ng-deep {
    .mat-grid-tile .mat-grid-tile-content {
        position: relative;
        display: block;
    }
}

/* This needs to be on the outside, as dragged elements are added to the body */
.cdk-drag.component-wrapper {
    overflow-y: scroll;

    .handle-button,
    .settings-button {
        position: absolute;
        top: 10px;
        z-index: 10;
        padding: 5px;
        color: #222;
    }

    .settings-button {
        right: 10px;
        cursor: pointer;
    }

    .handle-button {
        left: 10px;
        cursor: move;
    }
}
