@use 'variables' as *;

@mixin template-page-theme() {
    app-template {
        .action-btn {
            color: $secondary-text;
            background: $surface;

            &.btn-modify {
                color: $on-primary;
                background: $primary;
            }
        }

        .reloading-indicator-bg {
            background: $surface;

            &.transparent-bg {
                background: rgba($inverse-surface, 0.5);
            }
        }

        .breadcrumb-navbar-overflow-container {
            background: $surface;
        }

        .template-breadcrumb {
            background: $primary-dark;

            a,
            i,
            p {
                color: $on-primary !important;
            }
        }

        .template-search-container h2 {
            color: $on-primary;
        }

        .template-header-container,
        .portal-wrapper-left {
            background: $surface;
        }

        .wlo-swimlane {
            background-color: $surface-container-low;
        }

        .anchor-container .anchor-menu .anchor-item {
            .item-container {
                background: $surface;
            }

            .total-count {
                color: $on-primary;
                background-color: $pink-default;
            }
        }
    }
}

@mixin template-page-typography() {
    // increase size of accordion caret icon
    .wlo-accordion-item-description {
        .mat-icon,
        .mat-mdc-icon {
            font-size: 187.5%;
        }
    }

    .anchor-container .anchor-menu .anchor-item {
        // decrease font-size + line-height of anchor item container
        .item-container {
            font-size: $font-size-x-small;
            line-height: $line-height-small;
        }

        // adjust font-size, line-height + font-weight of total count
        .total-count {
            font-size: 62.5%;
            font-weight: $font-weight-x-bold;
            line-height: $line-height-small;
        }
    }
}
