<h1 mat-dialog-title><span i18n>Configure</span> "{{ data.swimlane.heading }}"</h1>

<div mat-dialog-content [formGroup]="form" class="content settings-form">
  <mat-form-field appearance="outline">
    <mat-label i18n>Heading</mat-label>
    <input matInput type="text" placeholder="Heading of the swimlane" formControlName="heading" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label i18n>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option
        [disabled]="option.isDisabled"
        [value]="option.value"
        *ngFor="let option of swimlaneTypeOptions"
      >
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label i18n>Background-Color</mat-label>
    <input matInput type="color" formControlName="backgroundColor" />
  </mat-form-field>
  <mat-label i18n>Grid-Definition</mat-label>
  <div
    cdkDropList
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="drop($event)"
    class="wlo-grid wlo-gap wlo-grid-cols-6"
  >
    <ng-container *ngIf="gridItems?.length >= 1; else configureGridDialog">
      <div
        cdkDrag
        class="wlo-grid-content"
        [class.wlo-col-span-2]="gridItem.cols === 2"
        [class.wlo-col-span-3]="gridItem.cols === 3"
        [class.wlo-col-span-4]="gridItem.cols === 4"
        [class.wlo-col-span-6]="gridItem.cols === 6 || gridItems.length === 1"
        *ngFor="let gridItem of gridItems; let i = index"
      >
        <!-- drag handle (retrieved from official example) -->
        <div class="drag-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        <div
          *ngIf="gridItem.item && gridItem.item !== ''; else selectWidgetTypeDialog"
          class="grid-border-container flex-direction-column"
        >
          <div class="grid-label">
            Aktueller Widget-Typ:
            <strong>
              {{ widgetTypeToTextMap.get(gridItem.item) }}
            </strong>
            <ng-container *ngIf="!!gridItem.nodeId"> (angepasst) </ng-container>
          </div>
          <app-select-widget-type-dialog
            [grid]="gridItems"
            [tileIndex]="i"
            (gridUpdated)="updatedGrid($event)"
          ></app-select-widget-type-dialog>
        </div>
        <ng-template #selectWidgetTypeDialog>
          <!-- display a form to select it when being in edit mode -->
          <div class="grid-border-container flex-direction-column">
            <div class="grid-label">Noch kein Widget vorhanden</div>
            <app-select-widget-type-dialog
              [grid]="gridItems"
              [tileIndex]="i"
              (gridUpdated)="updatedGrid($event)"
            ></app-select-widget-type-dialog>
          </div>
        </ng-template>
      </div>
      <ng-container *ngTemplateOutlet="reconfigureGridDialog"></ng-container>
    </ng-container>
  </div>

  <!-- no grid has been defined yet -->
  <ng-template #configureGridDialog>
    <div class="grid-border-container wlo-col-span-6">
      <!-- configure grid dialog for initial data -->
      <app-configure-grid-dialog
        [grid]="gridItems"
        (gridUpdated)="updatedGrid($event)"
      ></app-configure-grid-dialog>
    </div>
  </ng-template>

  <ng-template #reconfigureGridDialog>
    <div class="wlo-col-span-6 text-center">
      <hr />
      <div class="alert-warning grid-label">
        <strong>Achtung:</strong> Wenn Sie den Grid-Typ ändern, können Widgets, die auf später
        nichtmehr vorhandenen Positionen am Ende des Grids hinzugefügt wurden, verloren gehen.
        Verschieben Sie daher bitte zuerst die jeweiligen Widgets, bevor Sie mit der Grid-Anpassung
        fortfahren.
      </div>
      <!-- reconfigure grid dialog -->
      <app-configure-grid-dialog
        [grid]="gridItems"
        (gridUpdated)="updatedGrid($event)"
      ></app-configure-grid-dialog>
    </div>
  </ng-template>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close>Abbrechen</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="form">Anwenden</button>
</div>
