<h2 class="dialog-title-heading mat-heading-3 important font-bold" mat-dialog-title>
  {{
    'TOPIC_PAGE.SWIMLANE.EDIT.HEADING'
      | translate
        : {
            heading: data.swimlane.heading
              ? '"' + data.swimlane.heading + '"'
              : ('TOPIC_PAGE.SWIMLANE.EDIT.SWIMLANE_DEFAULT' | translate)
          }
  }}
</h2>

<div mat-dialog-content [formGroup]="form" class="content settings-form">
  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'TOPIC_PAGE.SWIMLANE.EDIT.HEADING_LABEL' | translate }}
    </mat-label>
    <input
      matInput
      type="text"
      [placeholder]="'TOPIC_PAGE.SWIMLANE.EDIT.HEADING_PLACEHOLDER' | translate"
      formControlName="heading"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'TOPIC_PAGE.SWIMLANE.EDIT.TYPE_LABEL' | translate }}
    </mat-label>
    <mat-select formControlName="type">
      <mat-option [value]="option.value" *ngFor="let option of swimlaneTypeOptions">
        {{ 'TOPIC_PAGE.SWIMLANE.SELECT_ELEMENT.' + option.viewValue | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-label>
    {{ 'TOPIC_PAGE.SWIMLANE.EDIT.GRID_DEFINITION_LABEL' | translate }}
  </mat-label>
  <div
    cdkDropList
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="drop($event)"
    class="wlo-grid wlo-gap wlo-grid-cols-6"
  >
    <ng-container *ngIf="gridItems?.length >= 1; else configureGridDialog">
      <div
        cdkDrag
        class="wlo-grid-content"
        [class.wlo-col-span-2]="gridItem.cols === 2"
        [class.wlo-col-span-3]="gridItem.cols === 3"
        [class.wlo-col-span-4]="gridItem.cols === 4"
        [class.wlo-col-span-6]="gridItem.cols === 6 || gridItems.length === 1"
        *ngFor="let gridItem of gridItems; let i = index"
      >
        <!-- drag handle (retrieved from official example) -->
        <div class="drag-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        <div role="button" class="delete-tile" (click)="removeGridTile(i)">
          <i esIcon="remove_circle_outline"></i>
        </div>
        <div
          *ngIf="gridItem.item && gridItem.item !== ''; else selectWidgetTypeDialog"
          class="grid-border-container flex-direction-column"
        >
          <div class="grid-label">
            {{ 'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.CURRENT_TYPE' | translate }}:
            <strong>
              {{
                'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.' + widgetTypeToTextMap.get(gridItem.item)
                  | translate
              }}
            </strong>
            <ng-container *ngIf="!!gridItem.nodeId">
              ({{ 'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.CONFIG_EXISTS' | translate }})
            </ng-container>
          </div>
          <app-select-widget-type-dialog
            [grid]="gridItems"
            [tileIndex]="i"
            (gridUpdated)="updatedGrid($event)"
          ></app-select-widget-type-dialog>
        </div>
        <ng-template #selectWidgetTypeDialog>
          <!-- display a form to select it when being in edit mode -->
          <div class="grid-border-container flex-direction-column">
            <div class="grid-label">
              {{ 'TOPIC_PAGE.SWIMLANE.NO_WIDGET_AVAILABLE' | translate }}
            </div>
            <app-select-widget-type-dialog
              [grid]="gridItems"
              [tileIndex]="i"
              (gridUpdated)="updatedGrid($event)"
            ></app-select-widget-type-dialog>
          </div>
        </ng-template>
      </div>
      <ng-container *ngTemplateOutlet="reconfigureGridDialog"></ng-container>
    </ng-container>
  </div>

  <!-- no grid has been defined yet -->
  <ng-template #configureGridDialog>
    <div class="grid-border-container wlo-col-span-6">
      <!-- configure grid dialog for initial data -->
      <app-configure-grid-dialog
        [grid]="gridItems"
        (gridUpdated)="updatedGrid($event)"
      ></app-configure-grid-dialog>
    </div>
  </ng-template>

  <ng-template #reconfigureGridDialog>
    <div class="wlo-col-span-6 text-center">
      <hr />
      <div class="alert-warning grid-label">
        <strong>{{ 'TOPIC_PAGE.ATTENTION' | translate }}:</strong>
        {{ 'TOPIC_PAGE.SWIMLANE.EDIT.CHANGE_GRID_HINT' | translate }}
      </div>
      <!-- reconfigure grid dialog -->
      <app-configure-grid-dialog
        [grid]="gridItems"
        (gridUpdated)="updatedGrid($event)"
      ></app-configure-grid-dialog>
    </div>
  </ng-template>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close>
    {{ 'CANCEL' | translate }}
  </button>
  <button mat-flat-button color="primary" [mat-dialog-close]="form">
    {{ 'APPLY' | translate }}
  </button>
</div>
