:host {
    width: 100%;
}

.settings-form {
    padding-top: 5px !important;

    mat-form-field {
        width: 100%;
    }
}

.drag-handle {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: move;
    width: 24px;
    height: 24px;
}

.grid-label {
    margin-bottom: 16px;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
}
