.settings-form {
    padding-top: 5px !important;

    mat-form-field {
        width: 100%;
    }

    .grid-definition {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

        // TODO: Move into theme file
        --mat-expansion-header-text-font: Montserrat-SemiBold, serif;
        --mat-expansion-header-text-weight: 400;

        .mat-expansion-panel-header-title {
            margin-left: 70px;
        }

        .mat-expansion-panel-header-description {
            font-size: 13px;
        }

        .wlo-move-buttons {
            position: absolute;
            left: 5px;
            top: 5px;
            z-index: 10;

            button {
                min-width: inherit;
                line-height: 10px;
                padding: 5px 5px 2px 5px;
                border: 1px solid #e0e0e0;
                background: #f4f4f4;
                cursor: pointer;

                &:first-child {
                    border-radius: 8px 0 0 8px;
                }

                &:last-child {
                    border-radius: 0 8px 8px 0;
                }

                &:disabled,
                &[disabled] {
                    cursor: not-allowed;
                }

                mat-icon {
                    font-size: 20px;
                }
            }
        }

        .delete-btn {
            font-size: 20px;
            float: right;
        }

        .dimensions {
            margin-top: 5px;

            .tile-dimension {
                button {
                    margin-right: 0.5rem;
                    padding: 0;
                    min-width: inherit;
                }

                .line-break {
                    display: block;
                    margin-top: 0.5rem;
                }
            }
        }
    }

    .no-grid-tiles {
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }
}
