@import '~@angular/material/theming';
@import '../functions';

@mixin search-filterbar-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $customAccent: map-get($theme, custom-accent);
    $primary-foreground-color: primary-foreground-color($theme);

    app-search-filterbar {
        > mat-card {
            > .header {
                color: mat-color($primary);
                background-color: mat-color($customAccent, accent1);
                border-color: mat-color($foreground, divider);
            }
            > .body {
                > .type {
                    background-color: mat-color($background, app-bar);
                    border-color: mat-color($foreground, divider);
                    > mat-label {
                        color: $primary-foreground-color;
                    }
                }
                > .vertical {
                    app-collapse-button > button {
                        color: $primary-foreground-color;
                    }
                }
            }
        }
    }
}
