@import '../../variables.scss';

$sidePadding: 20px;
mat-card {
    padding: 0;
    width: 350px;
    @media screen and (max-width: 700px) {
        width: 300px;
    }
    @media screen and (max-width: 600px) {
        width: 100vw;
    }
    .header {
        color: $primary;
        background-color: $accentYellow;
        height: 40px;
        padding: 10px $sidePadding 10px $sidePadding;
        display: flex;
        align-items: center;
        h2 {
            flex-grow: 1;
            margin: 0 10px;
        }
    }
    .body {
        .type {
            background-color: #eee;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 10px $sidePadding;
            mat-label {
                color: $primary;
                font-weight: bold;
                display: flex;
                align-items: center;
                margin: 10px 0;
                > mat-icon {
                    margin-right: 10px;
                }
            }
        }
        > .vertical {
            display: flex;
            flex-direction: column;
            padding: 10px $sidePadding;
            > button {
                margin: 10px -16px;
                display: flex;
                font-weight: bold;
                align-items: center;
                color: $primary;
                .filter-icon {
                    margin-right: 10px;
                }
                .arrow-icon {
                    margin-left: 5px;
                }
            }
        }
    }
}
