<mat-card [formGroup]="facetFilters">
  <div class="header">
    <mat-icon>tune</mat-icon>
    <h2 i18n>Filters</h2>
    <a
      class="reset-button"
      mat-button
      routerLink="/search"
      [queryParams]="{ filters: null }"
      queryParamsHandling="merge"
    >
      <mat-icon>undo</mat-icon> <ng-container i18n>Reset</ng-container>
    </a>
    <button mat-icon-button (click)="closeFilterBar()"><mat-icon>close</mat-icon></button>
  </div>
  <div class="body">
    <div class="type">
      <mat-label><mat-icon>apps</mat-icon> <ng-container i18n>Type</ng-container></mat-label>
      <app-multivalue-checkbox
        formControlName="type"
        [showCount]="false"
        [columns]="2"
        [buckets]="facets.types.buckets"
      ></app-multivalue-checkbox>
    </div>
    <ng-container
      *ngFor="
        let key of [
          'disciplines',
          'educationalContexts',
          'learningResourceTypes',
          'intendedEndUserRoles',
          'sources',
          'keywords'
        ]
      "
    >
      <ng-container *ngIf="facets[key]?.buckets.length">
        <div class="vertical">
          <button mat-button (click)="toggle(key)" [ngSwitch]="key">
            <ng-container *ngSwitchCase="'disciplines'">
              <mat-icon class="filter-icon">book_icon</mat-icon>
              <ng-container i18n>Discipline</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'educationalContexts'">
              <mat-icon class="filter-icon">school</mat-icon>
              <ng-container i18n>Educational Context</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'learningResourceTypes'">
              <mat-icon class="filter-icon">photo_library</mat-icon>
              <ng-container i18n>Learning Resource Type</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'intendedEndUserRoles'">
              <mat-icon class="filter-icon">group</mat-icon>
              <ng-container i18n>Intended End User Role</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'sources'">
              <mat-icon class="filter-icon">cloud</mat-icon>
              <ng-container i18n>Sources</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'keywords'">
              <mat-icon class="filter-icon">list</mat-icon>
              <ng-container i18n>Keywords</ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>{{ key }}</ng-container>
            <mat-icon class="arrow-icon">{{
              expanded.indexOf(key) != -1 ? 'keyboard_arrow_down' : 'keyboard_arrow_right'
            }}</mat-icon>
          </button>
          <app-multivalue-checkbox
            *ngIf="expanded.indexOf(key) != -1"
            [formControlName]="facets[key].field"
            [buckets]="facets[key].buckets"
          ></app-multivalue-checkbox>
        </div>
      </ng-container>
    </ng-container>
  </div>
</mat-card>
