<mat-card *ngIf="show" [formGroup]="facetFilters">
  <div class="header">
    <mat-icon>tune</mat-icon>
    <h2 i18n>Filters</h2>
    <a
      mat-icon-button
      routerLink="/search"
      [queryParams]="{ filter: false }"
      queryParamsHandling="merge"
      ><mat-icon>close</mat-icon></a
    >
  </div>
  <div class="scroll">
    <div class="type">
      <mat-label
        ><mat-icon>photo_library</mat-icon> <ng-container i18n>Type</ng-container></mat-label
      >
      <app-multivalue-checkbox
        formControlName="types"
        orientation="horizontal"
        [count]="false"
        [options]="getTypes()"
      ></app-multivalue-checkbox>
    </div>
    <div
      *ngFor="let key of ['disciplines', 'educationalContexts', 'learningResourceTypes']"
      class="vertical"
    >
      <ng-container *ngIf="facets[key]?.buckets?.length">
        <button mat-button (click)="toggle(key)" [ngSwitch]="key">
          <ng-container *ngSwitchCase="'disciplines'">
            <mat-icon>book_icon</mat-icon> <ng-container i18n>Disciplines</ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'educationalContexts'">
            <mat-icon>school</mat-icon> <ng-container i18n>Educational Contexts</ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'learningResourceTypes'">
            <mat-icon>photo_library</mat-icon>
            <ng-container i18n>Learning Resource Types</ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>{{ key }}</ng-container>
          <mat-icon>{{
            expanded.indexOf(key) != -1 ? 'keyboard_arrow_down' : 'keyboard_arrow_right'
          }}</mat-icon>
        </button>
        <app-multivalue-checkbox
          *ngIf="expanded.indexOf(key) != -1"
          [formControlName]="key"
          [options]="facets[key].buckets"
        ></app-multivalue-checkbox>
      </ng-container>
    </div>
  </div>
  <!-- <div class="apply">
    <button mat-raised-button color="primary" i18n><mat-icon>search</mat-icon>Apply</button>
  </div> -->
</mat-card>
