$sidePadding: 20px;

mat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    > .header {
        height: 40px;
        padding: 10px $sidePadding 10px $sidePadding;
        display: flex;
        align-items: center;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        h2 {
            flex-grow: 1;
            margin: 0 10px;
        }
        .reset-button {
            mat-icon {
                margin-right: 0.3em;
            }
        }
    }
    > .body {
        overflow: auto;
        overscroll-behavior: contain;
        > .type {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            padding: 10px $sidePadding;
            > mat-label {
                font-weight: bold;
                display: flex;
                align-items: center;
                margin: 10px 0;
                > mat-icon {
                    margin-right: 10px;
                }
            }
        }
        > .vertical {
            display: flex;
            flex-direction: column;
            padding: 10px $sidePadding;
            > button {
                margin: 10px -16px;
                display: flex;
                font-weight: bold;
                align-items: center;
                .filter-icon {
                    margin-right: 10px;
                }
                .arrow-icon {
                    margin-left: 5px;
                }
            }
        }
    }
}
