<div class="header">
  <h3 class="title" [ngSwitch]="type">
    <ng-container *ngSwitchCase="'MATERIAL'" i18n>Contents</ng-container>
    <ng-container *ngSwitchCase="'LESSONPLANNING'" i18n="plural|">Lesson Planning</ng-container>
    <ng-container *ngSwitchCase="'TOOL'" i18n>Tools</ng-container>
    <ng-container *ngSwitchCase="'SOURCE'" i18n>Sources</ng-container>
    <ng-container *ngSwitchCase="'METHOD'" i18n>Methods</ng-container>
  </h3>
  <a
    class="show-more-button"
    mat-button
    routerLink="{{ routerPath }}/search"
    [queryParams]="type | generateFilters: 'type':filters"
    queryParamsHandling="merge"
  >
    <ng-container i18n>show more</ng-container>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</div>
<ngx-slick-carousel #slickModal="slick-carousel" class="carousel" [config]="slickConfig">
  <div class="card-container" ngxSlickItem *ngFor="let hit of hits">
    <app-result-card [hit]="hit" class="slide"></app-result-card>
  </div>
</ngx-slick-carousel>
