:host {
    display: block;
}

.header {
    display: flex;
    align-items: flex-start;
    .title {
        flex-grow: 1;
    }
}

.carousel {
    padding-bottom: 5px;
}

.carousel {
    margin: -10px -30px 0 -10px;

    & ::ng-deep {
        .slick-next {
            right: -9px;
        }
        .slick-dots {
            bottom: -10px;
        }
        .slick-track {
            display: flex;
        }
    }
}
.card-container {
    display: flex;
    justify-content: center;
    margin: 10px 30px 30px 10px;
    .slick-initialized &.slick-slide {
        display: flex;
        height: unset;
    }
    app-result-card {
        height: 100%;
        &[data-style='standard'] {
            width: 280px;
        }
        &[data-style='compact'] {
            flex-grow: 1;
            align-items: stretch;
        }
    }
}
.show-more-button .mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
}
