<div class="header">
  <h3 class="title">
    {{ type | displayName: 'oehLrtAggregated' }}
  </h3>
  <a
    class="show-more-button"
    mat-button
    routerLink="{{ routerPath }}/search"
    [queryParams]="type | generateFilters: 'oehLrtAggregated':filters"
    queryParamsHandling="merge"
  >
    <ng-container i18n>show more</ng-container>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </a>
</div>
<ngx-slick-carousel #slickModal="slick-carousel" class="carousel" [config]="slickConfig">
  <div class="card-container" ngxSlickItem *ngFor="let hit of hits">
    <app-result-card [hit]="hit" class="slide"></app-result-card>
  </div>
</ngx-slick-carousel>
