@use '@angular/material' as mat;
@import '../../functions';

@mixin search-page-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary-foreground-color: primary-foreground-color($theme);
    $customAccent: map-get($theme, custom-accent);

    app-search {
        .breadcrumbs {
            color: $primary-foreground-color;
            mat-icon {
                color: mat.m2-get-color-from-palette($foreground, secondary-text, 0.25);
            }
        }
        .did-you-mean a {
            color: $primary-foreground-color;
        }
        .participate-button {
            color: $primary-foreground-color;
            background-color: mat.m2-get-color-from-palette($customAccent, accent1);
        }
    }
}

@mixin search-page-typography($typography) {
    app-search {
        .did-you-mean em,
        .summary em {
            font-weight: mat.m2-font-weight($typography, body-2);
        }
        .did-you-mean,
        .summary {
            font-size: mat.m2-font-size($typography, body-1);
        }
    }
}
