@use 'sass:color';
@use 'variables' as *;

@mixin search-page-theme() {
    app-search {
        .did-you-mean a {
            color: $primary;
        }
        .participate-button {
            color: $primary;
            background-color: $neon-default;

            &:hover {
                background: $neon-medium;
            }
        }
        // change color of tabs for all search results and search results by content type
        .search-result-options {
            --mat-tab-header-active-label-text-color: #{$primary};
            --mat-tab-header-active-focus-label-text-color: #{$primary};
            --mat-tab-header-inactive-label-text-color: #{$secondary-text};
            --mat-tab-header-inactive-hover-label-text-color: #{$secondary-text};
        }
        // change background color of view mode toggle button
        .style-toggle {
            --mat-standard-button-toggle-divider-color: #{$outline};

            .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
                background-color: color.adjust($secondary, $lightness: 10%);
            }
        }
    }
}

@mixin search-page-typography() {
    app-search {
        .did-you-mean em,
        .summary em {
            font-weight: $font-weight-x-bold;
        }
        .participate-button {
            font-weight: $font-weight-x-bold;
        }
    }
}
