<ng-container *ngIf="grid?.length >= 1">
  <div
    class="wlo-grid"
    [class.wlo-grid-cols-1]="grid.length === 1"
    [class.wlo-grid-cols-2]="grid.length === 2"
    [class.wlo-grid-cols-3]="grid.length > 2"
    [class.wlo-gap-0]="gridType === 'noGutter'"
    [class.wlo-gap-2]="gridType === 'smallGutter'"
    [class.wlo-gap-4]="gridType === 'mediumGutter'"
    [class.wlo-gap-6]="gridType === 'largeGutter'"
    [class.wlo-grid-border-radius]="gridType === 'noGutter'"
  >
    <div
      class="wlo-grid-content"
      [class.wlo-col-span-2]="grid.length >= 2 && gridItem.cols === 2"
      [class.wlo-col-span-3]="grid.length >= 3 && gridItem.cols === 3"
      [class.wlo-row-span-2]="gridItem.rows === 2"
      [class.wlo-row-span-3]="gridItem.rows === 3"
      [class.wlo-grid-border-radius]="gridType !== 'noGutter'"
      *ngFor="let gridItem of grid; let i = index"
    >
      <app-grid-widget
        [backgroundColor]="backgroundColor"
        [contextNodeId]="contextNodeId"
        [editMode]="editMode"
        [filterBarReady]="filterBarReady"
        [gridIndex]="i"
        [pageVariantNode]="pageVariantNode"
        [selectDimensions]="selectDimensions"
        [selectedDimensionValues]="selectedDimensionValues"
        [swimlaneIndex]="swimlaneIndex"
        [topic]="topic"
        [widgetClasses]="gridItem.classNames"
        [widgetNodeId]="gridItem.nodeId?.includes(workspaceSpacesStorePrefix) ? gridItem.nodeId.split('/')?.[gridItem.nodeId.split('/').length - 1] : gridItem.nodeId"
        [widgetType]="gridItem.item"
      >
      </app-grid-widget>
    </div>
  </div>
</ng-container>
