.wlo-grid {
    display: grid;
    place-items: center;

    @for $i from 1 through 3 {
        &.wlo-grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }

    &.wlo-grid-border-radius,
    .wlo-grid-border-radius {
        border-radius: 15px;
        overflow: hidden;
    }

    @for $i from 0 through 6 {
        &.wlo-gap-#{$i} {
            gap: 0.25rem * $i;
        }
    }

    .wlo-grid-content {
        width: 100%;
        max-width: 100%;
        height: 100%;

        img {
            max-height: 100%;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        &.wlo-col-span-2 {
            grid-column: span 2 / span 2;
        }

        &.wlo-col-span-3 {
            grid-column: span 3 / span 3;
        }

        &.wlo-row-span-2 {
            grid-row: span 2 / span 2;
        }

        &.wlo-row-span-3 {
            grid-row: span 3 / span 3;
        }

        .text-widget {
            background: #fff;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}
