@use '@angular/material' as mat;
@import '../../../../additional-colors';
@import '../../functions';

@mixin swimlane-theme($theme) {
    app-swimlane {
        .text-widget {
            background: mat.get-theme-color($theme, surface-container-low);
        }
        .add-widget-container {
            border-color: rgba(mat.get-theme-color($theme, outline), 0.7);

            .add-widget-btn {
                color: mat.get-theme-color($theme, primary, 40);
                background: $neon-default;

                &:hover {
                    background: $neon-medium;
                }
            }
        }
    }
}
