.wlo-grid {
    display: grid;
    place-items: center;
    overflow: hidden;

    // grid column definition
    &.wlo-grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    // col span definition
    .wlo-col-span-2 {
        grid-column: span 2 / span 2;
    }

    .wlo-col-span-3 {
        grid-column: span 3 / span 3;
    }

    .wlo-col-span-4 {
        grid-column: span 4 / span 4;
    }

    .wlo-col-span-6 {
        grid-column: span 6 / span 6;
    }

    &.wlo-gap {
        gap: 0.5rem;
    }

    .wlo-grid-content {
        width: 100%;
        max-width: 100%;
        height: 100%;

        img {
            max-height: 100%;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        .text-widget {
            padding: 10px;
            height: 100%;
            box-sizing: border-box;
        }
    }
}

.grid-border-container {
    padding: 16px 24px;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
