:host {
    display: block;
    padding: 20px 40px;
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    @media screen and (min-width: 850px) {
        margin: 40px;
        grid-template-columns: repeat(auto-fill, 340px);
    }
    gap: 30px;
    justify-content: center;
    margin: auto;
    > a.tile {
        justify-self: center;
        width: 100%;
        text-decoration: unset;
        color: unset;
        transition: transform 0.05s;
        &:hover,
        &:focus {
            transform: scale(1.05);
        }
        img {
            height: 200px;
            object-fit: cover;
        }
        &:nth-child(1) > mat-card {
            color: white;
            background-color: #023f82;
        }
        &:nth-child(2) > mat-card {
            background-color: #9bb828;
        }
        &:nth-child(3) > mat-card {
            background-color: #ff799a;
        }
        &:nth-child(4) > mat-card {
            background-color: #e4f602;
        }
        &:nth-child(5) > mat-card {
            background-color: #019cde;
        }
        &:nth-child(6) > mat-card {
            background-color: #a5a4a4;
        }
    }
}
