<div class="tiles">
  <a class="tile" routerLink="/subjects-portal/Mathematik">
    <mat-card>
      <img mat-card-image src="assets/images/subjects/math.jpg" />
      <mat-card-header>
        <mat-card-title i18n>Math</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>

  <a class="tile" routerLink="/subjects-portal/Biologie">
    <mat-card>
      <img mat-card-image src="assets/images/subjects/biology.jpg" />
      <mat-card-header>
        <mat-card-title i18n>Biology</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
  <a class="tile" routerLink="/subjects-portal/Chemie">
    <mat-card>
      <img mat-card-image src="assets/images/subjects/chemistry.jpg" />
      <mat-card-header>
        <mat-card-title i18n>Chemistry</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
  <a class="tile" routerLink="/subjects-portal/Informatik">
    <mat-card>
      <img mat-card-image src="assets/images/subjects/informatics.jpg" />
      <mat-card-header>
        <mat-card-title i18n>Computer Science</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
  <a class="tile" routerLink="/subjects-portal/Englisch">
    <mat-card>
      <img mat-card-image src="assets/images/subjects/english.jpg" />
      <mat-card-header>
        <mat-card-title i18n>English</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>

  <a class="tile" routerLink="/search">
    <mat-card>
      <img mat-card-image src="assets/images/subjects/more.jpg" />
      <mat-card-header>
        <mat-card-title i18n>More...</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
</div>
