<div class="tiles">
  <a
    class="tile"
    routerLink="/search"
    [queryParams]="['disciplines', ['Mathematik']] | generateFilters"
  >
    <mat-card>
      <img mat-card-image src="assets/images/subjects/math.jpg" />
      <mat-card-header>
        <mat-card-title i18n>Math</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>

  <a
    class="tile"
    routerLink="/search"
    [queryParams]="['disciplines', ['Biologie']] | generateFilters"
  >
    <mat-card>
      <img mat-card-image src="assets/images/subjects/biology.jpg" />
      <mat-card-header>
        <mat-card-title i18n>Biology</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
  <a
    class="tile"
    routerLink="/search"
    [queryParams]="['disciplines', ['Chemie']] | generateFilters"
  >
    <mat-card>
      <img mat-card-image src="assets/images/subjects/chemistry.jpg" />
      <mat-card-header>
        <mat-card-title i18n>Chemistry</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
  <a
    class="tile"
    routerLink="/search"
    [queryParams]="['disciplines', ['Informatik']] | generateFilters"
  >
    <mat-card>
      <img mat-card-image src="assets/images/subjects/informatics.jpg" />
      <mat-card-header>
        <mat-card-title i18n>Computer Science</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
  <a
    class="tile"
    routerLink="/search"
    [queryParams]="['disciplines', ['Englisch']] | generateFilters"
  >
    <mat-card>
      <img mat-card-image src="assets/images/subjects/english.jpg" />
      <mat-card-header>
        <mat-card-title i18n>English</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>

  <a class="tile" routerLink="/search">
    <mat-card>
      <img mat-card-image src="assets/images/subjects/more.jpg" />
      <mat-card-header>
        <mat-card-title i18n>More...</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
</div>
