// TODO: Adjust buttons globally
:host ::ng-deep button.btn-icon-label {
    .mdc-button__label {
        display: flex;
        align-items: center;
        justify-content: center;
        // TODO: Typography
        font-family: 'Montserrat-Bold', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

        i {
            margin-right: 5px;
            height: 20px;
            width: 20px;
            // TODO: Typography
            font-size: 20px;
            font-weight: 800;
        }
    }
}
