<button
  [class.btn-accent]="!grid?.length"
  mat-flat-button
  color="primary"
  [matMenuTriggerFor]="configureGridMenu"
>
  <i esIcon="settings"></i> Grid {{ grid?.length > 0 ? 'anpassen' : 'konfigurieren' }}
</button>
<mat-menu #configureGridMenu="matMenu">
  <button
    mat-menu-item
    *ngFor="let option of swimlaneGridOptions"
    (click)="configureSwimlaneGrid(option.value)"
  >
    <i
      class="material-icons-outlined"
      *ngIf="!!option.icon; else checkSvgIcon"
      [esIcon]="option.icon"
    ></i>
    <ng-template #checkSvgIcon>
      <mat-icon *ngIf="!!option.svgIcon" [svgIcon]="option.svgIcon"></mat-icon>
    </ng-template>
    {{ option.viewValue }}
  </button>
</mat-menu>
