<button
  [class.btn-accent]="!grid?.length"
  mat-flat-button
  color="primary"
  [matMenuTriggerFor]="configureGridMenu"
>
  <i esIcon="settings"></i>
  {{
    grid?.length > 0
      ? ('TOPIC_PAGE.SWIMLANE.ADJUST_GRID' | translate)
      : ('TOPIC_PAGE.SWIMLANE.CONFIGURE_GRID' | translate)
  }}
</button>
<mat-menu #configureGridMenu="matMenu">
  <button
    mat-menu-item
    *ngFor="let option of swimlaneGridOptions"
    (click)="configureSwimlaneGrid(option.value)"
  >
    <i class="material-icons-outlined" *ngIf="option.icon" [esIcon]="option.icon"></i>
    {{ 'TOPIC_PAGE.SWIMLANE.SELECT_LAYOUT.' + option.viewValue | translate }}
  </button>
</mat-menu>
