<h1 mat-dialog-title i18n>Report Problem</h1>
<div mat-dialog-content [formGroup]="form" class="content">
  <p i18n>Report a problem with "{{ data.element.lom.general.title }}".</p>
  <mat-radio-group
    class="problem-kind-group"
    i18n-aria-label
    aria-label="Problem kind"
    formControlName="problemKind"
  >
    <mat-radio-button
      *ngFor="let kind of problemKinds | keyvalue: dummyCompare"
      class="problem-kind-radio-button"
      color="primary"
      [value]="kind.key"
      >{{ kind.value }}</mat-radio-button
    >
  </mat-radio-group>
  <mat-form-field appearance="outline">
    <mat-label i18n>Describe what's wrong</mat-label>
    <textarea
      matInput
      formControlName="message"
      cdkTextareaAutosize
      cdkAutosizeMinRows="5"
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label i18n>Your e-mail address (optional)</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18n>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!form.valid"
    [mat-dialog-close]="form.value"
    i18n
  >
    Report
  </button>
</div>
