.container {
    &.floating {
        right: 20px;
        bottom: 20px;
        position: fixed;
        z-index: 1;
    }
    &:not(.floating) {
        float: right;
        margin-right: 20px;
    }
}

::ng-deep .fab-menu {
    margin: 20px;
}
