<div #container class="container" [class.floating]="shouldFloat">
  <button
    [@fadeInOut]="shouldHide ? 'hide' : 'show'"
    mat-fab
    color="primary"
    i18n-aria-label
    aria-label="Add content"
    i18n-matTooltip
    matTooltip="Add content"
    [matMenuTriggerFor]="menu"
    (focus)="shouldHide = false"
    (blur)="updateShouldHide()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-menu #menu="matMenu" class="fab-menu">
  <!-- <a mat-menu-item href="{{ wordpressUrl }}/file-upload/" target="_blank">
    <mat-icon>cloud_upload</mat-icon>
    <span i18n>Upload content</span>
  </a> -->
  <a mat-menu-item href="{{ wordpressUrl }}/quelle-hinzufuegen/" target="_blank">
    <mat-icon>folder</mat-icon>
    <span i18n>Add source</span>
  </a>
  <a mat-menu-item href="{{ wordpressUrl }}/tool-hinzufuegen/" target="_blank">
    <mat-icon>build</mat-icon>
    <span i18n>Add tool</span>
  </a>
  <a mat-menu-item href="{{ wordpressUrl }}/kooperationen/" target="_blank">
    <mat-icon>find_in_page</mat-icon>
    <span i18n>Index my portal</span>
  </a>
</mat-menu>
