@use 'variables' as *;

@mixin menubar-theme() {
    // custom theme created for extracted styles, thus, the same order and selectors are used
    // single selectors might be combined (e.g., a{}) or combined (e.g., &:hover)
    // ::after selectors might require !important
    app-menubar {
        @media screen and (max-width: 1023px) {
            .top-bar {
                background: $surface-container !important;
                // TODO: Change, if necessary
                box-shadow: 0 8px 12px -2px rgb(0 0 0 / 40%);
            }
        }

        @media all {
            a {
                color: $primary;
                background-color: transparent;
            }

            button:-moz-focusring,
            [type='button']:-moz-focusring {
                outline: 1px dotted ButtonText;
            }

            button {
                background: transparent;
            }

            // TODO: Change, if necessary
            ::-moz-placeholder {
                color: #313131;
            }
            :-ms-input-placeholder {
                color: #313131;
            }
            ::-ms-input-placeholder {
                color: #313131;
            }
            ::placeholder {
                color: #313131;
            }

            // TODO: Change, if necessary
            @media print {
                * {
                    background: transparent !important;
                    color: black !important;
                    print-color-adjust: economy;
                    box-shadow: none !important;
                    text-shadow: none !important;
                }
            }

            .menu-icon::after,
            .menu-icon:hover::after {
                background: $primary !important;
                box-shadow: 0 7px 0 $primary, 0 14px 0 $primary !important;
            }

            .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
                border-color: $primary transparent transparent !important;
            }

            .dropdown.menu.vertical > li.opens-right > a::after {
                border-color: transparent transparent transparent $primary !important;
            }

            @media print, screen and (min-width: 64em) {
                .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after {
                    border-color: $primary transparent transparent !important;
                }
            }

            .is-dropdown-submenu {
                background: $surface;
            }

            .title-bar {
                color: $primary;
            }

            .title-bar,
            .site-header {
                background: $surface;
            }

            .top-bar,
            .top-bar ul {
                background-color: transparent;
            }

            *:focus {
                outline: 1px dotted $primary;
            }

            @media print, screen and (max-width: 39.99875em) {
                .site-header .top-bar {
                    background-color: $surface-container;
                }
            }

            @media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
                .site-header .top-bar {
                    background-color: $surface-container;
                }
            }

            .top-call-to-action-menu li a {
                background-color: $neon-default;
                color: $primary;

                &:hover {
                    background: $neon-medium;
                }
            }

            .is-dropdown-submenu {
                background-color: $surface !important;
            }

            .is-dropdown-submenu-item:hover {
                background-color: lighten($secondary, 40%) !important;
            }

            .skip-link {
                // TODO: Change, if necessary
                background-color: #f1f1f1;
                box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
                color: $primary;

                &:focus {
                    color: $primary;
                }
            }

            // TODO: Change, if necessary
            @media all {
                @media screen and (max-width: 1024px) {
                    #main-menu {
                        box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }

        .drilldown a,
        .drilldown .is-drilldown-submenu {
            background: $surface-container;
        }

        .drilldown .is-drilldown-submenu-parent > a::after,
        .drilldown.align-left .is-drilldown-submenu-parent > a::after {
            border-color: transparent transparent transparent $primary !important;
        }

        .drilldown.align-right .is-drilldown-submenu-parent > a::after,
        .drilldown .js-drilldown-back > a::before {
            border-color: transparent $primary transparent transparent !important;
        }
    }
}

@mixin menubar-typography() {
    // adjust font weight of top menu
    // first level menu items
    .top-menu > .menu-item > a {
        font-weight: $font-weight-x-bold;
    }
    // second level menu items
    .submenu > .menu-item > a {
        font-weight: $font-weight-medium;
    }
}
