@use 'variables' as *;

@mixin result-card-theme() {
    app-result-card {
        mat-card {
            background: $surface;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) !important;
            transition: box-shadow 0.3s, transform 0.3s;
            &:hover {
                transform: translate(0, -4px);
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25) !important;
            }
        }
        .app-result-card-selected::after {
            border-color: $primary;
        }
        .app-result-card-title button {
            color: $on-surface;
        }
        .body mat-icon,
        .metadata,
        .source {
            color: $secondary-text;
        }
    }
    app-result-card-content-compact {
        .editorial-hint {
            color: $success;
        }
    }
}

@mixin result-card-typography() {
    app-result-card {
        h2.app-result-card-title {
            font-size: $font-size-large !important;
            line-height: $line-height-medium;
        }
        // decrease font-size + line-height of description
        .description {
            font-size: $font-size-x-small;
            line-height: $line-height-medium;
        }
        // decrease font-size + line-height of metadata
        .metadata,
        .source {
            font-size: 75%;
            line-height: $line-height-small;
            // restore 1em font-size of mat-icon
            .mat-icon,
            .mat-mdc-icon {
                font-size: 1em;
            }
        }
    }
    app-result-card-content-compact {
        // decrease font-size of card-content
        .mat-mdc-card-content {
            font-size: $font-size-small;
        }
    }
}
