<div *ngIf="showBlurredBackground" class="background-image-container">
  <!-- The blur filter does not work with canvas as it does with img on Chrome, so we go for a black
  background for now. -->
  <!-- <canvas *ngIf="showCanvas" #backdropCanvas role="presentation" aria-hidden="true"></canvas> -->
  <img
    class="background-image"
    [appPreviewImageInner]="previewImage"
    [loadHighResImage]="false"
    role="presentation"
    alt=""
    *ngIf="!replacedWithStatic"
  />
</div>

<canvas
  *ngIf="showCanvas"
  #canvas
  class="main-image-canvas"
  role="presentation"
  aria-hidden="true"
  [style.objectFit]="objectFit"
></canvas>

<!-- TODO: According to the comments above, the black background currently seems to be intended -->
<img
  class="main-image"
  [class.hidden]="replacedWithStatic && !playAnimation"
  (load)="onImageLoad($event)"
  #image
  [appPreviewImageInner]="previewImage"
  [style.objectFit]="objectFit"
/>
