<div class="variable-select-bar fachportal-filterbar">
  <div class="fachportal-filterbar-content">
    <div class="fachportal-filterbar-dropdowns" [formGroup]="form">
      <div
        class="select-container"
        formArrayName="dimensions"
        *ngFor="let dimensionKey of availableSelectDimensionKeys; let i = index"
      >
        <div class="select-form-field" [formGroupName]="i">
          <label>{{ dimensionKey }}</label>
          <select formControlName="id">
            <option
              *ngFor="let option of selectDimensions.get(dimensionKey)"
              [value]="option['id']"
            >
              {{ option['caption'] }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
