:host {
    display: flex;
    min-width: 0;
}

// custom adjustments for the slide-toggle
:host ::ng-deep mat-slide-toggle {
    // add spacing between the toggle and its label
    .mdc-label {
        margin-left: 15px !important;
    }
    // change height and width of the toggle button background
    .mdc-switch {
        width: 46px;
        height: 17px;

        .mdc-switch__track {
            height: 17px;
            border-radius: 8px;

            // remove border from switch track
            &::before {
                border: none;
            }
        }

        // fix position + border-radius of unselected switch button
        &.mdc-switch--unselected .mdc-switch__handle {
            margin-left: -5px !important;
            border-radius: 50%;
        }

        // fix border-radius of selected switch button
        &.mdc-switch--selected .mdc-switch__handle {
            border-radius: 50%;
        }
    }
    // change height and width of the toggle button itself
    .mdc-switch__handle {
        height: 30px !important;
        width: 30px !important;
    }
    // remove icons from toggle
    // TODO: This is also a setting, but will change several selectors used above
    .mdc-switch__icons {
        display: none !important;
    }
}

.slider-container {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 449.98px) {
    .label-full {
        display: none;
    }
}
@media screen and (min-width: 450px) {
    .label-compact {
        display: none;
    }
}
