<ng-container *ngIf="show">
  <div class="slider-container">
    <mat-slide-toggle [(ngModel)]="value" (ngModelChange)="onValueChange($event)">
      <span class="label-full" i18n>show me only OER</span>
      <span class="label-compact" i18n>only OER</span>
    </mat-slide-toggle>
    <a
      href="{{ wordpressUrl }}/oerverstehen/"
      target="_blank"
      mat-icon-button
      aria-label="help"
      i18n-aria-label
      class="help-button"
      matTooltip="What is OER?"
      i18n-matTooltip
    >
      <mat-icon>help</mat-icon>
    </a>
  </div>
</ng-container>
