@use 'variables' as *;

@mixin oer-slider-theme() {
    // custom theme created for the oer-slider
    // Note: the colors should not change, even when being in dark mode
    app-oer-slider {
        // use a variant of the neutral palette
        .mdc-label,
        .help-button .mat-icon,
        .help-button .mat-mdc-icon {
            color: $on-primary;
        }
        // change background color of switch track
        .mat-mdc-slide-toggle .mdc-switch__track {
            &::before {
                background: lighten($secondary, 20%) !important;
            }
            &::after {
                background: $surface !important;
            }
        }
        // change color of the toggle button
        .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked .mdc-switch__handle::after {
            background: $pink-default !important;
        }
        .mat-mdc-slide-toggle
            .mdc-switch.mdc-switch--unselected:enabled
            .mdc-switch__handle::after {
            background: $surface !important;
        }
    }
}
