$previewPanelOverlayThreshold: 1400px;
$previewPanelSpanScreenThreshold: 800px;

::ng-deep .app-preview-panel-dialog-container {
    width: 100vw;
    @media screen and (max-width: 549.98px) {
        height: 100vh;
    }
    @media screen and (min-width: 550px) {
        max-width: 80vw;
        max-height: 80vh;
    }
}

::ng-deep .app-preview-panel-dialog-container .mat-dialog-container,
.app-preview-panel-sidebar {
    border-radius: 20px;
}

::ng-deep .app-preview-panel-dialog-container .mat-dialog-container {
    height: unset;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.app-preview-panel-sidebar {
    width: 500px;
    top: 20px;
    position: sticky;
    margin-right: 20px;
    margin-bottom: 20px;
    @media screen and (max-width: $previewPanelSpanScreenThreshold) {
        position: relative;
        top: unset;
        height: 100%;
        overscroll-behavior: contain;
        overflow-y: auto;
    }
}

.app-preview-panel-content-wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    word-break: break-word;
    &[data-mode='dialog'] {
        overflow: auto;
    }
}

.app-preview-panel-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.app-preview-panel-image {
    width: 100%;
    max-height: 375px;
    object-fit: contain;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.app-preview-panel-info-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 50px;
}

.app-preview-panel-info-bar-item {
    display: inline-flex;
    align-items: center;
    min-height: 32px;
    &:not(:last-child) {
        margin-right: 25px;
    }
    > mat-icon {
        margin-right: 6px;
    }
}

.app-preview-panel-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 50px;
    &:not(:last-child) {
        padding-bottom: 60px;
        margin-bottom: -30px;
    }
    .badges {
        position: absolute;
        right: 50px;
        margin-top: -10px;
    }
    .mat-spinner {
        align-self: center;
    }
    &:last-child {
        padding-bottom: 26px;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
    }
}

.app-preview-panel-source-container {
    margin-bottom: 5px;
    min-height: 15px;
}

.app-preview-panel-source {
    &:not(:hover) {
        text-decoration: none;
    }
}

.app-preview-panel-description {
    overflow-wrap: break-word;
}

.app-preview-panel-expand-description-button {
    display: inline-flex;
    align-items: center;
    border: unset;
    background: unset;
    margin-left: 15px;
    padding: 0 6px;
    cursor: pointer;
    &:hover > span {
        text-decoration: underline;
    }
}

.app-preview-panel-buttons {
    margin: 30px 0;
    .app-preview-panel-button {
        line-height: 30px;
        border-radius: 15px;
        .app-preview-panel-button-wrapper {
            display: inline-flex;
            align-items: center;
        }
        mat-icon {
            margin-left: 10px;
            margin-right: -10px;
        }
    }
}

.app-preview-panel-metadata {
    display: flex;
    align-items: center;
    margin-left: 10px;
    min-height: 20px;
    &.app-preview-panel-metadata-icon {
        min-height: 30px;
    }
    &:not(.app-preview-panel-metadata-icon) {
        padding-left: 40px;
    }
    &:not(:last-child) {
        padding-bottom: 10px;
    }
    > mat-icon {
        padding: 0 14px 0 4px;
        width: 22px;
        height: 22px;
        font-size: 22px;
    }
    span {
        display: inline-flex;
        // white-space: nowrap; // causes overflow of long words like URLs
        &:not(:last-child)::after {
            content: ',';
            margin-right: 0.4em;
        }
    }
}

.app-preview-related-items {
    border-radius: inherit;
    padding: 20px 40px;
    .app-preview-related-items-heading {
        margin-top: 2px;
        margin-bottom: 9px;
    }
    .app-preview-related-items-carousel-container {
        position: relative;
        .app-slick-button {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 36px;
            width: 36px;
            border-radius: 18px;
            z-index: 1;
            cursor: pointer;
            border: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.3s;
            &.app-preview-slick-prev {
                left: -30px;
            }
            &.app-preview-slick-next {
                right: -30px;
            }
            &.slick-disabled,
            &.slick-hidden {
                opacity: 0;
            }
        }
    }
    .app-preview-related-items-carousel {
        .app-preview-related-items-card {
            margin: 10px 15px 15px;
        }
    }
}

.filter-grayscale {
    filter: grayscale(100%);
}
