$black: #000;
$black-40: #00000040;
$white: #fff;

$gray-light: #f4f4f4;
$gray-medium: #cacaca;
$gray-dark: #545454;

$primary-dark: #032850;
$primary-default: #003b7c;
$primary-medium: #3da6ee;
$primary-light: #ededfe;

$neon-dark: #106029;
$neon-default: #e4f700;
$neon-medium: #b4da1c;
$neon-light: #effae2;

$pink-dark: #590a2f;
$pink-default: #ec4a70;
$pink-medium: #ef809a;
$pink-light: #f6e9f0;

$accent-warning: #ffb930;
$accent-warning-20: #fff1d6;
$accent-success: #b4da1c;
$accent-alert: #ec4a70;

$red: #e73445;
$lila: #7f6fee;
