// import of material theme used by Edu-Sharing
@use 'ngx-edu-sharing-ui/assets/scss/material-theme' as *;
// import of individual component themes
@use 'app/wlo-search';
@use 'global-theme-overrides';
// imports of variables + fonts
@use '_variables' as *;
@use './fonts' as *;

@mixin adjust-theme() {
    // include global material overrides
    @include global-theme-overrides.angular-material-theme-overrides();
    // include topic page component themes + typographies
    @include wlo-search.components-themes();
    @include wlo-search.components-typographies();
}

:root {
    // variables have to be defined before nested rules are applied
    // make CSS variable accessible for further applications using role names of Material 3
    // valid role names: background, error, error-container, inverse-on-surface, inverse-primary,
    //                   inverse-surface, on-background, on-error, on-error-container, on-primary,
    //                   on-primary-container, on-primary-fixed, on-primary-fixed-variant,
    //                   on-secondary, on-secondary-container, on-secondary-fixed,
    //                   on-secondary-fixed-variant, on-surface, on-surface-variant, on-tertiary,
    //                   on-tertiary-container, on-tertiary-fixed, on-tertiary-fixed-variant,
    //                   outline, outline-variant, primary, primary-container, primary-fixed,
    //                   primary-fixed-dim, scrim, secondary, secondary-container, secondary-fixed,
    //                   secondary-fixed-dim, shadow, surface, surface-bright, surface-container,
    //                   surface-container-high, surface-container-highest, surface-container-low,
    //                   surface-container-lowest, surface-dim, surface-tint, surface-variant,
    //                   tertiary, tertiary-container, tertiary-fixed, tertiary-fixed-dim
    // currently, only selected roles are made available globally
    // in future versions, system variables might replace this: https://material.angular.io/guide/system-variables
    // directly matching theming color roles
    // MATERIAL COLOR ROLE VARIABLES
    --inverse-surface: #{$inverse-surface};
    --on-primary: #{$on-primary};
    --on-surface: #{$on-surface};
    --outline: #{$outline};
    //--primary: #{$primary};
    --secondary: #{$secondary};
    --surface: #{$surface};
    --surface-dim: #{$surface-dim};
    --surface-container-highest: #{$surface-container-highest};
    --surface-container-high: #{$surface-container-high};
    --surface-container: #{$surface-container};
    --surface-container-low: #{$surface-container-low};
    --surface-container-lowest: #{$surface-container-lowest};

    // EXTENDED COLOR VARIABLES
    --neon-default: #{$neon-default};
    --neon-medium: #{$neon-medium};
    --outline-light: #{$outline-light};
    --pink-default: #{$pink-default};
    --secondary-text: #{$secondary-text};

    // TYPOGRAPHY VARIABLES
    // font-family
    --primary-font-family: #{$primary-font-family};
    --brand-font-family: #{$brand-font-family};
    // font-size
    --font-size-x-large: #{$font-size-x-large};
    --font-size-large: #{$font-size-large};
    --font-size-medium: #{$font-size-medium};
    --font-size-small: #{$font-size-small};
    --font-size-x-small: #{$font-size-x-small};
    // font-weight
    --font-weight-x-bold: #{$font-weight-x-bold};
    --font-weight-bold: #{$font-weight-bold};
    --font-weight-medium: #{$font-weight-medium};
    --font-weight-regular: #{$font-weight-regular};
    // line-height
    --line-height-large: #{$line-height-large};
    --line-height-medium: #{$line-height-medium};
    --line-height-small: #{$line-height-small};
    // adjust the theme
    @include adjust-theme();
}

// CUSTOM GLOBAL STYLES
html,
body {
    font-family: $primary-font-family !important;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    margin: 0;
}

// Copied from Edu-Sharing Core-UI
.display-none {
    display: none !important;
}
.opacity-invisible {
    opacity: 0;
}

// global utility classes
.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.flex-direction-column {
    flex-direction: column;
}

button,
.mat-mdc-button {
    // global adjustment for button label
    &:not(.widget-color-picker) .mdc-button__label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    // overrides for btn-accent
    &.btn-accent {
        padding: 8px 18px;
        border-radius: 50px;
    }
}

// overrides for mat-mdc-menu-content of mat-menu
.mat-mdc-menu-content {
    .mat-menu-header-container {
        padding: 8px 12px 12px 12px;
        text-align: center;
    }
    .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
    }
}

// further style definitions
.alert-warning {
    padding: 16px;
    font-size: $font-size-medium;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

// grid classes
.wlo-grid {
    display: grid;
    place-items: center;
    overflow: hidden;

    // grid column definition
    &.wlo-grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    // col span definition
    .wlo-col-span-2 {
        grid-column: span 2 / span 2;
    }

    .wlo-col-span-3 {
        grid-column: span 3 / span 3;
    }

    .wlo-col-span-4 {
        grid-column: span 4 / span 4;
    }

    .wlo-col-span-6 {
        grid-column: span 6 / span 6;
    }

    &.wlo-gap {
        gap: 0.5rem;
    }

    .wlo-grid-content {
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: relative;

        &.wlo-flex-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// media query for small devices (breakpoint retrieved from Bootstrap)
// make all columns full width -> 6 col span
@media (max-width: 767.98px) {
    .wlo-grid {
        .wlo-col-span-2 {
            grid-column: span 6 / span 6;
        }

        .wlo-col-span-3 {
            grid-column: span 6 / span 6;
        }

        .wlo-col-span-4 {
            grid-column: span 6 / span 6;
        }
    }
}

.grid-border-container {
    padding: 16px 24px;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

// fix opening mat-dialog moves elements with position: sticky
// related answer: https://stackoverflow.com/a/49067665
html.cdk-global-scrollblock {
    position: static !important;
    overflow-y: hidden !important;
}

:focus-visible {
    outline-offset: 2px;
    outline: currentcolor solid 3px;
}

// Static fix for now to override 1em defined in material theme CSS
i.mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    &::before {
        display: inline-block;
    }
}

// STYLES RETRIEVED AND ADJUSTED FROM app/core-ui-module/styles/globals.scss
.display-none {
    display: none !important;
}
.opacity-invisible {
    opacity: 0;
}

.mat-typography {
    .mat-heading-1,
    .mat-heading-2,
    .mat-heading-3,
    .mat-heading-4,
    .mat-heading-5,
    .mat-heading-6 {
        display: flex;
        align-items: center;
        font-weight: normal;
        i {
            margin: 0 5px;
        }
        > span {
            flex-grow: 1;
        }
        &.font-bold {
            font-weight: bold;
        }
    }

    .mat-heading-1 {
        font-size: 220%;
        &.important {
            font-size: 220% !important;
        }
    }
    .mat-heading-2 {
        font-size: 170%;
        &.important {
            font-size: 170% !important;
        }
    }
    .mat-heading-3 {
        font-size: 150%;
        &.important {
            font-size: 150% !important;
        }
    }
    .mat-heading-4 {
        font-size: 120%;
        font-weight: bold;
    }
    .mat-heading-5 {
        font-size: 100%;
        font-weight: bold;
        line-height: 1.3;
    }
    .mat-heading-6 {
        font-size: 90%;
        font-weight: bold;
    }
}
