// Load self-hosted fonts and icons
$roboto-font-path: '~roboto-fontface/fonts' !default;
@import '~roboto-fontface/css/roboto/sass/roboto-fontface';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

@import 'material';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */
@include search-field-theme($app-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
