<p *ngIf="didYouMeanSuggestion" class="did-you-mean">
  <ng-container i18n>Did you mean:</ng-container>&nbsp;<a
    [innerHTML]="didYouMeanSuggestion.html"
    routerLink
    [queryParams]="{ q: didYouMeanSuggestion.plain }"
    queryParamsHandling="merge"
  ></a>
</p>

<div *ngIf="facets" class="filters" [formGroup]="facetFilters">
  <mat-form-field *ngFor="let facet of facets | keyvalue">
    <mat-label i18n
      >{facet.key, select, keywords {Keywords} sources {Sources} disciplines {Disciplines} learningResourceTypes {Learning Resource Types}
      educationalContexts {Educational Contexts}}</mat-label
    >
    <mat-select [formControlName]="facet.key" multiple [disabled]="!facet.value.buckets || !facet.value.buckets.length">
      <mat-option *ngFor="let bucket of facet.value.buckets" [value]="bucket.key">
        {{ bucket.key }} ({{ bucket.doc_count }})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Results -->
<router-outlet></router-outlet>
