<app-search-filterbar *ngIf="showFilterBar"></app-search-filterbar>

<div class="results">
  <p *ngIf="didYouMeanSuggestion" class="did-you-mean">
    <ng-container i18n>Did you mean:</ng-container>&nbsp;<a
      [innerHTML]="didYouMeanSuggestion.html"
      routerLink="/search"
      [queryParams]="{ q: didYouMeanSuggestion.plain }"
      queryParamsHandling="merge"
    ></a>
  </p>
  <div class="summary">
    <div class="no-results" *ngIf="results.total.value === 0">
      <p i18n>No results</p>
      <div>
        <a
          *ngIf="filterCount > 0"
          mat-flat-button
          color="primary"
          routerLink="/search"
          [queryParams]="{ filters: null, oer: 'NONE' }"
          queryParamsHandling="merge"
          i18n
          >Search without filters</a
        >
      </div>
    </div>
    <ng-container *ngIf="results.total.value > 0 && resultPageNumbers">
      <p>
        <ng-container i18n>Result</ng-container>
        <em>
          {{ resultPageNumbers.from | number }}
          <ng-container *ngIf="resultPageNumbers.from !== resultPageNumbers.to" i18n
            >to {{ resultPageNumbers.to | number }}
          </ng-container>
        </em>
        &#32;
        <ng-container i18n *ngIf="results.total.relation === 'eq'">of</ng-container>
        <ng-container i18n *ngIf="results.total.relation !== 'eq'">of more than</ng-container>
        <em> {{ results.total.value | number }}</em>
      </p>
      <mat-button-toggle-group
        class="style-toggle"
        [value]="resultCardStyle"
        (change)="setResultCardStyle($event.value)"
        aria-label="Result view"
        i18n-aria-label
      >
        <mat-button-toggle
          value="standard"
          i18n-aria-label
          aria-label="Standard view"
          i18n-matTooltip
          matTooltip="Standard view"
        >
          <mat-icon>view_column</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          value="compact"
          i18n-aria-label
          aria-label="Compact view"
          i18n-matTooltip
          matTooltip="Compact view"
        >
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>
  </div>
  <mat-tab-group
    *ngIf="results.total.value > 0"
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="onSelectedIndexChange($event)"
  >
    <mat-tab i18n-label label="All search results">
      <app-search-results [results]="results"></app-search-results>
    </mat-tab>
    <mat-tab i18n-label label="Search results by categories">
      <ng-template matTabContent>
        <app-subjects-portal></app-subjects-portal>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<app-preview-panel></app-preview-panel>
