:host {
    display: flex;
    justify-content: center;
    position: relative;
}

:host ::ng-deep {
    .mat-tab-body-wrapper,
    .mat-tab-body.mat-tab-body-active,
    .mat-tab-body-content {
        // FIXME: this does something to the tab-switch animation, but we need it to avoid cut-off
        // shadows.
        overflow: visible;
    }
    .mat-tab-body.mat-tab-body-active {
        width: 100%;
    }
}

$filterBarSpanScreenThreshold: 650px;

app-search-filterbar {
    height: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $filterBarSpanScreenThreshold) {
        flex-grow: 1;
        flex-basis: 350px;
        max-width: 350px;
    }
    @media screen and (max-width: $filterBarSpanScreenThreshold) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.results {
    // Contain z-index of underlying .style-toggle
    position: relative;
    z-index: 0;
    flex-basis: 350px; // Shrink to equal parts with filter bar
    flex-grow: 1;
    padding: 0 50px;
    max-width: 1400px;
    justify-self: center;
    overflow: hidden;
    .did-you-mean > a {
        &:not(:hover) {
            text-decoration: none;
        }
    }
}

.summary {
    display: flex;
    flex-direction: column;
    em {
        font-style: normal;
    }
    .no-results {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        a {
            margin-top: 10px;
        }
    }
}

.style-toggle {
    margin-left: auto;
    flex-shrink: 0;
    border-radius: 10px;
    @media (min-width: 1000px) {
        margin-bottom: -40px;
        z-index: 2;
    }
    :host & ::ng-deep .mat-button-toggle-label-content {
        line-height: 32px;
    }
}

app-search-results {
    margin-top: 20px;
}

app-subjects-portal {
    margin-bottom: 40px;
}
