:host {
    display: flex;
    justify-content: center;
}

$filterBarSpanScreenThreshold: 650px;

app-search-filterbar {
    height: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $filterBarSpanScreenThreshold) {
        flex-grow: 1;
        flex-basis: 350px;
        max-width: 350px;
    }
    @media screen and (max-width: $filterBarSpanScreenThreshold) {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    .mat-icon {
        font-size: 1.25em;
        height: 1em;
        width: 1em;
        margin: 0 0.2em;
    }
}

.summary {
    margin-bottom: 2em;
    .no-results {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        a {
            margin-top: 10px;
        }
    }
}

app-subjects-portal {
    margin-bottom: 40px;
}

.results {
    flex-basis: 350px; // Shrink to equal parts with filter bar
    flex-grow: 1;
    padding: 0 20px;
    max-width: 1400px;
    justify-self: center;
    overflow: hidden;
    app-work-in-progress-message {
        margin-bottom: 20px;
    }
    .did-you-mean > a {
        &:not(:hover) {
            text-decoration: none;
        }
    }
}
