:host {
    display: flex;
    padding: 5px;
    border-radius: 7px;
    flex-wrap: wrap;
    align-items: center;
    > .container {
        align-items: center;
        flex-grow: 10;
        display: flex;
        > mat-icon {
            margin: 10px 15px;
        }
        > .message {
            display: flex;
            flex-direction: column;
            padding: 5px 10px;
        }
    }
    > .report-bug-button {
        flex-grow: 1;
        flex-shrink: 0;
        margin: 5px 10px;
        border-width: 2px;
    }
}
