@import '../../variables.scss';

:host {
    display: flex;
    background-color: $accentPink;
    color: white;
    padding: 5px;
    border-radius: 7px;
    flex-wrap: wrap;
    align-items: center;
    > .container {
        align-items: center;
        flex-grow: 10;
        display: flex;
        > mat-icon {
            margin: 10px 15px;
        }
        > .message {
            display: flex;
            flex-direction: column;
            font-weight: 600;
            padding: 5px 10px;
            .upper {
                font-size: 120%;
            }
        }
    }
    > .report-bug-button {
        flex-grow: 1;
        flex-shrink: 0;
        font-weight: 600;
        margin: 5px 10px;
        border-color: white;
        border-width: 2px;
    }
}
