$mobileBreak: 1000px;

:host {
    display: block;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.back-button {
    margin-bottom: 20px;
    margin-left: -24px;
}

.header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .title {
        flex-grow: 1;
        margin-right: 10px;
    }
    .go-to-content-button {
        margin-bottom: 16px;
        .mat-icon {
            margin-right: 10px;
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    margin-right: -20px;
    // Use two-column layout on devices
    //   - wider than 1000px
    //   - between 600px and 1000px when they are wider than high
    @media (min-width: 600px) {
        @media (min-aspect-ratio: 1/1), (min-width: 1000px) {
            flex-direction: row;
            .column {
                flex-basis: 350px;
            }
        }
    }
    .column-1 {
        flex-grow: 1;
    }
    .column {
        margin-right: 20px;
        min-width: 0;
        display: flex;
        flex-direction: column;
        .preview {
            width: 100%;
            margin-bottom: 10px;
        }
        .description {
            white-space: pre-line;
        }
        .metadata {
            label {
                display: flex;
                align-items: center;
                padding-bottom: 2px;
                > mat-icon,
                > img,
                > .icon {
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                    padding-right: 12px;
                }
                .editorial-icon {
                    mask: url(../../assets/images/editorial.svg) no-repeat;
                    mask-size: contain;
                }
            }
            padding-bottom: 1em;
            span {
                display: inline-flex;
                white-space: nowrap;
                &:not(:last-child)::after {
                    content: ',';
                    margin-right: 5px;
                }
            }
        }
        .actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            > a,
            > button {
                margin-bottom: 10px;
                .mat-icon {
                    margin-right: 10px;
                }
            }
        }
    }
}
