<div class="details">
  <div class="image-container">
    <img
      *ngIf="details.thumbnail"
      [src]="
        details.thumbnail.large || details.thumbnail.small
          | safeBase64Data: details.thumbnail.mimetype
      "
    />
  </div>
  <div>
    <h1>{{ details.lom.general.title }}</h1>
    <div class="group" *ngIf="details?.valuespaces?.discipline">
      <label i18n>Discipline</label>
      <span *ngFor="let data of details?.valuespaces?.discipline"> {{ data.de }} </span>
    </div>
    <div class="group" *ngIf="details?.valuespaces?.educationalContext">
      <label i18n>Educational Context</label>
      <span *ngFor="let data of details?.valuespaces?.educationalContext"> {{ data.de }} </span>
    </div>
    <div class="group" *ngIf="details?.valuespaces?.learningResourceType">
      <label i18n>Learning Resource Type</label>
      <span *ngFor="let data of details?.valuespaces?.learningResourceType"> {{ data.de }} </span>
    </div>
    <div class="group" *ngIf="details.lom.general.keyword">
      <label i18n>Keywords</label>
      <span *ngFor="let data of details.lom.general.keyword"> {{ data }} </span>
    </div>
    <label i18n>Source</label>
    <p>{{ details.source.name }}</p>
    <p>{{ details.lom.educational.description }}</p>
    <a mat-raised-button color="primary" [href]="details.lom.technical.location" target="_blank"
      ><mat-icon>open_in_new</mat-icon>{{ details.source.name }}</a
    >
    <div *ngIf="userInfo" class="editorial">
      <label i18n>Editorial</label>
      <div class="buttons-row">
        <button mat-raised-button (click)="markAsRecommended()">
          <mat-icon>star</mat-icon>
          <ng-container *ngIf="!isRecommended" i18n>Mark as recommended</ng-container>
          <ng-container *ngIf="isRecommended" i18n>Remove recommendation</ng-container>
        </button>
        <button mat-raised-button color="warn" [disabled]="!isDisplayed" (click)="hide()">
          <mat-icon>delete</mat-icon>
          <ng-container i18n>Remove from search results</ng-container>
        </button>
      </div>
    </div>
  </div>
</div>
