@import '~@angular/material/theming';
@import '../functions';

@mixin details-theme($theme) {
    $foreground: map-get($theme, foreground);
    $custom-accent: map-get($theme, custom-accent);
    $primary-foreground-color: primary-foreground-color($theme);

    app-details {
        .title {
            color: $primary-foreground-color;
        }
        .metadata-editorial {
            label {
                color: mat-color($custom-accent, accent2);
            }
            .icon {
                background-color: mat-color($custom-accent, accent2);
            }
        }
        label {
            color: mat-color($foreground, secondary-text);
        }
        .report-button {
            color: mat-color($foreground, secondary-text);
        }
    }
}

@mixin details-typography($typography) {
    app-details {
        .metadata {
            label {
                font-size: mat-font-size($typography, caption);
                font-weight: mat-font-weight($typography, body-2);
            }
        }
    }
}
