:host {
    display: block;
    padding: 20px 40px;
    max-width: 1200px;
    margin: auto;
}

.details {
    display: flex;
    flex-wrap: wrap;
    > * {
        flex-grow: 1;
        width: 0;
        min-width: 500px;
        max-width: 700px;
        @media screen and (max-width: 600px) {
            min-width: 100%;
        }
    }
    > .image-container {
        padding-right: 30px;
        padding-bottom: 30px;
        display: flex;
        margin: auto;
        align-items: center;
        @media screen and (max-width: 600px) {
            padding-right: 0;
        }
        > img {
            width: 100%;
            height: auto;
        }
    }
    > div {
        label {
            display: flex;
            color: #777;
            font-size: 90%;
        }
        .group {
            padding-bottom: 8px;
            span {
                &:not(:last-child)::after {
                    content: '･';
                }
            }
        }
        a,
        button {
            margin-bottom: 20px;
            mat-icon {
                padding-right: 5px;
            }
        }
        .buttons-row {
            padding: 10px 0;
            button {
                margin-right: 10px;
            }
        }
    }
}
