<button mat-button (click)="goBack()" class="back-button">
  <mat-icon>keyboard_arrow_left</mat-icon> <ng-container i18n>Back to overview</ng-container>
</button>
<div class="header">
  <h1 class="title">{{ hit.lom.general.title }}</h1>
  <a
    class="go-to-content-button"
    mat-raised-button
    color="primary"
    [href]="hit.lom.technical.location"
    target="_blank"
    [ngSwitch]="hit.type"
    ><mat-icon>open_in_new</mat-icon>
    <ng-container i18n *ngSwitchCase="Type.Content">Go To Content</ng-container>
    <ng-container i18n *ngSwitchCase="Type.Tool">Go To Tool</ng-container>
    <ng-container i18n *ngSwitchCase="Type.Portal">Go To Portal</ng-container>
    <ng-container i18n *ngSwitchCase="Type.LessonPlanning">Go To Lesson Planning</ng-container>
    <ng-container i18n *ngSwitchCase="Type.Method">Go To Method</ng-container>
  </a>
</div>
<div class="body">
  <div class="column column-1">
    <img class="preview" [appPreviewImage]="hit.previewImage" [loadHighResImage]="true" />
    <p class="description" *ngIf="hit.lom.general?.description">
      {{ hit.lom.general.description | trim }}
    </p>
  </div>
  <div class="column column-2">
    <div
      class="metadata metadata-editorial"
      *ngIf="hit | hasEditorialTag: EditorialTag.Recommended"
    >
      <label
        ><div class="icon editorial-icon"></div>
        <ng-container i18n>Recommended by editorial team</ng-container></label
      >
    </div>
    <div class="metadata">
      <label
        ><div class="icon oer-icon"></div>
        <ng-container i18n>Open educational resources</ng-container></label
      >
      <span *ngIf="hit.license.oer" i18n>yes</span>
      <span *ngIf="!hit.license.oer" i18n>no</span>
    </div>
    <div class="metadata" *ngIf="hit.skos.discipline">
      <label><mat-icon>book_icon</mat-icon> <ng-container i18n>Discipline</ng-container></label>
      <div>
        <span *ngFor="let discipline of hit.skos.discipline">
          {{ discipline.label }}
        </span>
      </div>
    </div>
    <div class="metadata" *ngIf="hit.skos.educationalContext">
      <label
        ><mat-icon>school</mat-icon> <ng-container i18n>Educational Context</ng-container></label
      >
      <div>
        <span *ngFor="let context of hit.skos.educationalContext">
          {{ context.label }}
        </span>
      </div>
    </div>
    <div class="metadata" *ngIf="hit.skos.intendedEndUserRole">
      <label
        ><mat-icon>group</mat-icon> <ng-container i18n>Intended End User Role</ng-container></label
      >
      <div>
        <span *ngFor="let intendedEndUserRole of hit.skos.intendedEndUserRole">
          {{ intendedEndUserRole.label }}
        </span>
      </div>
    </div>
    <div class="metadata" *ngIf="hit.skos.learningResourceType">
      <label
        ><mat-icon>photo_library</mat-icon>
        <ng-container i18n>Learning Resource Type</ng-container></label
      >
      <div>
        <span *ngFor="let lrt of hit.skos.learningResourceType">
          {{ lrt.label }}
        </span>
      </div>
    </div>

    <div class="metadata" *ngIf="hit.lom.general.keyword">
      <label><mat-icon>list</mat-icon> <ng-container i18n>Keywords</ng-container></label>
      <div>
        <span *ngFor="let keyword of hit.lom.general.keyword">
          {{ keyword }}
        </span>
      </div>
    </div>
    <div class="actions">
      <a
        mat-button
        target="_blank"
        class="report-button"
        href="{{ wordpressUrl }}/problem-melden/?id={{ id }}&title={{
          hit.lom.general.title | encodeUriComponent
        }}"
        ><mat-icon>report_problem</mat-icon> <span i18n>Report a problem</span></a
      >
    </div>
  </div>
</div>
