@import '~@angular/material/theming';
@import '../functions';

@mixin details-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary-foreground-color: primary-foreground-color($theme);

    app-details {
        h1 {
            color: $primary-foreground-color;
        }
        .details {
            color: mat-color($foreground, text);
            .actions {
                a.report {
                    color: mat-color($foreground, secondary-text);
                }
            }
            label {
                color: mat-color($foreground, secondary-text);
            }
        }
    }
}
