<h2 class="dialog-title-heading mat-heading-3 important font-bold" mat-dialog-title>
  Problem melden
</h2>
<div mat-dialog-content [formGroup]="form" class="content">
  <p>Ein Problem mit "{{ data.element | nodeProperty : 'title' }}" melden.</p>
  <mat-radio-group
    class="problem-kind-group"
    aria-label="Art des Problems"
    formControlName="problemKind"
  >
    <mat-radio-button
      *ngFor="let kind of problemKinds | keyvalue : dummyCompare"
      class="problem-kind-radio-button"
      color="primary"
      [value]="kind.key"
    >
      {{ kind.value }}
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="outline">
    <mat-label> Beschreibe, was nicht stimmt </mat-label>
    <textarea
      matInput
      formControlName="message"
      cdkTextareaAutosize
      cdkAutosizeMinRows="5"
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> Deine E-Mail-Adresse (optional) </mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-flat-button color="primary" [disabled]="!form.valid" [mat-dialog-close]="form.value">
    Melden
  </button>
</div>
