<h2 mat-dialog-title>
  {{ 'TOPIC_PAGE.PREVIEW_PANEL.REPORT_PROBLEM.LABEL' | translate }}
</h2>
<div mat-dialog-content [formGroup]="form" class="content">
  <p>
    {{
      'TOPIC_PAGE.PREVIEW_PANEL.REPORT_PROBLEM.DESCRIPTION'
        | translate: { title: (data.element | nodeProperty: 'title') }
    }}
  </p>
  <mat-radio-group
    class="problem-kind-group"
    [attr.aria-label]="'TOPIC_PAGE.PREVIEW_PANEL.REPORT_PROBLEM.PROBLEM_KIND_LABEL' | translate"
    formControlName="problemKind"
  >
    <mat-radio-button
      *ngFor="let kind of problemKinds | keyvalue: dummyCompare"
      class="problem-kind-radio-button"
      color="primary"
      [value]="kind.key"
    >
      {{ 'TOPIC_PAGE.PREVIEW_PANEL.REPORT_PROBLEM.' + kind.value | translate }}
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'TOPIC_PAGE.PREVIEW_PANEL.REPORT_PROBLEM.DESCRIBE_PROBLEM_LABEL' | translate }}
    </mat-label>
    <textarea
      matInput
      formControlName="message"
      cdkTextareaAutosize
      cdkAutosizeMinRows="5"
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'TOPIC_PAGE.PREVIEW_PANEL.REPORT_PROBLEM.EMAIL_LABEL_OPTIONAL' | translate }}
    </mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    {{ 'CANCEL' | translate }}
  </button>
  <button mat-flat-button color="primary" [disabled]="!form.valid" [mat-dialog-close]="form.value">
    {{ 'TOPIC_PAGE.PREVIEW_PANEL.REPORT_PROBLEM.REPORT' | translate }}
  </button>
</div>
