:host {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

::ng-deep .report-problem-panel .mat-mdc-dialog-container {
    // Make dialog content respect max-height of the overlay
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.problem-kind-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.problem-kind-radio-button {
    margin: 5px;
}

::ng-deep .problem-kind-radio-button {
    .mdc-radio {
        padding: 0 !important;
    }

    .mdc-form-field > label {
        padding-left: 8px;
    }
}
