:host ::ng-deep mat-slider {
    height: 34px;
    min-width: 200px;
    width: 100%;
    .mat-slider-wrapper {
        height: 6px;
        top: 14px;
        .mat-slider-thumb-container {
            width: 66.67%;
            left: 16.67%;
            .mat-slider-focus-ring {
                width: 40px;
                height: 40px;
                top: -21px;
                right: -19px;
            }
            .mat-slider-thumb {
                width: 30px;
                height: 30px;
                border-radius: 10px;
                bottom: -15px;
                transform: scale(0.9);
                border: none;
                right: -14px;
            }
        }
        .mat-slider-track-wrapper {
            height: 6px;
            border-radius: 3px;
            .mat-slider-track-background {
                height: 6px;
                transform: unset !important;
            }
            .mat-slider-track-fill {
                display: none;
            }
        }
    }
}

:host {
    display: flex;
    min-width: 0;
}

.slider-container {
    flex-grow: 1;
    min-width: 0;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    label {
        flex-basis: 0;
        flex-grow: 1;
        width: 5.5em;
        padding: 0 10px;
        text-align: center;
        cursor: pointer;
    }
}

.help-button {
    margin-top: -3px;
}
