:host ::ng-deep mat-slide-toggle {
    .mat-slide-toggle-bar {
        width: 46px;
        height: 17px;
        margin-right: 15px;
    }
    &.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
        transform: translate3d(26px, 0, 0);
    }
    .mat-slide-toggle-thumb-container {
        top: -7px;
        left: -5px;
        height: 30px;
        width: 30px;
    }
    .mat-slide-toggle-thumb {
        height: 30px;
        width: 30px;
    }
}

:host {
    display: flex;
    min-width: 0;
}

.slider-container {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    align-items: center;
}

$help-button-size: 18px;

.help-button {
    margin: -5px;
    margin-top: -7px;
    mat-icon {
        width: $help-button-size;
        height: $help-button-size;
        line-height: $help-button-size;
        font-size: $help-button-size;
    }
}
