@import '../../material';

:host {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    padding: 20px 10%;
    background-image: url('../../assets/images/search-bg.png');
    background-size: cover;
    background-position: 50%;
    .filter-button {
        position: relative;
        margin-right: 20px;
        &.has-badge {
            padding-right: 24px;
        }
        .badge {
            position: absolute;
            right: -8px;
            top: -8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height:26px;
            border-radius: 50%;
            color: #fff;
            background-color: red;
        }
        mat-icon {
            padding-right: 0.3em;
        }
    }
    app-search-field {
        height: 50px;
        flex-grow: 1;
    }
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .filter-button span{
        display: none;
    }
}
