<div class="content">
  <div class="filter-row">
    <button
      *ngIf="showFiltersButton"
      mat-flat-button
      class="filter-button"
      (click)="toggleFilterBar()"
    >
      <span i18n>Filters</span>
      <mat-icon>tune</mat-icon>
    </button>
    <app-oer-slider></app-oer-slider>
  </div>
  <app-search-field></app-search-field>
  <span class="experiments" *ngIf="showExperiments"
    ><ng-container i18n>Try our </ng-container
    ><a routerLink="/experiments" i18n>experimental features</a>!</span
  >
</div>
