@use '~@angular/material' as mat;
@import '../functions';

@mixin headerbar-theme($theme) {
    $primary: map-get($theme, primary);
    $primary-foreground-color: primary-foreground-color($theme);

    app-headerbar {
        border-color: mat.get-color-from-palette($primary);
        &[data-style='compact'] {
            background-color: mat.get-color-from-palette($primary, 400);
        }
        .filter-button {
            color: $primary-foreground-color;
        }
        .experiments {
            &,
            > a {
                color: mat.get-color-from-palette($primary, default-contrast);
            }
        }
    }
}

@mixin headerbar-typography($typography) {
}
