<p class="tagline" i18n>Find content, techniques, and tools for teaching:</p>
<button
  *ngIf="showFiltersButton"
  mat-flat-button
  class="filter-button"
  [class.has-badge]="filterCount > 0"
  (click)="toggleFilterBar()"
  [matBadge]="filterCount.toString()"
  [matBadgeHidden]="filterCount === 0"
  matBadgeColor="warn"
>
  <mat-icon>tune</mat-icon><span i18n>Filters</span>
</button>
<app-search-field *ngIf="(shouldUseNewSearchBar$ | async) === false"></app-search-field>
<app-new-search-field *ngIf="shouldUseNewSearchBar$ | async"></app-new-search-field>
<app-oer-slider></app-oer-slider>
<span class="experiments" *ngIf="showExperiments"
  ><ng-container i18n>Try our </ng-container
  ><a routerLink="/experiments" i18n>experimental features</a>!</span
>
