@import '../../material';

:host {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    background-image: url('../../assets/images/search-bg.png');
    background-size: cover;
    background-position: 50%;
    margin-bottom: 20px;
    app-search-field {
        flex-basis: 700px;
        margin-right: 20px;
    }
    .filter-button {
        margin-right: 20px;
        min-width: unset;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        span {
            margin-left: 0.3em;
            @media screen and (max-width: 450px) {
                display: none;
            }
        }
    }
}
