@import '~@angular/material/theming';
@import '../functions';

@mixin headerbar-theme($theme) {
    $primary: map-get($theme, primary);
    $primary-foreground-color: primary-foreground-color($theme);

    app-headerbar {
        border-color: mat-color($primary);
        .filter-button {
            color: $primary-foreground-color;
        }
        .experiments {
            &,
            > a {
                color: mat-color($primary, default-contrast);
            }
        }
    }
}

@mixin headerbar-typography($typography) {
}
