<header>
  <a mat-button class="filter"
          routerLink="/search"
          [queryParams]="{'filter': true}"
          queryParamsHandling="merge"
          i18n><mat-icon>tune</mat-icon> Filter...</a>
  <app-search-field></app-search-field>
</header>
<div class="alpha" i18n>
  This is a preview of the search engine for learning materials. Some results still have missing or
  wrong metadata.<br />
  This page is regularly updated with new sources, content, and functionality. Have fun browsing!
</div>
